.benefits__blocks
  display flex
  align-items flex-start
  justify-content space-between

.benefits__blocks-wrapper
  max-width 207px

.benefits__blocks-wrapper img
  max-width 100px
  margin-bottom 1rem

.benefits__blocks-title
  font-weight 400
  font-size 2rem
  line-height 2.4rem
  margin-bottom 1.2rem

.benefits__blocks-text
  font-weight 300
  font-size 1.6rem
  line-height 1.9rem
  margin-bottom 4.5rem
  text-align left

.benefits__blocks-wrapper a
  font-weight 300
  font-size 1.6rem
  line-height 1.9rem