@media (max-width 1024px)
  .game__scratch
    flex-direction column
    gap 20px

    &-item
      max-width 300px
      height 208px

      & > div
        img
          height 208px
          border-radius 54px

        canvas
          height 208px !important

@media (max-width 768px)
  .candies__item
    img
      width 100px

  .game__spinner
    width 435px
    margin-top -20px

  .game__arrow
    width 80px

  .game__button
    width 100px

  .popup
    img
      width 420px

  .popup__button
    width 300px
    bottom 30px
    left 14%
    font-size 28px

@media (max-width 460px)
  .candies__item
    img
      width 70px

  .game__spinner
    width 310px
    margin-top 0px

  .game__arrow
    top 0
    width 60px

  .game__button
    width 70px

  .popup
    img
      width 310px

  .popup__button
    width 220px
    bottom 20px
    left 14%
    font-size 22px

@media (orientation: landscape)
  .header__logo
    position static