// main colors
$white = #fff
$black = #414141
$bg = #1E1E22
$grey = #808080
$blue = #2E3DBE
$red = #E15554
$orange = #ff9000
$link = #45688f
$placeholder = #959595

// hover
$orangeHover = #FFA42E
$linkHover = #6683A3