@media (max-width 1024px)
  .intro__bottom
    &-slider
      max-width 590px

@media (max-width 915px)
  .intro__bottom
    flex-direction column
    align-items center

    .mint-title
      text-align center

    .mint-blocks
      justify-content center
      margin-bottom 50px

    &-slider
      max-width 100%

      .swiper
        overflow visible !important

@media (max-width 768px)
  .intro__inner
    padding-bottom 120px

  .intro__middle
    &-field
      &-title
        font-size 16px

      &-main
        .wallet-inner
          padding 13px 8px 9px 8px

    &-qualification
      &-title
        font-size 16px

@media (max-width 650px)
  .intro__inner
    padding-top 150px

  .intro__top
    flex-direction column
    align-items center

    &-image
      margin-bottom 50px

    &-revard
      margin-bottom 50px

  .intro__middle
    flex-direction column
    align-items center

    &-field
      margin-bottom 30px
      width 75%

      .field-inner
        width 100%

        span
          max-width 100%
          text-align left

    &-qualification
      width 75%

      .qualification__info
        max-width 96%