extends includes/page

include includes/modules/circles/index
include includes/modules/button/index
include includes/modules/picture/index

block head 
  - title = "Flows"

block styles
  link(rel="stylesheet", href="css/libs.min.css")
  link(rel="stylesheet", href="css/style.min.css")

block scripts 
  script(src="js/libs.min.js")
  script(src="js/main.js")
    
block main
  - let images = 'img/';

  .circles 
    +circle({
      color: "green",
      number: "one"
    })
    +circle({
      color: "orange",
      number: "two"
    })

  header.header
    .container 
      .header__inner
        .header__logo
          a(href="#")
            img(src= images + "logo.svg", alt="Logo")

        nav.header__menu
          ul
            li
              a(href="#").header__menu--white Flows
            li
              a(href="#").header__menu--white Components
            li
              a(href="#").header__menu--white Testing
            li
              a(href="#").header__menu--white Import/Export
            li
              a(href="#") Emulate
            li
              a(href="#") Collaborate
            li
              a(href="#") Plugins
            li
              a(href="#") Easy Start

        .header__button.intro__invest
          +button(class="invest-button" href="#")
            | Invest
            svg(width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M13.3516 7.25H7.79688L11.5 10.9766C11.6406 11.1172 11.875 11.1172 12.0156 10.9766C12.9297 10.1328 13.5625 8.98438 13.7266 7.67188C13.7734 7.46094 13.5859 7.25 13.3516 7.25ZM12.9766 5.75C12.7891 2.9375 10.5625 0.710938 7.75 0.523438C7.53906 0.5 7.375 0.6875 7.375 0.898438V6.125H12.6016C12.8125 6.125 13 5.96094 12.9766 5.75ZM6.25 7.25V1.69531C6.25 1.48438 6.03906 1.29688 5.82812 1.32031C3.01562 1.71875 0.882812 4.15625 1 7.08594C1.09375 10.0859 3.67188 12.5469 6.69531 12.5C7.86719 12.5 8.96875 12.125 9.85938 11.4688C10.0469 11.3516 10.0469 11.0703 9.88281 10.9062L6.25 7.25Z' fill='#E79B37')

  section.intro 
    .container
      .intro__inner
        h1.intro__title.wow.fadeInDown Make 
          span
            svg(width='175' height='48' viewBox='0 0 175 48' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M28.6458 16.5558C28.6458 14.8965 29.3049 13.3051 30.4783 12.1318C31.6516 10.9584 33.243 10.2992 34.9023 10.2992H38.0306C40.5197 10.2992 42.9067 9.31044 44.6668 7.55047C46.4267 5.79046 47.4155 3.40339 47.4155 0.914368H33.1644C29.477 0.914368 25.9406 2.3792 23.3331 4.9866C20.7258 7.59402 19.2609 11.1304 19.2609 14.8179V19.6841H14.5685C10.8349 19.6841 7.25436 21.1673 4.61435 23.8072C1.97435 26.4472 0.491211 30.0278 0.491211 33.7614C0.491211 37.4949 1.97435 41.0755 4.61435 43.7155C7.25436 46.3555 10.8349 47.8386 14.5685 47.8386C18.3021 47.8386 21.8827 46.3555 24.5226 43.7155C27.1626 41.0755 28.6458 37.4949 28.6458 33.7614V29.0689H38.0306C40.5197 29.0689 42.9067 28.0802 44.6668 26.3202C46.4267 24.5602 47.4155 22.1731 47.4155 19.6841H28.6458V16.5558ZM19.2609 33.7614C19.2609 34.6894 18.9857 35.5967 18.4701 36.3683C17.9545 37.14 17.2216 37.7414 16.3642 38.0966C15.5068 38.4517 14.5633 38.5447 13.653 38.3636C12.7428 38.1826 11.9067 37.7356 11.2504 37.0794C10.5942 36.4231 10.1473 35.5871 9.96625 34.6768C9.78515 33.7666 9.87812 32.8231 10.2333 31.9656C10.5884 31.1082 11.1899 30.3753 11.9616 29.8598C12.7332 29.3442 13.6404 29.0689 14.5685 29.0689H19.2609V33.7614Z' fill='white')
              path(d='M51.0815 0.914368C53.5705 0.914368 55.9575 1.90313 57.7176 3.66313C59.4776 5.42313 60.4663 7.81021 60.4663 10.2992V47.8386C57.9773 47.8386 55.5902 46.8499 53.8303 45.0899C52.0702 43.3299 51.0815 40.9428 51.0815 38.4538V0.914368Z' fill='white')
              path(d='M64.8655 19.6838V33.7611C64.8655 37.4946 66.3486 41.0752 68.9886 43.7153C71.6286 46.3553 75.2092 47.8384 78.9427 47.8384C82.6762 47.8384 86.2571 46.3553 88.8966 43.7153C91.5368 41.0752 93.02 37.4946 93.02 33.7611C93.02 30.0276 91.5368 26.447 88.8966 23.807C86.2571 21.167 82.6762 19.6838 78.9427 19.6838H64.8655ZM74.2503 29.0686H78.9427C79.871 29.0686 80.7779 29.3439 81.55 29.8595C82.3213 30.375 82.9225 31.1079 83.2781 31.9653C83.633 32.8228 83.7261 33.7663 83.545 34.6765C83.3639 35.5868 82.9174 36.4229 82.2604 37.0791C81.6042 37.7354 80.7684 38.1823 79.8585 38.3633C78.9479 38.5444 78.0043 38.4514 77.1472 38.0963C76.2893 37.7411 75.5567 37.1397 75.0411 36.3681C74.5255 35.5964 74.2503 34.6891 74.2503 33.7611V29.0686Z' fill='white')
              path(d='M143.718 19.6838V33.7611L143.714 34.0807C143.632 37.6985 142.159 41.1507 139.595 43.7153C136.955 46.3553 133.374 47.8384 129.641 47.8384C126.145 47.8384 122.782 46.5379 120.202 44.2047C117.622 46.5379 114.259 47.8384 110.763 47.8384C107.03 47.8384 103.449 46.3553 100.809 43.7153C98.2445 41.1507 96.7717 37.6985 96.6896 34.0807L96.686 33.7611V19.6838C101.869 19.6838 106.071 23.8855 106.071 29.0686V33.7611C106.071 34.6891 106.346 35.5964 106.862 36.3681C107.377 37.1397 108.11 37.7411 108.968 38.0963C109.825 38.4514 110.768 38.5444 111.679 38.3633C112.589 38.1823 113.425 37.7354 114.081 37.0791C114.37 36.7906 114.618 36.4674 114.821 36.1184C114.825 36.1074 114.829 36.0971 114.833 36.0869C115.082 35.6509 115.261 35.1748 115.36 34.6765L115.372 34.5923L115.388 34.3956L115.398 34.2202L115.407 33.9916C115.411 33.9176 115.413 33.8442 115.413 33.7714L115.413 33.7614L115.432 32.7103L115.44 31.366L115.438 29.2112L115.379 21.8128L115.365 20.4587C120.418 20.4587 124.561 24.3528 124.956 29.3034L124.953 31.366L124.961 32.7103L124.979 33.7611H124.984L124.985 33.7714L125.001 34.2202L125.01 34.3956L125.026 34.5923L125.038 34.6765C125.22 35.5868 125.666 36.4229 126.323 37.0791C126.979 37.7354 127.815 38.1823 128.725 38.3633C129.636 38.5444 130.579 38.4514 131.436 38.0963C132.294 37.7411 133.027 37.1397 133.542 36.3681C134.058 35.5964 134.333 34.6891 134.333 33.7611V29.0686C134.333 23.8855 138.535 19.6838 143.718 19.6838Z' fill='white')
              path(d='M174.805 19.6835C174.805 22.1078 173.817 24.4328 172.057 26.1471C171.095 27.0838 169.946 27.7963 168.695 28.2498L157.572 28.2493C156.936 28.2493 156.422 28.7643 156.422 29.3994L168.761 29.3995C169.986 29.8734 171.112 30.6072 172.057 31.5667C173.817 33.3546 174.805 35.7789 174.805 38.3066L174.802 38.5776C174.734 41.0073 173.754 43.3237 172.057 45.0471C170.297 46.8344 167.91 47.8384 165.421 47.8384H146.651C146.651 45.3106 147.64 42.8864 149.4 41.0991C150.39 40.0936 151.579 39.3358 152.872 38.8653L164.06 38.8657C164.695 38.8657 165.21 38.3508 165.21 37.7156L152.785 37.7166C151.525 37.2441 150.368 36.4978 149.4 35.5145C147.64 33.7274 146.651 31.3031 146.651 28.7754L146.652 28.8242L146.651 28.8244V28.7754L146.652 28.7751L146.655 28.565C146.722 26.2348 147.703 24.0138 149.4 22.3608C151.16 20.6466 153.547 19.6835 156.036 19.6835H174.805Z' fill='white')
          |, not 
          span Artboards

        p.intro__message.wow.fadeInDown(data-wow-delay=".2s")
          | A new comprehensive 
          span app
          | roach to 
          span UI 
          | design on 
          span tablets

        form.intro__form(action="#").wow.fadeInDown(data-wow-delay=".4s")
          input.intro__input(type="text" placeholder="Enter your email to become the first tester")
          +button(type="submit")
            | Get App

        .intro__invest.wow.fadeInDown(data-wow-delay=".6s")
          +button(class="invest-button" href="#")
            | Invest
            svg(width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M13.3516 7.25H7.79688L11.5 10.9766C11.6406 11.1172 11.875 11.1172 12.0156 10.9766C12.9297 10.1328 13.5625 8.98438 13.7266 7.67188C13.7734 7.46094 13.5859 7.25 13.3516 7.25ZM12.9766 5.75C12.7891 2.9375 10.5625 0.710938 7.75 0.523438C7.53906 0.5 7.375 0.6875 7.375 0.898438V6.125H12.6016C12.8125 6.125 13 5.96094 12.9766 5.75ZM6.25 7.25V1.69531C6.25 1.48438 6.03906 1.29688 5.82812 1.32031C3.01562 1.71875 0.882812 4.15625 1 7.08594C1.09375 10.0859 3.67188 12.5469 6.69531 12.5C7.86719 12.5 8.96875 12.125 9.85938 11.4688C10.0469 11.3516 10.0469 11.0703 9.88281 10.9062L6.25 7.25Z' fill='#E79B37')

  section.pictures
    .pictures__img.phone-row.parallax(data-rellax-speed="5")
      +picture({
        lazy: false,
        path: images + "phones/phones1.png",
        attr: { "alt": "phones" },
        mainAttr: {
          "class": "wow fadeInUp",
          "data-wow-duration": "2s",
          "data-wow-offset": "10",
          "data-wow-delay": ".1s"
          }
      })
      +picture({
        lazy: false,
        path: images + "phones/phones2.png",
        attr: { "alt": "phones" },
        mainAttr: {
          "class": "wow fadeInUp",
          "data-wow-duration": "2s",
          "data-wow-offset": "20",
          "data-wow-delay": ".3s"
          }
      })
      +picture({
        lazy: false,
        path: images + "phones/phones3.png",
        attr: { "alt": "phones" },
        mainAttr: {
          "class": "pictures__img-row wow fadeInUp",
          "data-wow-duration": "2s",
          "data-wow-offset": "30",
          "data-wow-delay": ".6s"
        }
      })
    .pictures__absolute
      .pictures__img.phone.phone-left.parallax.wow.fadeInLeft(data-rellax-speed="4" data-wow-duration="1s" data-wow-offset="10")
        +picture({
          lazy: false,
          path: images + "phones/left-phone.png",
          attr: { "alt": "phones" }
        })
      .pictures__img.phone.phone-right.parallax.wow.fadeInRight(data-rellax-speed="4" data-wow-duration="1s" data-wow-offset="10")
        +picture({
          lazy: false,
          path: images + "phones/right-phone.png",
          attr: { "alt": "phones" }
        })

  +circle({
    color: "green",
    number: "three"
  })

  section.features
    .container
      .features__inner
        +circle({
          color: "green",
          number: "four"
        })
        +circle({
          color: "orange",
          number: "five"
        })
        +circle({
          color: "blue",
          number: "six"
        })
        h2.features__title Application  
          span Features

        .features__block
          .features__block-img.wow.fadeInLeft
            +picture({
              lazy: false,
              path: images + "features/features-img1.png",
              attr: { "alt": "phones" }
            })
          .features__block-info.right.wow.fadeInRight
            h3.features__block-title Create 
              span step-by-step 
              | flows

            p.features__block-message
              | Prototypes, wireframes, apps, pages, funnels, presentations, tests, processes and more
            
            .features__block-buttons
              +button(href="#")
                svg(width='20' height='24' viewBox='0 0 20 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M16.1964 12.763C16.2081 11.8431 16.4508 10.9411 16.9018 10.141C17.3528 9.34093 17.9974 8.6687 18.7757 8.18688C18.2813 7.47583 17.629 6.89066 16.8707 6.47785C16.1123 6.06504 15.2688 5.83597 14.4072 5.80883C12.5692 5.61457 10.7873 6.91628 9.85072 6.91628C8.89598 6.91628 7.45392 5.82811 5.90105 5.86029C4.89661 5.89296 3.91771 6.18707 3.05971 6.71395C2.20172 7.24084 1.4939 7.98253 1.00522 8.86676C-1.11163 12.5572 0.467352 17.9808 2.49512 20.9639C3.50966 22.4246 4.69536 24.0562 6.24683 23.9984C7.76503 23.935 8.33205 23.0235 10.1647 23.0235C11.9802 23.0235 12.5122 23.9984 14.0952 23.9616C15.7243 23.9349 16.7507 22.4944 17.7296 21.0198C18.4586 19.979 19.0195 18.8287 19.3916 17.6115C18.4451 17.2084 17.6375 16.5337 17.0693 15.6715C16.501 14.8093 16.1975 13.7978 16.1964 12.763Z' fill='white')
                  path(d='M13.2068 3.84712C14.0951 2.77342 14.5327 1.39335 14.4267 0C13.0697 0.14352 11.8161 0.796598 10.9159 1.82911C10.4757 2.33352 10.1386 2.92033 9.9238 3.55601C9.709 4.19169 9.62073 4.86376 9.66403 5.5338C10.3428 5.54084 11.0143 5.3927 11.628 5.10054C12.2417 4.80838 12.7815 4.37981 13.2068 3.84712Z' fill='white')
                | for iPad
              +button(href="#")
                svg(width='22' height='24' viewBox='0 0 22 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M0.499128 23.5596L0.43008 23.4932C0.159653 23.2059 0 22.7598 0 22.1821V22.3181V1.68164C0 1.67977 0 1.67837 0 1.67688C0 1.67865 0 1.68014 0 1.68201V1.81833C0 1.19278 0.186138 0.721571 0.498012 0.439027L12.0119 11.9997L0.499128 23.5596ZM0 1.67576C0 1.62434 0.00139388 1.57442 0.00399593 1.52525C0.00139388 1.57405 0 1.62434 0 1.67576ZM0.00399593 1.52301C0.00399593 1.52236 0.00399506 1.52161 0.00427385 1.52086C0.00399506 1.52161 0.00399593 1.52236 0.00399593 1.52301ZM0.00427385 1.51648C0.00427385 1.5161 0.00427385 1.51573 0.00427385 1.51536C0.00427385 1.51573 0.00427385 1.5161 0.00427385 1.51648Z' fill='url(#paint0_linear_594_33949)')
                  path(d='M15.8491 15.9912L15.9366 15.9413L20.4836 13.3472C20.9171 13.0997 21.206 12.7997 21.3502 12.4823C21.2064 12.7997 20.9174 13.1001 20.4836 13.3476L15.9366 15.9417L15.8491 15.9912ZM15.8502 15.8545L12.0117 11.9997L15.8498 8.14552L20.4836 10.7888C21.072 11.1245 21.4024 11.5572 21.4576 11.9993C21.4576 11.9997 21.4576 12.0004 21.4576 12.0011C21.4024 12.4422 21.072 12.8752 20.4836 13.2109L15.8502 15.8545Z' fill='url(#paint1_linear_594_33949)')
                  path(d='M1.32047 24C0.998843 24 0.718194 23.895 0.499344 23.6967L0.499717 23.6964C0.718567 23.8947 0.999587 24 1.32122 24C1.3491 24 1.37744 23.9993 1.40616 23.9979C1.37707 23.9993 1.34835 24 1.32047 24ZM1.32085 23.8633C0.999216 23.8637 0.718567 23.7583 0.499717 23.56V23.5598L12.0125 11.9999L15.8509 15.8547L2.36194 23.5502C1.98873 23.7627 1.63514 23.8633 1.32085 23.8633ZM0.496464 23.6942C0.476112 23.6757 0.456132 23.656 0.436523 23.6355L0.496464 23.6942Z' fill='url(#paint2_linear_594_33949)')
                  path(d='M12.0129 12L0.499023 0.439359C0.717874 0.241449 0.998151 0.136475 1.31941 0.136475C1.63454 0.136475 1.98841 0.237437 2.36236 0.450277L15.851 8.14583L12.0129 12ZM15.9378 8.05877L2.36236 0.314043C1.98841 0.10111 1.63454 0.000149234 1.31941 0.000149234C1.31792 0.000149234 1.3169 0.000149234 1.31541 0.000149234C1.31727 0.000149234 1.31867 0.000149234 1.3209 0.000149234C1.63528 0.000149234 1.98879 0.100736 2.36236 0.31367L15.9378 8.05877Z' fill='url(#paint3_linear_594_33949)')
                  path(d='M1.40518 23.998C1.69735 23.9813 2.02084 23.8803 2.36096 23.6868L15.8488 15.9916L2.36096 23.6868C2.02111 23.8807 1.69735 23.9813 1.40518 23.998ZM0.498363 23.6969L0.495483 23.6944C0.496505 23.6952 0.497619 23.6962 0.498363 23.6969ZM0.435542 23.6357L0.429688 23.6299V23.6296C0.431918 23.6317 0.433684 23.6339 0.435542 23.6357Z' fill='black')
                  path(d='M15.8486 15.9912L15.9362 15.9413L15.8486 15.9912Z' fill='url(#paint4_linear_594_33949)')
                  path(d='M1.32121 24C0.999583 24 0.718563 23.8947 0.499712 23.6964L0.499339 23.6967C0.498596 23.696 0.497482 23.695 0.496459 23.6942L0.436519 23.6355C0.43466 23.6337 0.432894 23.6315 0.430664 23.6294L0.499712 23.56C0.718563 23.7583 0.999211 23.8637 1.32084 23.8633C1.63513 23.8633 1.98873 23.7627 2.36194 23.5502L15.8509 15.8547L15.9373 15.9415L15.8498 15.9914L2.36194 23.6866C2.02181 23.8801 1.69832 23.9811 1.40615 23.9979C1.37744 23.9993 1.34909 24 1.32121 24Z' fill='url(#paint5_linear_594_33949)')
                  path(d='M0.430082 23.6299C0.159654 23.3426 0 22.8965 0 22.3188V22.3184C0 22.8965 0.159654 23.3422 0.430082 23.6295V23.6299Z' fill='black')
                  path(d='M0.430079 23.6289C0.159653 23.3416 0 22.8959 0 22.3178V22.1819C0 22.7595 0.159653 23.2057 0.430079 23.493L0.499127 23.5593L0.430079 23.6289Z' fill='url(#paint6_linear_594_33949)')
                  path(d='M0.430664 23.6299L0.499711 23.5603V23.5606L0.430664 23.6299Z' fill='url(#paint7_linear_594_33949)')
                  path(d='M21.3506 12.4824C21.4221 12.3249 21.458 12.1631 21.458 12.0012C21.458 12.0009 21.458 12.0006 21.458 12.0006C21.458 12.1627 21.4221 12.3245 21.3506 12.4824Z' fill='black')
                  path(d='M15.937 15.9414L15.8506 15.8546L20.484 13.211C21.0724 12.8753 21.4028 12.4423 21.458 12.0012C21.458 12.1631 21.422 12.3249 21.3506 12.4824C21.2064 12.7998 20.9175 13.0998 20.484 13.3473L15.937 15.9414Z' fill='url(#paint8_linear_594_33949)')
                  path(d='M21.4579 12V11.9996C21.4575 11.5115 21.1326 11.0235 20.4839 10.6532L15.9369 8.05906H15.9365L15.9369 8.05877L20.4839 10.6528C21.1334 11.0231 21.4586 11.5119 21.4579 12Z' fill='#404040')
                  path(d='M21.4584 12C21.4032 11.5579 21.0728 11.1252 20.4844 10.7895L15.8506 8.14621L15.937 8.05943H15.9374L20.4844 10.6535C21.1331 11.0239 21.458 11.5119 21.4584 12Z' fill='url(#paint9_linear_594_33949)')
                  path(d='M0 1.67676C0 1.67638 0 1.67601 0 1.67564C0 1.67601 0 1.67638 0 1.67676ZM0.00399592 1.52513C0.00399592 1.52438 0.00399592 1.52364 0.00399592 1.52289C0.00399592 1.52364 0.00399592 1.52438 0.00399592 1.52513ZM0.00427385 1.52074C0.00427385 1.51925 0.00427385 1.51785 0.00427385 1.51636C0.00427385 1.51785 0.00427385 1.51925 0.00427385 1.52074ZM0.00427385 1.51524C0.0580803 0.556665 0.577188 0.00296272 1.31152 -0.000303041C0.993142 0.00156311 0.715839 0.106537 0.498754 0.302955V0.302582L0.496152 0.305193C0.473292 0.325908 0.451546 0.347836 0.430079 0.370417C0.186138 0.629539 0.0322458 1.01771 0.00427385 1.51524Z' fill='#404040')
                  path(d='M0 1.81836V1.68203C0 1.68017 0 1.67867 0 1.6769C0 1.67653 0 1.67616 0 1.67578C0 1.62437 0.00139389 1.57407 0.00399593 1.52527C0.00399593 1.52453 0.00399593 1.52378 0.00399593 1.52303C0.00399593 1.52238 0.00399507 1.52163 0.00427386 1.52089C0.00427386 1.51939 0.00427386 1.518 0.00427386 1.5165C0.00427386 1.51613 0.00427386 1.51576 0.00427386 1.51538C0.0322459 1.01785 0.186138 0.629682 0.43008 0.37056L0.498013 0.43905C0.186139 0.721593 0 1.19281 0 1.81836ZM0.496154 0.305335L0.498756 0.302724C0.498012 0.303844 0.496897 0.304589 0.496154 0.305335Z' fill='url(#paint10_linear_594_33949)')
                  path(d='M15.8506 8.14551L2.36194 0.449953C1.98799 0.237113 1.63411 0.136151 1.31898 0.136151C0.997724 0.136151 0.717447 0.241124 0.498596 0.439035L0.430664 0.370545C0.452131 0.347964 0.473876 0.326036 0.496737 0.305321C0.497481 0.304574 0.498596 0.303829 0.499339 0.303082C0.716424 0.106665 0.993727 0.00169116 1.31211 -0.000174991C1.31285 -0.000174991 1.31387 -0.000174991 1.31499 -0.000174991C1.31647 -0.000174991 1.3175 -0.000174991 1.31898 -0.000174991C1.63411 -0.000174991 1.98799 0.100785 2.36194 0.313718L15.9373 8.05845L15.937 8.05873L15.8506 8.14551Z' fill='url(#paint11_linear_594_33949)')
                  defs
                    lineargradient#paint0_linear_594_33949(x1='10.9909' y1='1.46394' x2='-4.66869' y2='17.0598' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#00A0FF')
                      stop(offset='0.00657445' stop-color='#00A1FF')
                      stop(offset='0.2601' stop-color='#00BEFF')
                      stop(offset='0.5122' stop-color='#00D2FF')
                      stop(offset='0.7604' stop-color='#00DFFF')
                      stop(offset='1' stop-color='#00E3FF')
                    lineargradient#paint1_linear_594_33949(x1='22.1746' y1='12.0002' x2='-0.311737' y2='12.0002' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#FFE000')
                      stop(offset='0.4087' stop-color='#FFBD00')
                      stop(offset='0.7754' stop-color='#FFA500')
                      stop(offset='1' stop-color='#FF9C00')
                    lineargradient#paint2_linear_594_33949(x1='13.8047' y1='14.1416' x2='-7.43091' y2='35.2907' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#FF3A44')
                      stop(offset='1' stop-color='#C31162')
                    lineargradient#paint3_linear_594_33949(x1='-2.48524' y1='-6.49833' x2='6.99731' y2='2.94561' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#32A071')
                      stop(offset='0.0685' stop-color='#2DA771')
                      stop(offset='0.4762' stop-color='#15CF74')
                      stop(offset='0.8009' stop-color='#06E775')
                      stop(offset='1' stop-color='#00F076')
                    lineargradient#paint4_linear_594_33949(x1='22.1738' y1='12' x2='-0.311534' y2='12' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#CCB300')
                      stop(offset='0.4087' stop-color='#CC9700')
                      stop(offset='0.7754' stop-color='#CC8400')
                      stop(offset='1' stop-color='#CC7D00')
                    lineargradient#paint5_linear_594_33949(x1='13.8047' y1='14.1416' x2='-7.43091' y2='35.2907' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#CC2E36')
                      stop(offset='1' stop-color='#9C0E4E')
                    lineargradient#paint6_linear_594_33949(x1='10.9909' y1='1.46366' x2='-4.66871' y2='17.0595' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#008DE0')
                      stop(offset='0.00657445' stop-color='#008DE0')
                      stop(offset='0.2601' stop-color='#00A7E0')
                      stop(offset='0.5122' stop-color='#00B8E0')
                      stop(offset='0.7604' stop-color='#00C4E0')
                      stop(offset='1' stop-color='#00C7E0')
                    lineargradient#paint7_linear_594_33949(x1='13.8047' y1='14.1418' x2='-7.43146' y2='35.291' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#E0333C')
                      stop(offset='1' stop-color='#AB0F56')
                    lineargradient#paint8_linear_594_33949(x1='22.1749' y1='12.0004' x2='-0.311349' y2='12.0004' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#E0C500')
                      stop(offset='0.4087' stop-color='#E0A600')
                      stop(offset='0.7754' stop-color='#E09100')
                      stop(offset='1' stop-color='#E08900')
                    lineargradient#paint9_linear_594_33949(x1='22.1753' y1='12.0009' x2='-0.310972' y2='12.0009' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#FFE840')
                      stop(offset='0.4087' stop-color='#FFCE40')
                      stop(offset='0.7754' stop-color='#FFBC40')
                      stop(offset='1' stop-color='#FFB540')
                    lineargradient#paint10_linear_594_33949(x1='10.9909' y1='1.46397' x2='-4.6687' y2='17.0598' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#40B8FF')
                      stop(offset='0.00657445' stop-color='#40B9FF')
                      stop(offset='0.2601' stop-color='#40CEFF')
                      stop(offset='0.5122' stop-color='#40DDFF')
                      stop(offset='0.7604' stop-color='#40E7FF')
                      stop(offset='1' stop-color='#40EAFF')
                    lineargradient#paint11_linear_594_33949(x1='-2.48567' y1='-6.49866' x2='6.99688' y2='2.94528' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#65B895')
                      stop(offset='0.0685' stop-color='#62BD95')
                      stop(offset='0.4762' stop-color='#50DB97')
                      stop(offset='0.8009' stop-color='#44ED98')
                      stop(offset='1' stop-color='#40F498')
                | for Android

        .features__block
          .features__block-info.left.wow.fadeInLeft
            h3.features__block-title Make 
              span components 
              | better

            p.features__block-message
              | Set spaces, alignment, auto-layout, variants, constrains and more
            
            .features__block-buttons
              +button(href="#")
                svg(width='20' height='24' viewBox='0 0 20 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M16.1964 12.763C16.2081 11.8431 16.4508 10.9411 16.9018 10.141C17.3528 9.34093 17.9974 8.6687 18.7757 8.18688C18.2813 7.47583 17.629 6.89066 16.8707 6.47785C16.1123 6.06504 15.2688 5.83597 14.4072 5.80883C12.5692 5.61457 10.7873 6.91628 9.85072 6.91628C8.89598 6.91628 7.45392 5.82811 5.90105 5.86029C4.89661 5.89296 3.91771 6.18707 3.05971 6.71395C2.20172 7.24084 1.4939 7.98253 1.00522 8.86676C-1.11163 12.5572 0.467352 17.9808 2.49512 20.9639C3.50966 22.4246 4.69536 24.0562 6.24683 23.9984C7.76503 23.935 8.33205 23.0235 10.1647 23.0235C11.9802 23.0235 12.5122 23.9984 14.0952 23.9616C15.7243 23.9349 16.7507 22.4944 17.7296 21.0198C18.4586 19.979 19.0195 18.8287 19.3916 17.6115C18.4451 17.2084 17.6375 16.5337 17.0693 15.6715C16.501 14.8093 16.1975 13.7978 16.1964 12.763Z' fill='white')
                  path(d='M13.2068 3.84712C14.0951 2.77342 14.5327 1.39335 14.4267 0C13.0697 0.14352 11.8161 0.796598 10.9159 1.82911C10.4757 2.33352 10.1386 2.92033 9.9238 3.55601C9.709 4.19169 9.62073 4.86376 9.66403 5.5338C10.3428 5.54084 11.0143 5.3927 11.628 5.10054C12.2417 4.80838 12.7815 4.37981 13.2068 3.84712Z' fill='white')
                | for iPad
              +button(href="#")
                svg(width='22' height='24' viewBox='0 0 22 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M0.499128 23.5596L0.43008 23.4932C0.159653 23.2059 0 22.7598 0 22.1821V22.3181V1.68164C0 1.67977 0 1.67837 0 1.67688C0 1.67865 0 1.68014 0 1.68201V1.81833C0 1.19278 0.186138 0.721571 0.498012 0.439027L12.0119 11.9997L0.499128 23.5596ZM0 1.67576C0 1.62434 0.00139388 1.57442 0.00399593 1.52525C0.00139388 1.57405 0 1.62434 0 1.67576ZM0.00399593 1.52301C0.00399593 1.52236 0.00399506 1.52161 0.00427385 1.52086C0.00399506 1.52161 0.00399593 1.52236 0.00399593 1.52301ZM0.00427385 1.51648C0.00427385 1.5161 0.00427385 1.51573 0.00427385 1.51536C0.00427385 1.51573 0.00427385 1.5161 0.00427385 1.51648Z' fill='url(#paint0_linear_594_33949)')
                  path(d='M15.8491 15.9912L15.9366 15.9413L20.4836 13.3472C20.9171 13.0997 21.206 12.7997 21.3502 12.4823C21.2064 12.7997 20.9174 13.1001 20.4836 13.3476L15.9366 15.9417L15.8491 15.9912ZM15.8502 15.8545L12.0117 11.9997L15.8498 8.14552L20.4836 10.7888C21.072 11.1245 21.4024 11.5572 21.4576 11.9993C21.4576 11.9997 21.4576 12.0004 21.4576 12.0011C21.4024 12.4422 21.072 12.8752 20.4836 13.2109L15.8502 15.8545Z' fill='url(#paint1_linear_594_33949)')
                  path(d='M1.32047 24C0.998843 24 0.718194 23.895 0.499344 23.6967L0.499717 23.6964C0.718567 23.8947 0.999587 24 1.32122 24C1.3491 24 1.37744 23.9993 1.40616 23.9979C1.37707 23.9993 1.34835 24 1.32047 24ZM1.32085 23.8633C0.999216 23.8637 0.718567 23.7583 0.499717 23.56V23.5598L12.0125 11.9999L15.8509 15.8547L2.36194 23.5502C1.98873 23.7627 1.63514 23.8633 1.32085 23.8633ZM0.496464 23.6942C0.476112 23.6757 0.456132 23.656 0.436523 23.6355L0.496464 23.6942Z' fill='url(#paint2_linear_594_33949)')
                  path(d='M12.0129 12L0.499023 0.439359C0.717874 0.241449 0.998151 0.136475 1.31941 0.136475C1.63454 0.136475 1.98841 0.237437 2.36236 0.450277L15.851 8.14583L12.0129 12ZM15.9378 8.05877L2.36236 0.314043C1.98841 0.10111 1.63454 0.000149234 1.31941 0.000149234C1.31792 0.000149234 1.3169 0.000149234 1.31541 0.000149234C1.31727 0.000149234 1.31867 0.000149234 1.3209 0.000149234C1.63528 0.000149234 1.98879 0.100736 2.36236 0.31367L15.9378 8.05877Z' fill='url(#paint3_linear_594_33949)')
                  path(d='M1.40518 23.998C1.69735 23.9813 2.02084 23.8803 2.36096 23.6868L15.8488 15.9916L2.36096 23.6868C2.02111 23.8807 1.69735 23.9813 1.40518 23.998ZM0.498363 23.6969L0.495483 23.6944C0.496505 23.6952 0.497619 23.6962 0.498363 23.6969ZM0.435542 23.6357L0.429688 23.6299V23.6296C0.431918 23.6317 0.433684 23.6339 0.435542 23.6357Z' fill='black')
                  path(d='M15.8486 15.9912L15.9362 15.9413L15.8486 15.9912Z' fill='url(#paint4_linear_594_33949)')
                  path(d='M1.32121 24C0.999583 24 0.718563 23.8947 0.499712 23.6964L0.499339 23.6967C0.498596 23.696 0.497482 23.695 0.496459 23.6942L0.436519 23.6355C0.43466 23.6337 0.432894 23.6315 0.430664 23.6294L0.499712 23.56C0.718563 23.7583 0.999211 23.8637 1.32084 23.8633C1.63513 23.8633 1.98873 23.7627 2.36194 23.5502L15.8509 15.8547L15.9373 15.9415L15.8498 15.9914L2.36194 23.6866C2.02181 23.8801 1.69832 23.9811 1.40615 23.9979C1.37744 23.9993 1.34909 24 1.32121 24Z' fill='url(#paint5_linear_594_33949)')
                  path(d='M0.430082 23.6299C0.159654 23.3426 0 22.8965 0 22.3188V22.3184C0 22.8965 0.159654 23.3422 0.430082 23.6295V23.6299Z' fill='black')
                  path(d='M0.430079 23.6289C0.159653 23.3416 0 22.8959 0 22.3178V22.1819C0 22.7595 0.159653 23.2057 0.430079 23.493L0.499127 23.5593L0.430079 23.6289Z' fill='url(#paint6_linear_594_33949)')
                  path(d='M0.430664 23.6299L0.499711 23.5603V23.5606L0.430664 23.6299Z' fill='url(#paint7_linear_594_33949)')
                  path(d='M21.3506 12.4824C21.4221 12.3249 21.458 12.1631 21.458 12.0012C21.458 12.0009 21.458 12.0006 21.458 12.0006C21.458 12.1627 21.4221 12.3245 21.3506 12.4824Z' fill='black')
                  path(d='M15.937 15.9414L15.8506 15.8546L20.484 13.211C21.0724 12.8753 21.4028 12.4423 21.458 12.0012C21.458 12.1631 21.422 12.3249 21.3506 12.4824C21.2064 12.7998 20.9175 13.0998 20.484 13.3473L15.937 15.9414Z' fill='url(#paint8_linear_594_33949)')
                  path(d='M21.4579 12V11.9996C21.4575 11.5115 21.1326 11.0235 20.4839 10.6532L15.9369 8.05906H15.9365L15.9369 8.05877L20.4839 10.6528C21.1334 11.0231 21.4586 11.5119 21.4579 12Z' fill='#404040')
                  path(d='M21.4584 12C21.4032 11.5579 21.0728 11.1252 20.4844 10.7895L15.8506 8.14621L15.937 8.05943H15.9374L20.4844 10.6535C21.1331 11.0239 21.458 11.5119 21.4584 12Z' fill='url(#paint9_linear_594_33949)')
                  path(d='M0 1.67676C0 1.67638 0 1.67601 0 1.67564C0 1.67601 0 1.67638 0 1.67676ZM0.00399592 1.52513C0.00399592 1.52438 0.00399592 1.52364 0.00399592 1.52289C0.00399592 1.52364 0.00399592 1.52438 0.00399592 1.52513ZM0.00427385 1.52074C0.00427385 1.51925 0.00427385 1.51785 0.00427385 1.51636C0.00427385 1.51785 0.00427385 1.51925 0.00427385 1.52074ZM0.00427385 1.51524C0.0580803 0.556665 0.577188 0.00296272 1.31152 -0.000303041C0.993142 0.00156311 0.715839 0.106537 0.498754 0.302955V0.302582L0.496152 0.305193C0.473292 0.325908 0.451546 0.347836 0.430079 0.370417C0.186138 0.629539 0.0322458 1.01771 0.00427385 1.51524Z' fill='#404040')
                  path(d='M0 1.81836V1.68203C0 1.68017 0 1.67867 0 1.6769C0 1.67653 0 1.67616 0 1.67578C0 1.62437 0.00139389 1.57407 0.00399593 1.52527C0.00399593 1.52453 0.00399593 1.52378 0.00399593 1.52303C0.00399593 1.52238 0.00399507 1.52163 0.00427386 1.52089C0.00427386 1.51939 0.00427386 1.518 0.00427386 1.5165C0.00427386 1.51613 0.00427386 1.51576 0.00427386 1.51538C0.0322459 1.01785 0.186138 0.629682 0.43008 0.37056L0.498013 0.43905C0.186139 0.721593 0 1.19281 0 1.81836ZM0.496154 0.305335L0.498756 0.302724C0.498012 0.303844 0.496897 0.304589 0.496154 0.305335Z' fill='url(#paint10_linear_594_33949)')
                  path(d='M15.8506 8.14551L2.36194 0.449953C1.98799 0.237113 1.63411 0.136151 1.31898 0.136151C0.997724 0.136151 0.717447 0.241124 0.498596 0.439035L0.430664 0.370545C0.452131 0.347964 0.473876 0.326036 0.496737 0.305321C0.497481 0.304574 0.498596 0.303829 0.499339 0.303082C0.716424 0.106665 0.993727 0.00169116 1.31211 -0.000174991C1.31285 -0.000174991 1.31387 -0.000174991 1.31499 -0.000174991C1.31647 -0.000174991 1.3175 -0.000174991 1.31898 -0.000174991C1.63411 -0.000174991 1.98799 0.100785 2.36194 0.313718L15.9373 8.05845L15.937 8.05873L15.8506 8.14551Z' fill='url(#paint11_linear_594_33949)')
                  defs
                    lineargradient#paint0_linear_594_33949(x1='10.9909' y1='1.46394' x2='-4.66869' y2='17.0598' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#00A0FF')
                      stop(offset='0.00657445' stop-color='#00A1FF')
                      stop(offset='0.2601' stop-color='#00BEFF')
                      stop(offset='0.5122' stop-color='#00D2FF')
                      stop(offset='0.7604' stop-color='#00DFFF')
                      stop(offset='1' stop-color='#00E3FF')
                    lineargradient#paint1_linear_594_33949(x1='22.1746' y1='12.0002' x2='-0.311737' y2='12.0002' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#FFE000')
                      stop(offset='0.4087' stop-color='#FFBD00')
                      stop(offset='0.7754' stop-color='#FFA500')
                      stop(offset='1' stop-color='#FF9C00')
                    lineargradient#paint2_linear_594_33949(x1='13.8047' y1='14.1416' x2='-7.43091' y2='35.2907' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#FF3A44')
                      stop(offset='1' stop-color='#C31162')
                    lineargradient#paint3_linear_594_33949(x1='-2.48524' y1='-6.49833' x2='6.99731' y2='2.94561' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#32A071')
                      stop(offset='0.0685' stop-color='#2DA771')
                      stop(offset='0.4762' stop-color='#15CF74')
                      stop(offset='0.8009' stop-color='#06E775')
                      stop(offset='1' stop-color='#00F076')
                    lineargradient#paint4_linear_594_33949(x1='22.1738' y1='12' x2='-0.311534' y2='12' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#CCB300')
                      stop(offset='0.4087' stop-color='#CC9700')
                      stop(offset='0.7754' stop-color='#CC8400')
                      stop(offset='1' stop-color='#CC7D00')
                    lineargradient#paint5_linear_594_33949(x1='13.8047' y1='14.1416' x2='-7.43091' y2='35.2907' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#CC2E36')
                      stop(offset='1' stop-color='#9C0E4E')
                    lineargradient#paint6_linear_594_33949(x1='10.9909' y1='1.46366' x2='-4.66871' y2='17.0595' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#008DE0')
                      stop(offset='0.00657445' stop-color='#008DE0')
                      stop(offset='0.2601' stop-color='#00A7E0')
                      stop(offset='0.5122' stop-color='#00B8E0')
                      stop(offset='0.7604' stop-color='#00C4E0')
                      stop(offset='1' stop-color='#00C7E0')
                    lineargradient#paint7_linear_594_33949(x1='13.8047' y1='14.1418' x2='-7.43146' y2='35.291' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#E0333C')
                      stop(offset='1' stop-color='#AB0F56')
                    lineargradient#paint8_linear_594_33949(x1='22.1749' y1='12.0004' x2='-0.311349' y2='12.0004' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#E0C500')
                      stop(offset='0.4087' stop-color='#E0A600')
                      stop(offset='0.7754' stop-color='#E09100')
                      stop(offset='1' stop-color='#E08900')
                    lineargradient#paint9_linear_594_33949(x1='22.1753' y1='12.0009' x2='-0.310972' y2='12.0009' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#FFE840')
                      stop(offset='0.4087' stop-color='#FFCE40')
                      stop(offset='0.7754' stop-color='#FFBC40')
                      stop(offset='1' stop-color='#FFB540')
                    lineargradient#paint10_linear_594_33949(x1='10.9909' y1='1.46397' x2='-4.6687' y2='17.0598' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#40B8FF')
                      stop(offset='0.00657445' stop-color='#40B9FF')
                      stop(offset='0.2601' stop-color='#40CEFF')
                      stop(offset='0.5122' stop-color='#40DDFF')
                      stop(offset='0.7604' stop-color='#40E7FF')
                      stop(offset='1' stop-color='#40EAFF')
                    lineargradient#paint11_linear_594_33949(x1='-2.48567' y1='-6.49866' x2='6.99688' y2='2.94528' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#65B895')
                      stop(offset='0.0685' stop-color='#62BD95')
                      stop(offset='0.4762' stop-color='#50DB97')
                      stop(offset='0.8009' stop-color='#44ED98')
                      stop(offset='1' stop-color='#40F498')
                | for Android
          .features__block-img.wow.fadeInRight
            +picture({
              lazy: false,
              path: images + "features/features-img2.png",
              attr: { "alt": "phones" }
            })

        .features__block 
          .features__block-img.wow.fadeInLeft
            +picture({
              lazy: false,
              path: images + "features/features-img3.png",
              attr: { "alt": "phones" }
            })
          .features__block-info.right.wow.fadeInRight
            h3.features__block-title Create 
              span Variants 
              | for steps/components/colors/texts

            p.features__block-message
              | Easy changes in the flow
            
            .features__block-buttons
              +button(href="#")
                svg(width='20' height='24' viewBox='0 0 20 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M16.1964 12.763C16.2081 11.8431 16.4508 10.9411 16.9018 10.141C17.3528 9.34093 17.9974 8.6687 18.7757 8.18688C18.2813 7.47583 17.629 6.89066 16.8707 6.47785C16.1123 6.06504 15.2688 5.83597 14.4072 5.80883C12.5692 5.61457 10.7873 6.91628 9.85072 6.91628C8.89598 6.91628 7.45392 5.82811 5.90105 5.86029C4.89661 5.89296 3.91771 6.18707 3.05971 6.71395C2.20172 7.24084 1.4939 7.98253 1.00522 8.86676C-1.11163 12.5572 0.467352 17.9808 2.49512 20.9639C3.50966 22.4246 4.69536 24.0562 6.24683 23.9984C7.76503 23.935 8.33205 23.0235 10.1647 23.0235C11.9802 23.0235 12.5122 23.9984 14.0952 23.9616C15.7243 23.9349 16.7507 22.4944 17.7296 21.0198C18.4586 19.979 19.0195 18.8287 19.3916 17.6115C18.4451 17.2084 17.6375 16.5337 17.0693 15.6715C16.501 14.8093 16.1975 13.7978 16.1964 12.763Z' fill='white')
                  path(d='M13.2068 3.84712C14.0951 2.77342 14.5327 1.39335 14.4267 0C13.0697 0.14352 11.8161 0.796598 10.9159 1.82911C10.4757 2.33352 10.1386 2.92033 9.9238 3.55601C9.709 4.19169 9.62073 4.86376 9.66403 5.5338C10.3428 5.54084 11.0143 5.3927 11.628 5.10054C12.2417 4.80838 12.7815 4.37981 13.2068 3.84712Z' fill='white')
                | for iPad
              +button(href="#")
                svg(width='22' height='24' viewBox='0 0 22 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M0.499128 23.5596L0.43008 23.4932C0.159653 23.2059 0 22.7598 0 22.1821V22.3181V1.68164C0 1.67977 0 1.67837 0 1.67688C0 1.67865 0 1.68014 0 1.68201V1.81833C0 1.19278 0.186138 0.721571 0.498012 0.439027L12.0119 11.9997L0.499128 23.5596ZM0 1.67576C0 1.62434 0.00139388 1.57442 0.00399593 1.52525C0.00139388 1.57405 0 1.62434 0 1.67576ZM0.00399593 1.52301C0.00399593 1.52236 0.00399506 1.52161 0.00427385 1.52086C0.00399506 1.52161 0.00399593 1.52236 0.00399593 1.52301ZM0.00427385 1.51648C0.00427385 1.5161 0.00427385 1.51573 0.00427385 1.51536C0.00427385 1.51573 0.00427385 1.5161 0.00427385 1.51648Z' fill='url(#paint0_linear_594_33949)')
                  path(d='M15.8491 15.9912L15.9366 15.9413L20.4836 13.3472C20.9171 13.0997 21.206 12.7997 21.3502 12.4823C21.2064 12.7997 20.9174 13.1001 20.4836 13.3476L15.9366 15.9417L15.8491 15.9912ZM15.8502 15.8545L12.0117 11.9997L15.8498 8.14552L20.4836 10.7888C21.072 11.1245 21.4024 11.5572 21.4576 11.9993C21.4576 11.9997 21.4576 12.0004 21.4576 12.0011C21.4024 12.4422 21.072 12.8752 20.4836 13.2109L15.8502 15.8545Z' fill='url(#paint1_linear_594_33949)')
                  path(d='M1.32047 24C0.998843 24 0.718194 23.895 0.499344 23.6967L0.499717 23.6964C0.718567 23.8947 0.999587 24 1.32122 24C1.3491 24 1.37744 23.9993 1.40616 23.9979C1.37707 23.9993 1.34835 24 1.32047 24ZM1.32085 23.8633C0.999216 23.8637 0.718567 23.7583 0.499717 23.56V23.5598L12.0125 11.9999L15.8509 15.8547L2.36194 23.5502C1.98873 23.7627 1.63514 23.8633 1.32085 23.8633ZM0.496464 23.6942C0.476112 23.6757 0.456132 23.656 0.436523 23.6355L0.496464 23.6942Z' fill='url(#paint2_linear_594_33949)')
                  path(d='M12.0129 12L0.499023 0.439359C0.717874 0.241449 0.998151 0.136475 1.31941 0.136475C1.63454 0.136475 1.98841 0.237437 2.36236 0.450277L15.851 8.14583L12.0129 12ZM15.9378 8.05877L2.36236 0.314043C1.98841 0.10111 1.63454 0.000149234 1.31941 0.000149234C1.31792 0.000149234 1.3169 0.000149234 1.31541 0.000149234C1.31727 0.000149234 1.31867 0.000149234 1.3209 0.000149234C1.63528 0.000149234 1.98879 0.100736 2.36236 0.31367L15.9378 8.05877Z' fill='url(#paint3_linear_594_33949)')
                  path(d='M1.40518 23.998C1.69735 23.9813 2.02084 23.8803 2.36096 23.6868L15.8488 15.9916L2.36096 23.6868C2.02111 23.8807 1.69735 23.9813 1.40518 23.998ZM0.498363 23.6969L0.495483 23.6944C0.496505 23.6952 0.497619 23.6962 0.498363 23.6969ZM0.435542 23.6357L0.429688 23.6299V23.6296C0.431918 23.6317 0.433684 23.6339 0.435542 23.6357Z' fill='black')
                  path(d='M15.8486 15.9912L15.9362 15.9413L15.8486 15.9912Z' fill='url(#paint4_linear_594_33949)')
                  path(d='M1.32121 24C0.999583 24 0.718563 23.8947 0.499712 23.6964L0.499339 23.6967C0.498596 23.696 0.497482 23.695 0.496459 23.6942L0.436519 23.6355C0.43466 23.6337 0.432894 23.6315 0.430664 23.6294L0.499712 23.56C0.718563 23.7583 0.999211 23.8637 1.32084 23.8633C1.63513 23.8633 1.98873 23.7627 2.36194 23.5502L15.8509 15.8547L15.9373 15.9415L15.8498 15.9914L2.36194 23.6866C2.02181 23.8801 1.69832 23.9811 1.40615 23.9979C1.37744 23.9993 1.34909 24 1.32121 24Z' fill='url(#paint5_linear_594_33949)')
                  path(d='M0.430082 23.6299C0.159654 23.3426 0 22.8965 0 22.3188V22.3184C0 22.8965 0.159654 23.3422 0.430082 23.6295V23.6299Z' fill='black')
                  path(d='M0.430079 23.6289C0.159653 23.3416 0 22.8959 0 22.3178V22.1819C0 22.7595 0.159653 23.2057 0.430079 23.493L0.499127 23.5593L0.430079 23.6289Z' fill='url(#paint6_linear_594_33949)')
                  path(d='M0.430664 23.6299L0.499711 23.5603V23.5606L0.430664 23.6299Z' fill='url(#paint7_linear_594_33949)')
                  path(d='M21.3506 12.4824C21.4221 12.3249 21.458 12.1631 21.458 12.0012C21.458 12.0009 21.458 12.0006 21.458 12.0006C21.458 12.1627 21.4221 12.3245 21.3506 12.4824Z' fill='black')
                  path(d='M15.937 15.9414L15.8506 15.8546L20.484 13.211C21.0724 12.8753 21.4028 12.4423 21.458 12.0012C21.458 12.1631 21.422 12.3249 21.3506 12.4824C21.2064 12.7998 20.9175 13.0998 20.484 13.3473L15.937 15.9414Z' fill='url(#paint8_linear_594_33949)')
                  path(d='M21.4579 12V11.9996C21.4575 11.5115 21.1326 11.0235 20.4839 10.6532L15.9369 8.05906H15.9365L15.9369 8.05877L20.4839 10.6528C21.1334 11.0231 21.4586 11.5119 21.4579 12Z' fill='#404040')
                  path(d='M21.4584 12C21.4032 11.5579 21.0728 11.1252 20.4844 10.7895L15.8506 8.14621L15.937 8.05943H15.9374L20.4844 10.6535C21.1331 11.0239 21.458 11.5119 21.4584 12Z' fill='url(#paint9_linear_594_33949)')
                  path(d='M0 1.67676C0 1.67638 0 1.67601 0 1.67564C0 1.67601 0 1.67638 0 1.67676ZM0.00399592 1.52513C0.00399592 1.52438 0.00399592 1.52364 0.00399592 1.52289C0.00399592 1.52364 0.00399592 1.52438 0.00399592 1.52513ZM0.00427385 1.52074C0.00427385 1.51925 0.00427385 1.51785 0.00427385 1.51636C0.00427385 1.51785 0.00427385 1.51925 0.00427385 1.52074ZM0.00427385 1.51524C0.0580803 0.556665 0.577188 0.00296272 1.31152 -0.000303041C0.993142 0.00156311 0.715839 0.106537 0.498754 0.302955V0.302582L0.496152 0.305193C0.473292 0.325908 0.451546 0.347836 0.430079 0.370417C0.186138 0.629539 0.0322458 1.01771 0.00427385 1.51524Z' fill='#404040')
                  path(d='M0 1.81836V1.68203C0 1.68017 0 1.67867 0 1.6769C0 1.67653 0 1.67616 0 1.67578C0 1.62437 0.00139389 1.57407 0.00399593 1.52527C0.00399593 1.52453 0.00399593 1.52378 0.00399593 1.52303C0.00399593 1.52238 0.00399507 1.52163 0.00427386 1.52089C0.00427386 1.51939 0.00427386 1.518 0.00427386 1.5165C0.00427386 1.51613 0.00427386 1.51576 0.00427386 1.51538C0.0322459 1.01785 0.186138 0.629682 0.43008 0.37056L0.498013 0.43905C0.186139 0.721593 0 1.19281 0 1.81836ZM0.496154 0.305335L0.498756 0.302724C0.498012 0.303844 0.496897 0.304589 0.496154 0.305335Z' fill='url(#paint10_linear_594_33949)')
                  path(d='M15.8506 8.14551L2.36194 0.449953C1.98799 0.237113 1.63411 0.136151 1.31898 0.136151C0.997724 0.136151 0.717447 0.241124 0.498596 0.439035L0.430664 0.370545C0.452131 0.347964 0.473876 0.326036 0.496737 0.305321C0.497481 0.304574 0.498596 0.303829 0.499339 0.303082C0.716424 0.106665 0.993727 0.00169116 1.31211 -0.000174991C1.31285 -0.000174991 1.31387 -0.000174991 1.31499 -0.000174991C1.31647 -0.000174991 1.3175 -0.000174991 1.31898 -0.000174991C1.63411 -0.000174991 1.98799 0.100785 2.36194 0.313718L15.9373 8.05845L15.937 8.05873L15.8506 8.14551Z' fill='url(#paint11_linear_594_33949)')
                  defs
                    lineargradient#paint0_linear_594_33949(x1='10.9909' y1='1.46394' x2='-4.66869' y2='17.0598' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#00A0FF')
                      stop(offset='0.00657445' stop-color='#00A1FF')
                      stop(offset='0.2601' stop-color='#00BEFF')
                      stop(offset='0.5122' stop-color='#00D2FF')
                      stop(offset='0.7604' stop-color='#00DFFF')
                      stop(offset='1' stop-color='#00E3FF')
                    lineargradient#paint1_linear_594_33949(x1='22.1746' y1='12.0002' x2='-0.311737' y2='12.0002' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#FFE000')
                      stop(offset='0.4087' stop-color='#FFBD00')
                      stop(offset='0.7754' stop-color='#FFA500')
                      stop(offset='1' stop-color='#FF9C00')
                    lineargradient#paint2_linear_594_33949(x1='13.8047' y1='14.1416' x2='-7.43091' y2='35.2907' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#FF3A44')
                      stop(offset='1' stop-color='#C31162')
                    lineargradient#paint3_linear_594_33949(x1='-2.48524' y1='-6.49833' x2='6.99731' y2='2.94561' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#32A071')
                      stop(offset='0.0685' stop-color='#2DA771')
                      stop(offset='0.4762' stop-color='#15CF74')
                      stop(offset='0.8009' stop-color='#06E775')
                      stop(offset='1' stop-color='#00F076')
                    lineargradient#paint4_linear_594_33949(x1='22.1738' y1='12' x2='-0.311534' y2='12' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#CCB300')
                      stop(offset='0.4087' stop-color='#CC9700')
                      stop(offset='0.7754' stop-color='#CC8400')
                      stop(offset='1' stop-color='#CC7D00')
                    lineargradient#paint5_linear_594_33949(x1='13.8047' y1='14.1416' x2='-7.43091' y2='35.2907' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#CC2E36')
                      stop(offset='1' stop-color='#9C0E4E')
                    lineargradient#paint6_linear_594_33949(x1='10.9909' y1='1.46366' x2='-4.66871' y2='17.0595' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#008DE0')
                      stop(offset='0.00657445' stop-color='#008DE0')
                      stop(offset='0.2601' stop-color='#00A7E0')
                      stop(offset='0.5122' stop-color='#00B8E0')
                      stop(offset='0.7604' stop-color='#00C4E0')
                      stop(offset='1' stop-color='#00C7E0')
                    lineargradient#paint7_linear_594_33949(x1='13.8047' y1='14.1418' x2='-7.43146' y2='35.291' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#E0333C')
                      stop(offset='1' stop-color='#AB0F56')
                    lineargradient#paint8_linear_594_33949(x1='22.1749' y1='12.0004' x2='-0.311349' y2='12.0004' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#E0C500')
                      stop(offset='0.4087' stop-color='#E0A600')
                      stop(offset='0.7754' stop-color='#E09100')
                      stop(offset='1' stop-color='#E08900')
                    lineargradient#paint9_linear_594_33949(x1='22.1753' y1='12.0009' x2='-0.310972' y2='12.0009' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#FFE840')
                      stop(offset='0.4087' stop-color='#FFCE40')
                      stop(offset='0.7754' stop-color='#FFBC40')
                      stop(offset='1' stop-color='#FFB540')
                    lineargradient#paint10_linear_594_33949(x1='10.9909' y1='1.46397' x2='-4.6687' y2='17.0598' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#40B8FF')
                      stop(offset='0.00657445' stop-color='#40B9FF')
                      stop(offset='0.2601' stop-color='#40CEFF')
                      stop(offset='0.5122' stop-color='#40DDFF')
                      stop(offset='0.7604' stop-color='#40E7FF')
                      stop(offset='1' stop-color='#40EAFF')
                    lineargradient#paint11_linear_594_33949(x1='-2.48567' y1='-6.49866' x2='6.99688' y2='2.94528' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#65B895')
                      stop(offset='0.0685' stop-color='#62BD95')
                      stop(offset='0.4762' stop-color='#50DB97')
                      stop(offset='0.8009' stop-color='#44ED98')
                      stop(offset='1' stop-color='#40F498')
                | for Android

        .features__block
          .features__block-info.left.wow.fadeInLeft
            h3.features__block-title Create campaigns for  
              span Test 
              | prototypes

            p.features__block-message
              | Quantitative and qualitative testing
            
            .features__block-buttons
              +button(href="#")
                svg(width='20' height='24' viewBox='0 0 20 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M16.1964 12.763C16.2081 11.8431 16.4508 10.9411 16.9018 10.141C17.3528 9.34093 17.9974 8.6687 18.7757 8.18688C18.2813 7.47583 17.629 6.89066 16.8707 6.47785C16.1123 6.06504 15.2688 5.83597 14.4072 5.80883C12.5692 5.61457 10.7873 6.91628 9.85072 6.91628C8.89598 6.91628 7.45392 5.82811 5.90105 5.86029C4.89661 5.89296 3.91771 6.18707 3.05971 6.71395C2.20172 7.24084 1.4939 7.98253 1.00522 8.86676C-1.11163 12.5572 0.467352 17.9808 2.49512 20.9639C3.50966 22.4246 4.69536 24.0562 6.24683 23.9984C7.76503 23.935 8.33205 23.0235 10.1647 23.0235C11.9802 23.0235 12.5122 23.9984 14.0952 23.9616C15.7243 23.9349 16.7507 22.4944 17.7296 21.0198C18.4586 19.979 19.0195 18.8287 19.3916 17.6115C18.4451 17.2084 17.6375 16.5337 17.0693 15.6715C16.501 14.8093 16.1975 13.7978 16.1964 12.763Z' fill='white')
                  path(d='M13.2068 3.84712C14.0951 2.77342 14.5327 1.39335 14.4267 0C13.0697 0.14352 11.8161 0.796598 10.9159 1.82911C10.4757 2.33352 10.1386 2.92033 9.9238 3.55601C9.709 4.19169 9.62073 4.86376 9.66403 5.5338C10.3428 5.54084 11.0143 5.3927 11.628 5.10054C12.2417 4.80838 12.7815 4.37981 13.2068 3.84712Z' fill='white')
                | for iPad
              +button(href="#")
                svg(width='22' height='24' viewBox='0 0 22 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M0.499128 23.5596L0.43008 23.4932C0.159653 23.2059 0 22.7598 0 22.1821V22.3181V1.68164C0 1.67977 0 1.67837 0 1.67688C0 1.67865 0 1.68014 0 1.68201V1.81833C0 1.19278 0.186138 0.721571 0.498012 0.439027L12.0119 11.9997L0.499128 23.5596ZM0 1.67576C0 1.62434 0.00139388 1.57442 0.00399593 1.52525C0.00139388 1.57405 0 1.62434 0 1.67576ZM0.00399593 1.52301C0.00399593 1.52236 0.00399506 1.52161 0.00427385 1.52086C0.00399506 1.52161 0.00399593 1.52236 0.00399593 1.52301ZM0.00427385 1.51648C0.00427385 1.5161 0.00427385 1.51573 0.00427385 1.51536C0.00427385 1.51573 0.00427385 1.5161 0.00427385 1.51648Z' fill='url(#paint0_linear_594_33949)')
                  path(d='M15.8491 15.9912L15.9366 15.9413L20.4836 13.3472C20.9171 13.0997 21.206 12.7997 21.3502 12.4823C21.2064 12.7997 20.9174 13.1001 20.4836 13.3476L15.9366 15.9417L15.8491 15.9912ZM15.8502 15.8545L12.0117 11.9997L15.8498 8.14552L20.4836 10.7888C21.072 11.1245 21.4024 11.5572 21.4576 11.9993C21.4576 11.9997 21.4576 12.0004 21.4576 12.0011C21.4024 12.4422 21.072 12.8752 20.4836 13.2109L15.8502 15.8545Z' fill='url(#paint1_linear_594_33949)')
                  path(d='M1.32047 24C0.998843 24 0.718194 23.895 0.499344 23.6967L0.499717 23.6964C0.718567 23.8947 0.999587 24 1.32122 24C1.3491 24 1.37744 23.9993 1.40616 23.9979C1.37707 23.9993 1.34835 24 1.32047 24ZM1.32085 23.8633C0.999216 23.8637 0.718567 23.7583 0.499717 23.56V23.5598L12.0125 11.9999L15.8509 15.8547L2.36194 23.5502C1.98873 23.7627 1.63514 23.8633 1.32085 23.8633ZM0.496464 23.6942C0.476112 23.6757 0.456132 23.656 0.436523 23.6355L0.496464 23.6942Z' fill='url(#paint2_linear_594_33949)')
                  path(d='M12.0129 12L0.499023 0.439359C0.717874 0.241449 0.998151 0.136475 1.31941 0.136475C1.63454 0.136475 1.98841 0.237437 2.36236 0.450277L15.851 8.14583L12.0129 12ZM15.9378 8.05877L2.36236 0.314043C1.98841 0.10111 1.63454 0.000149234 1.31941 0.000149234C1.31792 0.000149234 1.3169 0.000149234 1.31541 0.000149234C1.31727 0.000149234 1.31867 0.000149234 1.3209 0.000149234C1.63528 0.000149234 1.98879 0.100736 2.36236 0.31367L15.9378 8.05877Z' fill='url(#paint3_linear_594_33949)')
                  path(d='M1.40518 23.998C1.69735 23.9813 2.02084 23.8803 2.36096 23.6868L15.8488 15.9916L2.36096 23.6868C2.02111 23.8807 1.69735 23.9813 1.40518 23.998ZM0.498363 23.6969L0.495483 23.6944C0.496505 23.6952 0.497619 23.6962 0.498363 23.6969ZM0.435542 23.6357L0.429688 23.6299V23.6296C0.431918 23.6317 0.433684 23.6339 0.435542 23.6357Z' fill='black')
                  path(d='M15.8486 15.9912L15.9362 15.9413L15.8486 15.9912Z' fill='url(#paint4_linear_594_33949)')
                  path(d='M1.32121 24C0.999583 24 0.718563 23.8947 0.499712 23.6964L0.499339 23.6967C0.498596 23.696 0.497482 23.695 0.496459 23.6942L0.436519 23.6355C0.43466 23.6337 0.432894 23.6315 0.430664 23.6294L0.499712 23.56C0.718563 23.7583 0.999211 23.8637 1.32084 23.8633C1.63513 23.8633 1.98873 23.7627 2.36194 23.5502L15.8509 15.8547L15.9373 15.9415L15.8498 15.9914L2.36194 23.6866C2.02181 23.8801 1.69832 23.9811 1.40615 23.9979C1.37744 23.9993 1.34909 24 1.32121 24Z' fill='url(#paint5_linear_594_33949)')
                  path(d='M0.430082 23.6299C0.159654 23.3426 0 22.8965 0 22.3188V22.3184C0 22.8965 0.159654 23.3422 0.430082 23.6295V23.6299Z' fill='black')
                  path(d='M0.430079 23.6289C0.159653 23.3416 0 22.8959 0 22.3178V22.1819C0 22.7595 0.159653 23.2057 0.430079 23.493L0.499127 23.5593L0.430079 23.6289Z' fill='url(#paint6_linear_594_33949)')
                  path(d='M0.430664 23.6299L0.499711 23.5603V23.5606L0.430664 23.6299Z' fill='url(#paint7_linear_594_33949)')
                  path(d='M21.3506 12.4824C21.4221 12.3249 21.458 12.1631 21.458 12.0012C21.458 12.0009 21.458 12.0006 21.458 12.0006C21.458 12.1627 21.4221 12.3245 21.3506 12.4824Z' fill='black')
                  path(d='M15.937 15.9414L15.8506 15.8546L20.484 13.211C21.0724 12.8753 21.4028 12.4423 21.458 12.0012C21.458 12.1631 21.422 12.3249 21.3506 12.4824C21.2064 12.7998 20.9175 13.0998 20.484 13.3473L15.937 15.9414Z' fill='url(#paint8_linear_594_33949)')
                  path(d='M21.4579 12V11.9996C21.4575 11.5115 21.1326 11.0235 20.4839 10.6532L15.9369 8.05906H15.9365L15.9369 8.05877L20.4839 10.6528C21.1334 11.0231 21.4586 11.5119 21.4579 12Z' fill='#404040')
                  path(d='M21.4584 12C21.4032 11.5579 21.0728 11.1252 20.4844 10.7895L15.8506 8.14621L15.937 8.05943H15.9374L20.4844 10.6535C21.1331 11.0239 21.458 11.5119 21.4584 12Z' fill='url(#paint9_linear_594_33949)')
                  path(d='M0 1.67676C0 1.67638 0 1.67601 0 1.67564C0 1.67601 0 1.67638 0 1.67676ZM0.00399592 1.52513C0.00399592 1.52438 0.00399592 1.52364 0.00399592 1.52289C0.00399592 1.52364 0.00399592 1.52438 0.00399592 1.52513ZM0.00427385 1.52074C0.00427385 1.51925 0.00427385 1.51785 0.00427385 1.51636C0.00427385 1.51785 0.00427385 1.51925 0.00427385 1.52074ZM0.00427385 1.51524C0.0580803 0.556665 0.577188 0.00296272 1.31152 -0.000303041C0.993142 0.00156311 0.715839 0.106537 0.498754 0.302955V0.302582L0.496152 0.305193C0.473292 0.325908 0.451546 0.347836 0.430079 0.370417C0.186138 0.629539 0.0322458 1.01771 0.00427385 1.51524Z' fill='#404040')
                  path(d='M0 1.81836V1.68203C0 1.68017 0 1.67867 0 1.6769C0 1.67653 0 1.67616 0 1.67578C0 1.62437 0.00139389 1.57407 0.00399593 1.52527C0.00399593 1.52453 0.00399593 1.52378 0.00399593 1.52303C0.00399593 1.52238 0.00399507 1.52163 0.00427386 1.52089C0.00427386 1.51939 0.00427386 1.518 0.00427386 1.5165C0.00427386 1.51613 0.00427386 1.51576 0.00427386 1.51538C0.0322459 1.01785 0.186138 0.629682 0.43008 0.37056L0.498013 0.43905C0.186139 0.721593 0 1.19281 0 1.81836ZM0.496154 0.305335L0.498756 0.302724C0.498012 0.303844 0.496897 0.304589 0.496154 0.305335Z' fill='url(#paint10_linear_594_33949)')
                  path(d='M15.8506 8.14551L2.36194 0.449953C1.98799 0.237113 1.63411 0.136151 1.31898 0.136151C0.997724 0.136151 0.717447 0.241124 0.498596 0.439035L0.430664 0.370545C0.452131 0.347964 0.473876 0.326036 0.496737 0.305321C0.497481 0.304574 0.498596 0.303829 0.499339 0.303082C0.716424 0.106665 0.993727 0.00169116 1.31211 -0.000174991C1.31285 -0.000174991 1.31387 -0.000174991 1.31499 -0.000174991C1.31647 -0.000174991 1.3175 -0.000174991 1.31898 -0.000174991C1.63411 -0.000174991 1.98799 0.100785 2.36194 0.313718L15.9373 8.05845L15.937 8.05873L15.8506 8.14551Z' fill='url(#paint11_linear_594_33949)')
                  defs
                    lineargradient#paint0_linear_594_33949(x1='10.9909' y1='1.46394' x2='-4.66869' y2='17.0598' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#00A0FF')
                      stop(offset='0.00657445' stop-color='#00A1FF')
                      stop(offset='0.2601' stop-color='#00BEFF')
                      stop(offset='0.5122' stop-color='#00D2FF')
                      stop(offset='0.7604' stop-color='#00DFFF')
                      stop(offset='1' stop-color='#00E3FF')
                    lineargradient#paint1_linear_594_33949(x1='22.1746' y1='12.0002' x2='-0.311737' y2='12.0002' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#FFE000')
                      stop(offset='0.4087' stop-color='#FFBD00')
                      stop(offset='0.7754' stop-color='#FFA500')
                      stop(offset='1' stop-color='#FF9C00')
                    lineargradient#paint2_linear_594_33949(x1='13.8047' y1='14.1416' x2='-7.43091' y2='35.2907' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#FF3A44')
                      stop(offset='1' stop-color='#C31162')
                    lineargradient#paint3_linear_594_33949(x1='-2.48524' y1='-6.49833' x2='6.99731' y2='2.94561' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#32A071')
                      stop(offset='0.0685' stop-color='#2DA771')
                      stop(offset='0.4762' stop-color='#15CF74')
                      stop(offset='0.8009' stop-color='#06E775')
                      stop(offset='1' stop-color='#00F076')
                    lineargradient#paint4_linear_594_33949(x1='22.1738' y1='12' x2='-0.311534' y2='12' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#CCB300')
                      stop(offset='0.4087' stop-color='#CC9700')
                      stop(offset='0.7754' stop-color='#CC8400')
                      stop(offset='1' stop-color='#CC7D00')
                    lineargradient#paint5_linear_594_33949(x1='13.8047' y1='14.1416' x2='-7.43091' y2='35.2907' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#CC2E36')
                      stop(offset='1' stop-color='#9C0E4E')
                    lineargradient#paint6_linear_594_33949(x1='10.9909' y1='1.46366' x2='-4.66871' y2='17.0595' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#008DE0')
                      stop(offset='0.00657445' stop-color='#008DE0')
                      stop(offset='0.2601' stop-color='#00A7E0')
                      stop(offset='0.5122' stop-color='#00B8E0')
                      stop(offset='0.7604' stop-color='#00C4E0')
                      stop(offset='1' stop-color='#00C7E0')
                    lineargradient#paint7_linear_594_33949(x1='13.8047' y1='14.1418' x2='-7.43146' y2='35.291' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#E0333C')
                      stop(offset='1' stop-color='#AB0F56')
                    lineargradient#paint8_linear_594_33949(x1='22.1749' y1='12.0004' x2='-0.311349' y2='12.0004' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#E0C500')
                      stop(offset='0.4087' stop-color='#E0A600')
                      stop(offset='0.7754' stop-color='#E09100')
                      stop(offset='1' stop-color='#E08900')
                    lineargradient#paint9_linear_594_33949(x1='22.1753' y1='12.0009' x2='-0.310972' y2='12.0009' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#FFE840')
                      stop(offset='0.4087' stop-color='#FFCE40')
                      stop(offset='0.7754' stop-color='#FFBC40')
                      stop(offset='1' stop-color='#FFB540')
                    lineargradient#paint10_linear_594_33949(x1='10.9909' y1='1.46397' x2='-4.6687' y2='17.0598' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#40B8FF')
                      stop(offset='0.00657445' stop-color='#40B9FF')
                      stop(offset='0.2601' stop-color='#40CEFF')
                      stop(offset='0.5122' stop-color='#40DDFF')
                      stop(offset='0.7604' stop-color='#40E7FF')
                      stop(offset='1' stop-color='#40EAFF')
                    lineargradient#paint11_linear_594_33949(x1='-2.48567' y1='-6.49866' x2='6.99688' y2='2.94528' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#65B895')
                      stop(offset='0.0685' stop-color='#62BD95')
                      stop(offset='0.4762' stop-color='#50DB97')
                      stop(offset='0.8009' stop-color='#44ED98')
                      stop(offset='1' stop-color='#40F498')
                | for Android
          .features__block-img.wow.fadeInRight
            +picture({
              lazy: false,
              path: images + "features/features-img4.png",
              attr: { "alt": "phones" }
            })

        .features__block 
          .features__block-img.wow.fadeInLeft
            +picture({
              lazy: false,
              path: images + "features/features-img5.png",
              attr: { "alt": "phones" }
            })
          .features__block-info.right.wow.fadeInRight
            h3.features__block-title 
              span Import
              | /Export Sketch/ 
              span Figma
              | /XD

            p.features__block-message
              | Continue your work on the tablet
            
            .features__block-buttons
              +button(href="#")
                svg(width='20' height='24' viewBox='0 0 20 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M16.1964 12.763C16.2081 11.8431 16.4508 10.9411 16.9018 10.141C17.3528 9.34093 17.9974 8.6687 18.7757 8.18688C18.2813 7.47583 17.629 6.89066 16.8707 6.47785C16.1123 6.06504 15.2688 5.83597 14.4072 5.80883C12.5692 5.61457 10.7873 6.91628 9.85072 6.91628C8.89598 6.91628 7.45392 5.82811 5.90105 5.86029C4.89661 5.89296 3.91771 6.18707 3.05971 6.71395C2.20172 7.24084 1.4939 7.98253 1.00522 8.86676C-1.11163 12.5572 0.467352 17.9808 2.49512 20.9639C3.50966 22.4246 4.69536 24.0562 6.24683 23.9984C7.76503 23.935 8.33205 23.0235 10.1647 23.0235C11.9802 23.0235 12.5122 23.9984 14.0952 23.9616C15.7243 23.9349 16.7507 22.4944 17.7296 21.0198C18.4586 19.979 19.0195 18.8287 19.3916 17.6115C18.4451 17.2084 17.6375 16.5337 17.0693 15.6715C16.501 14.8093 16.1975 13.7978 16.1964 12.763Z' fill='white')
                  path(d='M13.2068 3.84712C14.0951 2.77342 14.5327 1.39335 14.4267 0C13.0697 0.14352 11.8161 0.796598 10.9159 1.82911C10.4757 2.33352 10.1386 2.92033 9.9238 3.55601C9.709 4.19169 9.62073 4.86376 9.66403 5.5338C10.3428 5.54084 11.0143 5.3927 11.628 5.10054C12.2417 4.80838 12.7815 4.37981 13.2068 3.84712Z' fill='white')
                | for iPad
              +button(href="#")
                svg(width='22' height='24' viewBox='0 0 22 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M0.499128 23.5596L0.43008 23.4932C0.159653 23.2059 0 22.7598 0 22.1821V22.3181V1.68164C0 1.67977 0 1.67837 0 1.67688C0 1.67865 0 1.68014 0 1.68201V1.81833C0 1.19278 0.186138 0.721571 0.498012 0.439027L12.0119 11.9997L0.499128 23.5596ZM0 1.67576C0 1.62434 0.00139388 1.57442 0.00399593 1.52525C0.00139388 1.57405 0 1.62434 0 1.67576ZM0.00399593 1.52301C0.00399593 1.52236 0.00399506 1.52161 0.00427385 1.52086C0.00399506 1.52161 0.00399593 1.52236 0.00399593 1.52301ZM0.00427385 1.51648C0.00427385 1.5161 0.00427385 1.51573 0.00427385 1.51536C0.00427385 1.51573 0.00427385 1.5161 0.00427385 1.51648Z' fill='url(#paint0_linear_594_33949)')
                  path(d='M15.8491 15.9912L15.9366 15.9413L20.4836 13.3472C20.9171 13.0997 21.206 12.7997 21.3502 12.4823C21.2064 12.7997 20.9174 13.1001 20.4836 13.3476L15.9366 15.9417L15.8491 15.9912ZM15.8502 15.8545L12.0117 11.9997L15.8498 8.14552L20.4836 10.7888C21.072 11.1245 21.4024 11.5572 21.4576 11.9993C21.4576 11.9997 21.4576 12.0004 21.4576 12.0011C21.4024 12.4422 21.072 12.8752 20.4836 13.2109L15.8502 15.8545Z' fill='url(#paint1_linear_594_33949)')
                  path(d='M1.32047 24C0.998843 24 0.718194 23.895 0.499344 23.6967L0.499717 23.6964C0.718567 23.8947 0.999587 24 1.32122 24C1.3491 24 1.37744 23.9993 1.40616 23.9979C1.37707 23.9993 1.34835 24 1.32047 24ZM1.32085 23.8633C0.999216 23.8637 0.718567 23.7583 0.499717 23.56V23.5598L12.0125 11.9999L15.8509 15.8547L2.36194 23.5502C1.98873 23.7627 1.63514 23.8633 1.32085 23.8633ZM0.496464 23.6942C0.476112 23.6757 0.456132 23.656 0.436523 23.6355L0.496464 23.6942Z' fill='url(#paint2_linear_594_33949)')
                  path(d='M12.0129 12L0.499023 0.439359C0.717874 0.241449 0.998151 0.136475 1.31941 0.136475C1.63454 0.136475 1.98841 0.237437 2.36236 0.450277L15.851 8.14583L12.0129 12ZM15.9378 8.05877L2.36236 0.314043C1.98841 0.10111 1.63454 0.000149234 1.31941 0.000149234C1.31792 0.000149234 1.3169 0.000149234 1.31541 0.000149234C1.31727 0.000149234 1.31867 0.000149234 1.3209 0.000149234C1.63528 0.000149234 1.98879 0.100736 2.36236 0.31367L15.9378 8.05877Z' fill='url(#paint3_linear_594_33949)')
                  path(d='M1.40518 23.998C1.69735 23.9813 2.02084 23.8803 2.36096 23.6868L15.8488 15.9916L2.36096 23.6868C2.02111 23.8807 1.69735 23.9813 1.40518 23.998ZM0.498363 23.6969L0.495483 23.6944C0.496505 23.6952 0.497619 23.6962 0.498363 23.6969ZM0.435542 23.6357L0.429688 23.6299V23.6296C0.431918 23.6317 0.433684 23.6339 0.435542 23.6357Z' fill='black')
                  path(d='M15.8486 15.9912L15.9362 15.9413L15.8486 15.9912Z' fill='url(#paint4_linear_594_33949)')
                  path(d='M1.32121 24C0.999583 24 0.718563 23.8947 0.499712 23.6964L0.499339 23.6967C0.498596 23.696 0.497482 23.695 0.496459 23.6942L0.436519 23.6355C0.43466 23.6337 0.432894 23.6315 0.430664 23.6294L0.499712 23.56C0.718563 23.7583 0.999211 23.8637 1.32084 23.8633C1.63513 23.8633 1.98873 23.7627 2.36194 23.5502L15.8509 15.8547L15.9373 15.9415L15.8498 15.9914L2.36194 23.6866C2.02181 23.8801 1.69832 23.9811 1.40615 23.9979C1.37744 23.9993 1.34909 24 1.32121 24Z' fill='url(#paint5_linear_594_33949)')
                  path(d='M0.430082 23.6299C0.159654 23.3426 0 22.8965 0 22.3188V22.3184C0 22.8965 0.159654 23.3422 0.430082 23.6295V23.6299Z' fill='black')
                  path(d='M0.430079 23.6289C0.159653 23.3416 0 22.8959 0 22.3178V22.1819C0 22.7595 0.159653 23.2057 0.430079 23.493L0.499127 23.5593L0.430079 23.6289Z' fill='url(#paint6_linear_594_33949)')
                  path(d='M0.430664 23.6299L0.499711 23.5603V23.5606L0.430664 23.6299Z' fill='url(#paint7_linear_594_33949)')
                  path(d='M21.3506 12.4824C21.4221 12.3249 21.458 12.1631 21.458 12.0012C21.458 12.0009 21.458 12.0006 21.458 12.0006C21.458 12.1627 21.4221 12.3245 21.3506 12.4824Z' fill='black')
                  path(d='M15.937 15.9414L15.8506 15.8546L20.484 13.211C21.0724 12.8753 21.4028 12.4423 21.458 12.0012C21.458 12.1631 21.422 12.3249 21.3506 12.4824C21.2064 12.7998 20.9175 13.0998 20.484 13.3473L15.937 15.9414Z' fill='url(#paint8_linear_594_33949)')
                  path(d='M21.4579 12V11.9996C21.4575 11.5115 21.1326 11.0235 20.4839 10.6532L15.9369 8.05906H15.9365L15.9369 8.05877L20.4839 10.6528C21.1334 11.0231 21.4586 11.5119 21.4579 12Z' fill='#404040')
                  path(d='M21.4584 12C21.4032 11.5579 21.0728 11.1252 20.4844 10.7895L15.8506 8.14621L15.937 8.05943H15.9374L20.4844 10.6535C21.1331 11.0239 21.458 11.5119 21.4584 12Z' fill='url(#paint9_linear_594_33949)')
                  path(d='M0 1.67676C0 1.67638 0 1.67601 0 1.67564C0 1.67601 0 1.67638 0 1.67676ZM0.00399592 1.52513C0.00399592 1.52438 0.00399592 1.52364 0.00399592 1.52289C0.00399592 1.52364 0.00399592 1.52438 0.00399592 1.52513ZM0.00427385 1.52074C0.00427385 1.51925 0.00427385 1.51785 0.00427385 1.51636C0.00427385 1.51785 0.00427385 1.51925 0.00427385 1.52074ZM0.00427385 1.51524C0.0580803 0.556665 0.577188 0.00296272 1.31152 -0.000303041C0.993142 0.00156311 0.715839 0.106537 0.498754 0.302955V0.302582L0.496152 0.305193C0.473292 0.325908 0.451546 0.347836 0.430079 0.370417C0.186138 0.629539 0.0322458 1.01771 0.00427385 1.51524Z' fill='#404040')
                  path(d='M0 1.81836V1.68203C0 1.68017 0 1.67867 0 1.6769C0 1.67653 0 1.67616 0 1.67578C0 1.62437 0.00139389 1.57407 0.00399593 1.52527C0.00399593 1.52453 0.00399593 1.52378 0.00399593 1.52303C0.00399593 1.52238 0.00399507 1.52163 0.00427386 1.52089C0.00427386 1.51939 0.00427386 1.518 0.00427386 1.5165C0.00427386 1.51613 0.00427386 1.51576 0.00427386 1.51538C0.0322459 1.01785 0.186138 0.629682 0.43008 0.37056L0.498013 0.43905C0.186139 0.721593 0 1.19281 0 1.81836ZM0.496154 0.305335L0.498756 0.302724C0.498012 0.303844 0.496897 0.304589 0.496154 0.305335Z' fill='url(#paint10_linear_594_33949)')
                  path(d='M15.8506 8.14551L2.36194 0.449953C1.98799 0.237113 1.63411 0.136151 1.31898 0.136151C0.997724 0.136151 0.717447 0.241124 0.498596 0.439035L0.430664 0.370545C0.452131 0.347964 0.473876 0.326036 0.496737 0.305321C0.497481 0.304574 0.498596 0.303829 0.499339 0.303082C0.716424 0.106665 0.993727 0.00169116 1.31211 -0.000174991C1.31285 -0.000174991 1.31387 -0.000174991 1.31499 -0.000174991C1.31647 -0.000174991 1.3175 -0.000174991 1.31898 -0.000174991C1.63411 -0.000174991 1.98799 0.100785 2.36194 0.313718L15.9373 8.05845L15.937 8.05873L15.8506 8.14551Z' fill='url(#paint11_linear_594_33949)')
                  defs
                    lineargradient#paint0_linear_594_33949(x1='10.9909' y1='1.46394' x2='-4.66869' y2='17.0598' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#00A0FF')
                      stop(offset='0.00657445' stop-color='#00A1FF')
                      stop(offset='0.2601' stop-color='#00BEFF')
                      stop(offset='0.5122' stop-color='#00D2FF')
                      stop(offset='0.7604' stop-color='#00DFFF')
                      stop(offset='1' stop-color='#00E3FF')
                    lineargradient#paint1_linear_594_33949(x1='22.1746' y1='12.0002' x2='-0.311737' y2='12.0002' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#FFE000')
                      stop(offset='0.4087' stop-color='#FFBD00')
                      stop(offset='0.7754' stop-color='#FFA500')
                      stop(offset='1' stop-color='#FF9C00')
                    lineargradient#paint2_linear_594_33949(x1='13.8047' y1='14.1416' x2='-7.43091' y2='35.2907' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#FF3A44')
                      stop(offset='1' stop-color='#C31162')
                    lineargradient#paint3_linear_594_33949(x1='-2.48524' y1='-6.49833' x2='6.99731' y2='2.94561' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#32A071')
                      stop(offset='0.0685' stop-color='#2DA771')
                      stop(offset='0.4762' stop-color='#15CF74')
                      stop(offset='0.8009' stop-color='#06E775')
                      stop(offset='1' stop-color='#00F076')
                    lineargradient#paint4_linear_594_33949(x1='22.1738' y1='12' x2='-0.311534' y2='12' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#CCB300')
                      stop(offset='0.4087' stop-color='#CC9700')
                      stop(offset='0.7754' stop-color='#CC8400')
                      stop(offset='1' stop-color='#CC7D00')
                    lineargradient#paint5_linear_594_33949(x1='13.8047' y1='14.1416' x2='-7.43091' y2='35.2907' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#CC2E36')
                      stop(offset='1' stop-color='#9C0E4E')
                    lineargradient#paint6_linear_594_33949(x1='10.9909' y1='1.46366' x2='-4.66871' y2='17.0595' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#008DE0')
                      stop(offset='0.00657445' stop-color='#008DE0')
                      stop(offset='0.2601' stop-color='#00A7E0')
                      stop(offset='0.5122' stop-color='#00B8E0')
                      stop(offset='0.7604' stop-color='#00C4E0')
                      stop(offset='1' stop-color='#00C7E0')
                    lineargradient#paint7_linear_594_33949(x1='13.8047' y1='14.1418' x2='-7.43146' y2='35.291' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#E0333C')
                      stop(offset='1' stop-color='#AB0F56')
                    lineargradient#paint8_linear_594_33949(x1='22.1749' y1='12.0004' x2='-0.311349' y2='12.0004' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#E0C500')
                      stop(offset='0.4087' stop-color='#E0A600')
                      stop(offset='0.7754' stop-color='#E09100')
                      stop(offset='1' stop-color='#E08900')
                    lineargradient#paint9_linear_594_33949(x1='22.1753' y1='12.0009' x2='-0.310972' y2='12.0009' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#FFE840')
                      stop(offset='0.4087' stop-color='#FFCE40')
                      stop(offset='0.7754' stop-color='#FFBC40')
                      stop(offset='1' stop-color='#FFB540')
                    lineargradient#paint10_linear_594_33949(x1='10.9909' y1='1.46397' x2='-4.6687' y2='17.0598' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#40B8FF')
                      stop(offset='0.00657445' stop-color='#40B9FF')
                      stop(offset='0.2601' stop-color='#40CEFF')
                      stop(offset='0.5122' stop-color='#40DDFF')
                      stop(offset='0.7604' stop-color='#40E7FF')
                      stop(offset='1' stop-color='#40EAFF')
                    lineargradient#paint11_linear_594_33949(x1='-2.48567' y1='-6.49866' x2='6.99688' y2='2.94528' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#65B895')
                      stop(offset='0.0685' stop-color='#62BD95')
                      stop(offset='0.4762' stop-color='#50DB97')
                      stop(offset='0.8009' stop-color='#44ED98')
                      stop(offset='1' stop-color='#40F498')
                | for Android

        .features__block
          .features__block-info.left.wow.fadeInLeft
            h3.features__block-title Create campaigns for  
              span Test 
              | prototypes

            p.features__block-message
              | Quantitative and qualitative testing
            
            .features__block-buttons
              +button(href="#")
                svg(width='20' height='24' viewBox='0 0 20 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M16.1964 12.763C16.2081 11.8431 16.4508 10.9411 16.9018 10.141C17.3528 9.34093 17.9974 8.6687 18.7757 8.18688C18.2813 7.47583 17.629 6.89066 16.8707 6.47785C16.1123 6.06504 15.2688 5.83597 14.4072 5.80883C12.5692 5.61457 10.7873 6.91628 9.85072 6.91628C8.89598 6.91628 7.45392 5.82811 5.90105 5.86029C4.89661 5.89296 3.91771 6.18707 3.05971 6.71395C2.20172 7.24084 1.4939 7.98253 1.00522 8.86676C-1.11163 12.5572 0.467352 17.9808 2.49512 20.9639C3.50966 22.4246 4.69536 24.0562 6.24683 23.9984C7.76503 23.935 8.33205 23.0235 10.1647 23.0235C11.9802 23.0235 12.5122 23.9984 14.0952 23.9616C15.7243 23.9349 16.7507 22.4944 17.7296 21.0198C18.4586 19.979 19.0195 18.8287 19.3916 17.6115C18.4451 17.2084 17.6375 16.5337 17.0693 15.6715C16.501 14.8093 16.1975 13.7978 16.1964 12.763Z' fill='white')
                  path(d='M13.2068 3.84712C14.0951 2.77342 14.5327 1.39335 14.4267 0C13.0697 0.14352 11.8161 0.796598 10.9159 1.82911C10.4757 2.33352 10.1386 2.92033 9.9238 3.55601C9.709 4.19169 9.62073 4.86376 9.66403 5.5338C10.3428 5.54084 11.0143 5.3927 11.628 5.10054C12.2417 4.80838 12.7815 4.37981 13.2068 3.84712Z' fill='white')
                | for iPad
              +button(href="#")
                svg(width='22' height='24' viewBox='0 0 22 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M0.499128 23.5596L0.43008 23.4932C0.159653 23.2059 0 22.7598 0 22.1821V22.3181V1.68164C0 1.67977 0 1.67837 0 1.67688C0 1.67865 0 1.68014 0 1.68201V1.81833C0 1.19278 0.186138 0.721571 0.498012 0.439027L12.0119 11.9997L0.499128 23.5596ZM0 1.67576C0 1.62434 0.00139388 1.57442 0.00399593 1.52525C0.00139388 1.57405 0 1.62434 0 1.67576ZM0.00399593 1.52301C0.00399593 1.52236 0.00399506 1.52161 0.00427385 1.52086C0.00399506 1.52161 0.00399593 1.52236 0.00399593 1.52301ZM0.00427385 1.51648C0.00427385 1.5161 0.00427385 1.51573 0.00427385 1.51536C0.00427385 1.51573 0.00427385 1.5161 0.00427385 1.51648Z' fill='url(#paint0_linear_594_33949)')
                  path(d='M15.8491 15.9912L15.9366 15.9413L20.4836 13.3472C20.9171 13.0997 21.206 12.7997 21.3502 12.4823C21.2064 12.7997 20.9174 13.1001 20.4836 13.3476L15.9366 15.9417L15.8491 15.9912ZM15.8502 15.8545L12.0117 11.9997L15.8498 8.14552L20.4836 10.7888C21.072 11.1245 21.4024 11.5572 21.4576 11.9993C21.4576 11.9997 21.4576 12.0004 21.4576 12.0011C21.4024 12.4422 21.072 12.8752 20.4836 13.2109L15.8502 15.8545Z' fill='url(#paint1_linear_594_33949)')
                  path(d='M1.32047 24C0.998843 24 0.718194 23.895 0.499344 23.6967L0.499717 23.6964C0.718567 23.8947 0.999587 24 1.32122 24C1.3491 24 1.37744 23.9993 1.40616 23.9979C1.37707 23.9993 1.34835 24 1.32047 24ZM1.32085 23.8633C0.999216 23.8637 0.718567 23.7583 0.499717 23.56V23.5598L12.0125 11.9999L15.8509 15.8547L2.36194 23.5502C1.98873 23.7627 1.63514 23.8633 1.32085 23.8633ZM0.496464 23.6942C0.476112 23.6757 0.456132 23.656 0.436523 23.6355L0.496464 23.6942Z' fill='url(#paint2_linear_594_33949)')
                  path(d='M12.0129 12L0.499023 0.439359C0.717874 0.241449 0.998151 0.136475 1.31941 0.136475C1.63454 0.136475 1.98841 0.237437 2.36236 0.450277L15.851 8.14583L12.0129 12ZM15.9378 8.05877L2.36236 0.314043C1.98841 0.10111 1.63454 0.000149234 1.31941 0.000149234C1.31792 0.000149234 1.3169 0.000149234 1.31541 0.000149234C1.31727 0.000149234 1.31867 0.000149234 1.3209 0.000149234C1.63528 0.000149234 1.98879 0.100736 2.36236 0.31367L15.9378 8.05877Z' fill='url(#paint3_linear_594_33949)')
                  path(d='M1.40518 23.998C1.69735 23.9813 2.02084 23.8803 2.36096 23.6868L15.8488 15.9916L2.36096 23.6868C2.02111 23.8807 1.69735 23.9813 1.40518 23.998ZM0.498363 23.6969L0.495483 23.6944C0.496505 23.6952 0.497619 23.6962 0.498363 23.6969ZM0.435542 23.6357L0.429688 23.6299V23.6296C0.431918 23.6317 0.433684 23.6339 0.435542 23.6357Z' fill='black')
                  path(d='M15.8486 15.9912L15.9362 15.9413L15.8486 15.9912Z' fill='url(#paint4_linear_594_33949)')
                  path(d='M1.32121 24C0.999583 24 0.718563 23.8947 0.499712 23.6964L0.499339 23.6967C0.498596 23.696 0.497482 23.695 0.496459 23.6942L0.436519 23.6355C0.43466 23.6337 0.432894 23.6315 0.430664 23.6294L0.499712 23.56C0.718563 23.7583 0.999211 23.8637 1.32084 23.8633C1.63513 23.8633 1.98873 23.7627 2.36194 23.5502L15.8509 15.8547L15.9373 15.9415L15.8498 15.9914L2.36194 23.6866C2.02181 23.8801 1.69832 23.9811 1.40615 23.9979C1.37744 23.9993 1.34909 24 1.32121 24Z' fill='url(#paint5_linear_594_33949)')
                  path(d='M0.430082 23.6299C0.159654 23.3426 0 22.8965 0 22.3188V22.3184C0 22.8965 0.159654 23.3422 0.430082 23.6295V23.6299Z' fill='black')
                  path(d='M0.430079 23.6289C0.159653 23.3416 0 22.8959 0 22.3178V22.1819C0 22.7595 0.159653 23.2057 0.430079 23.493L0.499127 23.5593L0.430079 23.6289Z' fill='url(#paint6_linear_594_33949)')
                  path(d='M0.430664 23.6299L0.499711 23.5603V23.5606L0.430664 23.6299Z' fill='url(#paint7_linear_594_33949)')
                  path(d='M21.3506 12.4824C21.4221 12.3249 21.458 12.1631 21.458 12.0012C21.458 12.0009 21.458 12.0006 21.458 12.0006C21.458 12.1627 21.4221 12.3245 21.3506 12.4824Z' fill='black')
                  path(d='M15.937 15.9414L15.8506 15.8546L20.484 13.211C21.0724 12.8753 21.4028 12.4423 21.458 12.0012C21.458 12.1631 21.422 12.3249 21.3506 12.4824C21.2064 12.7998 20.9175 13.0998 20.484 13.3473L15.937 15.9414Z' fill='url(#paint8_linear_594_33949)')
                  path(d='M21.4579 12V11.9996C21.4575 11.5115 21.1326 11.0235 20.4839 10.6532L15.9369 8.05906H15.9365L15.9369 8.05877L20.4839 10.6528C21.1334 11.0231 21.4586 11.5119 21.4579 12Z' fill='#404040')
                  path(d='M21.4584 12C21.4032 11.5579 21.0728 11.1252 20.4844 10.7895L15.8506 8.14621L15.937 8.05943H15.9374L20.4844 10.6535C21.1331 11.0239 21.458 11.5119 21.4584 12Z' fill='url(#paint9_linear_594_33949)')
                  path(d='M0 1.67676C0 1.67638 0 1.67601 0 1.67564C0 1.67601 0 1.67638 0 1.67676ZM0.00399592 1.52513C0.00399592 1.52438 0.00399592 1.52364 0.00399592 1.52289C0.00399592 1.52364 0.00399592 1.52438 0.00399592 1.52513ZM0.00427385 1.52074C0.00427385 1.51925 0.00427385 1.51785 0.00427385 1.51636C0.00427385 1.51785 0.00427385 1.51925 0.00427385 1.52074ZM0.00427385 1.51524C0.0580803 0.556665 0.577188 0.00296272 1.31152 -0.000303041C0.993142 0.00156311 0.715839 0.106537 0.498754 0.302955V0.302582L0.496152 0.305193C0.473292 0.325908 0.451546 0.347836 0.430079 0.370417C0.186138 0.629539 0.0322458 1.01771 0.00427385 1.51524Z' fill='#404040')
                  path(d='M0 1.81836V1.68203C0 1.68017 0 1.67867 0 1.6769C0 1.67653 0 1.67616 0 1.67578C0 1.62437 0.00139389 1.57407 0.00399593 1.52527C0.00399593 1.52453 0.00399593 1.52378 0.00399593 1.52303C0.00399593 1.52238 0.00399507 1.52163 0.00427386 1.52089C0.00427386 1.51939 0.00427386 1.518 0.00427386 1.5165C0.00427386 1.51613 0.00427386 1.51576 0.00427386 1.51538C0.0322459 1.01785 0.186138 0.629682 0.43008 0.37056L0.498013 0.43905C0.186139 0.721593 0 1.19281 0 1.81836ZM0.496154 0.305335L0.498756 0.302724C0.498012 0.303844 0.496897 0.304589 0.496154 0.305335Z' fill='url(#paint10_linear_594_33949)')
                  path(d='M15.8506 8.14551L2.36194 0.449953C1.98799 0.237113 1.63411 0.136151 1.31898 0.136151C0.997724 0.136151 0.717447 0.241124 0.498596 0.439035L0.430664 0.370545C0.452131 0.347964 0.473876 0.326036 0.496737 0.305321C0.497481 0.304574 0.498596 0.303829 0.499339 0.303082C0.716424 0.106665 0.993727 0.00169116 1.31211 -0.000174991C1.31285 -0.000174991 1.31387 -0.000174991 1.31499 -0.000174991C1.31647 -0.000174991 1.3175 -0.000174991 1.31898 -0.000174991C1.63411 -0.000174991 1.98799 0.100785 2.36194 0.313718L15.9373 8.05845L15.937 8.05873L15.8506 8.14551Z' fill='url(#paint11_linear_594_33949)')
                  defs
                    lineargradient#paint0_linear_594_33949(x1='10.9909' y1='1.46394' x2='-4.66869' y2='17.0598' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#00A0FF')
                      stop(offset='0.00657445' stop-color='#00A1FF')
                      stop(offset='0.2601' stop-color='#00BEFF')
                      stop(offset='0.5122' stop-color='#00D2FF')
                      stop(offset='0.7604' stop-color='#00DFFF')
                      stop(offset='1' stop-color='#00E3FF')
                    lineargradient#paint1_linear_594_33949(x1='22.1746' y1='12.0002' x2='-0.311737' y2='12.0002' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#FFE000')
                      stop(offset='0.4087' stop-color='#FFBD00')
                      stop(offset='0.7754' stop-color='#FFA500')
                      stop(offset='1' stop-color='#FF9C00')
                    lineargradient#paint2_linear_594_33949(x1='13.8047' y1='14.1416' x2='-7.43091' y2='35.2907' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#FF3A44')
                      stop(offset='1' stop-color='#C31162')
                    lineargradient#paint3_linear_594_33949(x1='-2.48524' y1='-6.49833' x2='6.99731' y2='2.94561' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#32A071')
                      stop(offset='0.0685' stop-color='#2DA771')
                      stop(offset='0.4762' stop-color='#15CF74')
                      stop(offset='0.8009' stop-color='#06E775')
                      stop(offset='1' stop-color='#00F076')
                    lineargradient#paint4_linear_594_33949(x1='22.1738' y1='12' x2='-0.311534' y2='12' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#CCB300')
                      stop(offset='0.4087' stop-color='#CC9700')
                      stop(offset='0.7754' stop-color='#CC8400')
                      stop(offset='1' stop-color='#CC7D00')
                    lineargradient#paint5_linear_594_33949(x1='13.8047' y1='14.1416' x2='-7.43091' y2='35.2907' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#CC2E36')
                      stop(offset='1' stop-color='#9C0E4E')
                    lineargradient#paint6_linear_594_33949(x1='10.9909' y1='1.46366' x2='-4.66871' y2='17.0595' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#008DE0')
                      stop(offset='0.00657445' stop-color='#008DE0')
                      stop(offset='0.2601' stop-color='#00A7E0')
                      stop(offset='0.5122' stop-color='#00B8E0')
                      stop(offset='0.7604' stop-color='#00C4E0')
                      stop(offset='1' stop-color='#00C7E0')
                    lineargradient#paint7_linear_594_33949(x1='13.8047' y1='14.1418' x2='-7.43146' y2='35.291' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#E0333C')
                      stop(offset='1' stop-color='#AB0F56')
                    lineargradient#paint8_linear_594_33949(x1='22.1749' y1='12.0004' x2='-0.311349' y2='12.0004' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#E0C500')
                      stop(offset='0.4087' stop-color='#E0A600')
                      stop(offset='0.7754' stop-color='#E09100')
                      stop(offset='1' stop-color='#E08900')
                    lineargradient#paint9_linear_594_33949(x1='22.1753' y1='12.0009' x2='-0.310972' y2='12.0009' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#FFE840')
                      stop(offset='0.4087' stop-color='#FFCE40')
                      stop(offset='0.7754' stop-color='#FFBC40')
                      stop(offset='1' stop-color='#FFB540')
                    lineargradient#paint10_linear_594_33949(x1='10.9909' y1='1.46397' x2='-4.6687' y2='17.0598' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#40B8FF')
                      stop(offset='0.00657445' stop-color='#40B9FF')
                      stop(offset='0.2601' stop-color='#40CEFF')
                      stop(offset='0.5122' stop-color='#40DDFF')
                      stop(offset='0.7604' stop-color='#40E7FF')
                      stop(offset='1' stop-color='#40EAFF')
                    lineargradient#paint11_linear_594_33949(x1='-2.48567' y1='-6.49866' x2='6.99688' y2='2.94528' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#65B895')
                      stop(offset='0.0685' stop-color='#62BD95')
                      stop(offset='0.4762' stop-color='#50DB97')
                      stop(offset='0.8009' stop-color='#44ED98')
                      stop(offset='1' stop-color='#40F498')
                | for Android
          .features__block-img.wow.fadeInRight
            +picture({
              lazy: false,
              path: images + "features/features-img6.png",
              attr: { "alt": "phones" }
            })