.button
  display inline-block
  font-size 22px
  line-height 28px
  padding 12px 40px
  background-color transparent
  border-radius 16px
  transition all 0.3s
  color $white
  text-align center
  border 3px solid $white
  border-radius 10px

  &:hover,
  &:focus-visible
    color $bg
    background-color $white
    outline none