include modules/form/index
include modules/form-cabinet/index
include modules/button/index
include modules/dark-mode/index

doctype html
html(lang="en")
  head
    - var title

    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    block head

    title= title

    block styles

  body
    header.header
      .header__container
        +dark-mode()

      .header__desktop
        .header__container
          .header__logo
            a.header__logo-img(href="index.html")

          nav.header__menu
            ul.header__menu-ul
              li.header__menu-li
                a(href="#") About US
              li.header__menu-li
                a(href="#") Terms&Conditions
              li.header__menu-li
                a(href="#") How to buy
              li.header__menu-li
                a(href="#") Blog

          .header__action
            a(href="#").header__action-login Log In
            a(href="#").header__action-signup Sign Up

      .header__mobile
        .header__mobile-top
          .header__left
            .header__logo
              a.header__logo-img(href="index.html")

          .header__right
            .header__burger-button
              button.menu__burger.menu__burger--mobile
                svg(width='25' height='20' viewBox='0 0 25 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M0 2C0 0.895431 0.895431 0 2 0H25V4H2C0.89543 4 0 3.10457 0 2Z' fill='#272727')
                  path(d='M5.7998 10C5.7998 8.89543 6.69524 8 7.7998 8H24.7998V12H7.7998C6.69524 12 5.7998 11.1046 5.7998 10Z' fill='#272727')
                  path(d='M11 18C11 16.8954 11.8954 16 13 16H25V20H13C11.8954 20 11 19.1046 11 18Z' fill='#272727')

        .header__mobile-inner
          .header__mobile-inner-top
            .header__mobile-inner-top-logo
              a(href="index.html")
                img(src="../img/global/logo-white.svg" alt="")

            button(type="button").header__mobile-inner-top-close
              svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M1.07143 18.9284C0.479694 18.3366 0.479694 17.3772 1.07143 16.7855L17.8571 -0.000158473L19.9999 2.14269L3.21428 18.9284C2.62255 19.5201 1.66316 19.5201 1.07143 18.9284Z' fill='white')
                path(d='M1.07164 1.07143C1.66337 0.479694 2.62276 0.479694 3.21449 1.07143L20.0002 17.8571L17.8573 19.9999L1.07164 3.21428C0.47991 2.62255 0.479909 1.66316 1.07164 1.07143Z' fill='white')

          .header__user
            h3.header__user-name User373
            span.header__user-email randommm23@gmail.com

          nav.header__menu
            ul.header__menu-ul
              each key, value in {"Dashboard": "dashboard", "Profile": "profile", "Buy crypto": "buy-crypto", "Withdrawal": "withdrawal", "Exchange": "exchange", "Transaction history": "transaction-history", "Support": "support", "Balances": "balances", "Sign out": "sign-out"}
                li.header__menu-li
                  a.header__menu-link(href=`index.html#${key}` )= value

    main.main#main
      block main

    #openingAnim
    #loaderAnim

    script(src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous") 
    block scripts
