include header/index
include footer/index
include modules/form/index
include modules/form-cabinet/index
include modules/button/index
include modules/pictures/index
include modules/dark-mode/index

doctype html
html(lang="en")
  head
    - var title

    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    block head

    title= title

    block styles

  body
    +header()

    main.main#main
      if !emptyHeader
        .mobile__cards
          .header__cards
            .header__cards-item.header__cards--green
              .header__cards-info
                .header__cards-info-value
                  svg(width='9' height='13' viewBox='0 0 9 13' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M4.23266 12.1429V0H5.58269V12.1429H4.23266ZM4.71867 10.7477C3.96266 10.7477 3.23814 10.653 2.54513 10.4636C1.85211 10.2655 1.2941 10.0114 0.871094 9.70139L1.61361 8.1254C2.01862 8.40098 2.49563 8.6292 3.04464 8.81005C3.60265 8.98229 4.16516 9.06841 4.73217 9.06841C5.16418 9.06841 5.51069 9.02966 5.7717 8.95215C6.0417 8.86603 6.2397 8.74977 6.36571 8.60336C6.49171 8.45696 6.55471 8.28903 6.55471 8.09956C6.55471 7.85843 6.45571 7.66896 6.2577 7.53117C6.0597 7.38477 5.7987 7.26851 5.47469 7.18239C5.15068 7.08766 4.79067 7.00154 4.39467 6.92403C4.00766 6.83791 3.61615 6.73456 3.22014 6.614C2.83313 6.49343 2.47763 6.33841 2.15362 6.14895C1.82961 5.95949 1.56411 5.70974 1.3571 5.39971C1.1591 5.08968 1.0601 4.69353 1.0601 4.21126C1.0601 3.69454 1.2041 3.22519 1.49211 2.8032C1.78911 2.3726 2.23012 2.03243 2.81513 1.78268C3.40915 1.52432 4.15166 1.39514 5.04268 1.39514C5.63669 1.39514 6.2217 1.46404 6.79772 1.60183C7.37373 1.73101 7.88224 1.92908 8.32325 2.19605L7.64823 3.78496C7.20722 3.54383 6.76622 3.36728 6.32521 3.25533C5.8842 3.13476 5.45219 3.07448 5.02918 3.07448C4.60617 3.07448 4.25966 3.12184 3.98966 3.21657C3.71965 3.3113 3.52615 3.43618 3.40915 3.59119C3.29214 3.7376 3.23364 3.90984 3.23364 4.10791C3.23364 4.34044 3.33264 4.5299 3.53065 4.6763C3.72865 4.81409 3.98966 4.92605 4.31366 5.01217C4.63767 5.09829 4.99318 5.18441 5.38019 5.27053C5.77619 5.35665 6.1677 5.45569 6.55471 5.56764C6.95072 5.6796 7.31073 5.83031 7.63473 6.01977C7.95874 6.20923 8.21975 6.45898 8.41775 6.76901C8.62475 7.07904 8.72826 7.47089 8.72826 7.94455C8.72826 8.45265 8.57975 8.9177 8.28275 9.33969C7.98574 9.76167 7.54023 10.1018 6.94622 10.3602C6.36121 10.6186 5.61869 10.7477 4.71867 10.7477Z' fill='#272727')
                  span USD

                .header__cards-info-number 700
                  span .43

              .header__cards-action 
                button(type="button") Actions
              .header__cards-buttons
                button(type="button").header__cards-withdrawal Withdrawal
                button(type="button").header__cards-transfer Transfer

            .header__cards-item.header__cards--red
              .header__cards-info
                .header__cards-info-value
                  svg(width='12' height='11' viewBox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M-0.000488281 6.99982V5.75672H8.06236V6.99982H-0.000488281ZM-0.000488281 4.95759V3.71449H8.06236V4.95759H-0.000488281ZM7.11995 10.7143C6.30219 10.7143 5.54428 10.5861 4.84619 10.3295C4.15809 10.0632 3.55973 9.68826 3.05113 9.20483C2.54252 8.72141 2.14861 8.15412 1.86937 7.50298C1.59014 6.85183 1.45052 6.13656 1.45052 5.35715C1.45052 4.57775 1.59014 3.86248 1.86937 3.21133C2.14861 2.56019 2.54252 1.9929 3.05113 1.50947C3.55973 1.02605 4.15809 0.656078 4.84619 0.399566C5.54428 0.133189 6.30219 0 7.11995 0C8.02745 0 8.85019 0.157854 9.58817 0.473561C10.3261 0.779402 10.9395 1.23323 11.4281 1.83505L9.88734 3.25573C9.52833 2.85123 9.12943 2.55032 8.69063 2.353C8.25184 2.14582 7.76817 2.04223 7.23962 2.04223C6.75096 2.04223 6.30219 2.12116 5.89332 2.27901C5.48444 2.43686 5.13041 2.66378 4.83124 2.95975C4.53206 3.25573 4.2977 3.60597 4.12817 4.01047C3.96861 4.41497 3.88883 4.86386 3.88883 5.35715C3.88883 5.85045 3.96861 6.29934 4.12817 6.70384C4.2977 7.10834 4.53206 7.45858 4.83124 7.75456C5.13041 8.05053 5.48444 8.27745 5.89332 8.4353C6.30219 8.59315 6.75096 8.67208 7.23962 8.67208C7.76817 8.67208 8.25184 8.57342 8.69063 8.3761C9.12943 8.16892 9.52833 7.85815 9.88734 7.44378L11.4281 8.86446C10.9395 9.46628 10.3261 9.92504 9.58817 10.2407C8.85019 10.5565 8.02745 10.7143 7.11995 10.7143Z' fill='#272727')
                  span EUR

                .header__cards-info-number 1 899
                  span .35

              .header__cards-action
                button(type="button") Actions

              .header__cards-buttons
                button(type="button").header__cards-withdrawal Withdrawal
                button(type="button").header__cards-transfer Transfer

            .header__cards-item.header__cards--yellow
              .header__cards-info
                .header__cards-info-value
                  svg(width='10' height='12' viewBox='0 0 10 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M3.48544 0H1.81401V0.93677H0.142578V2.62296H1.44258V8.43093H0.142578V10.1171H1.81401V11.4286H3.48544V10.1171H4.59973V11.2412H6.27116V10.117C6.83284 10.1129 7.35009 10.0224 7.82272 9.84559C8.31602 9.66457 8.70704 9.40166 8.99558 9.05685C9.28413 8.70343 9.42831 8.26812 9.42831 7.75092C9.42831 7.15613 9.26074 6.65617 8.92576 6.25103C8.60003 5.84589 8.15316 5.56573 7.58549 5.41057C8.05087 5.22093 8.40453 4.92785 8.64646 4.53133C8.8884 4.13481 9.00955 3.71674 9.00955 3.27711C9.00955 2.88921 8.91633 2.51855 8.73025 2.16513C8.55342 1.80309 8.29281 1.51 7.9484 1.28588C7.61342 1.05314 7.21316 0.93677 6.74778 0.93677H6.27116V0H4.59973V0.93677H3.48544V0ZM3.48544 4.777V2.46252H6.02179C6.22655 2.46252 6.40809 2.50993 6.56624 2.60475C6.73382 2.69957 6.86422 2.83318 6.95726 3.00558C7.05954 3.17798 7.11069 3.38055 7.11069 3.6133C7.11069 3.85466 7.05501 4.06154 6.94329 4.23394C6.84082 4.40634 6.70117 4.53995 6.52435 4.63477C6.34752 4.72959 6.15219 4.777 5.938 4.777H3.48544ZM3.48544 8.6043V6.18638H6.32902C6.55228 6.18638 6.74778 6.24241 6.91536 6.35447C7.09219 6.45791 7.23184 6.60445 7.33413 6.79409C7.4366 6.97511 7.48774 7.18199 7.48774 7.41474C7.48774 7.63024 7.43188 7.8285 7.32016 8.00952C7.20844 8.19054 7.05501 8.33708 6.8595 8.44914C6.67324 8.55258 6.46395 8.6043 6.23126 8.6043H3.48544Z' fill='#272727')
                  span BTC

                .header__cards-info-number 22 700
                  span .35

              .header__cards-action
                button(type="button") Actions

              .header__cards-buttons
                button(type="button").header__cards-withdrawal Withdrawal
                button(type="button").header__cards-transfer Transfer

      block main

    #openingAnim
    #loaderAnim

    script(src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous") 
    block scripts
