extends ../includes/page

include ../includes/modules/cabinet/slider-blocks/index

block head
  - var title = "Aura Own Cabinet"
  - var headerButton = "cabinet"

block styles
  link(rel="stylesheet" href="css/libs.min.css")
  link(rel="stylesheet" href="css/cabinet.min.css")

block scripts 
  script(src="scripts/libs.min.js")
  script(src="scripts/main.js")
  script(src="scripts/cabinet.js")

block main
  section.intro
    .intro__inner
      .intro__top
        .intro__top-image
          img(src="https://html5css.ru/howto/img_avatar.png", alt="Avatar")

        .intro__top-revard
          h4.intro__top-revard-title Reward:
            span.intro__top-revard-summ(title="0.6252424 BNB") 0.6252424 BNB
          .intro__top-revard-buttons
            +button(href="#" data-izimodal-open="#modal-error")
              | Mint
            +button(href="#" data-izimodal-open="#modal-error")
              | Withdraw
        
        .intro__top-invited
          .intro__top-invited-left 
            span 16
            span Invited:
          
          ul.intro__top-invited-right
            li(title="0x0 .. fde4") 0x0 .. fde4
            li(title="0x0 .. fde4") 0x0 .. fde4
            li(title="0x0 .. fde4") 0x0 .. fde4
            li(title="0x0 .. fde4") 0x0 .. fde4
            li(title="0x0 .. fde4") 0x0 .. fde4
            li(title="0x0 .. fde4") 0x0 .. fde4
            li(title="0x0 .. fde4") 0x0 .. fde4
            li(title="0x0 .. fde4") 0x0 .. fde4

      .intro__middle
        .intro__middle-field.intro__middle--wallet
          h4.intro__middle-field-title My wallet:
          button.intro__middle-field-main
            .field-inner
              span 0x2598763 .. Dft157dfe589w
            .field-icon
              img(src="img/cabinet/wallet-icon.svg", alt="Wallet icon")

        .intro__middle-field.intro__middle--invite
          h4.intro__middle-field-title Link for invitation:
          button.intro__middle-field-main
            .field-inner
              span 0x2598763 .. Dft157dfe589w
            .field-icon
              img(src="img/cabinet/copy-icon.svg", alt="copy icon")

        .intro__middle-qualification
          h4.intro__middle-qualification-title Qualification
          .qualification__info
            .qualification__info-first
              .first-title STATUS: 
              .first-info YES
            .qualification__info-second
              .second-title AUTO: 
              button(data-izimodal-open="#modal-error").second-info TURBO

      .intro__bottom
        .intro__bottom-mint
          h4.mint-title Mint NFT

          .mint-blocks
            a.mint-block.mint-block--green(href="#")
              span(title="0.125") 0.125
              span BNB
            a.mint-block.mint-block--green(href="#")
              span(title="0.25") 0.25
              span BNB
            a.mint-block.mint-block--orange(href="#")
              span(title="0.5") 0.5
              span BNB
            a.mint-block(href="#")
              span(title="1") 1
              span BNB
            a.mint-block(href="#")
              span(title="2") 2
              span BNB
            a.mint-block(href="#")
              span(title="4") 4
              span BNB
            a.mint-block(href="#")
              span(title="8") 8
              span BNB
            a.mint-block(href="#")
              span(title="16") 16
              span BNB
            a.mint-block(href="#")
              span(title="32") 32
              span BNB
            a.mint-block(href="#")
              span(title="64") 64
              span BNB

        .intro__bottom-slider
           +cabinet-blocks({
              list: [
                {
                  type: "big",
                  summ: "0.125",
                  currency: "BNB",
                  percent: "64%",
                  button: "Off"
                },
                {
                  type: "big",
                  summ: "0.25",
                  currency: "BNB",
                  percent: "64%",
                  button: "On"
                },
                {
                  type: "medium",
                  summ: "0.5",
                  currency: "BNB",
                  percent: "0%",
                  button: "Mint"
                },
                {
                  type: "medium",
                  summ: "0.5",
                  currency: "BNB",
                  percent: "0%",
                  button: "Mint"
                },
                {
                  type: "medium",
                  summ: "0.5",
                  currency: "BNB",
                  percent: "0%",
                  button: "Mint"
                },
                {
                  type: "medium",
                  summ: "0.5",
                  currency: "BNB",
                  percent: "0%",
                  button: "Mint"
                },
                {
                  type: "medium",
                  summ: "0.5",
                  currency: "BNB",
                  percent: "0%",
                  button: "Mint"
                },
              ]
            })

  +modal-error()