extends ../includes/page

include ../includes/modules/cabinet/slider-blocks/index

block head
  - var title = "Aura Own Cabinet"
  - var headerButton = "cabinet"

block styles
  link(rel="stylesheet" href="css/libs.min.css")
  link(rel="stylesheet" href="css/cabinet.min.css")

block scripts 
  script(src="scripts/libs.min.js")
  script(src="scripts/main.js")
  script(src="scripts/cabinet.js")

block main
  section.intro
    .intro__inner
      .intro__top
        .intro__top-left
          .nft
            h4.nft__title Your NFT
            ul.nft__inner
              li.nft__li(title="Lorem ipsum dolor sit amet.") AURA NFT Power 50
              li.nft__li(title="Lorem ipsum dolor sit amet.") AURA NFT Power 100
              li.nft__li(title="Lorem ipsum dolor sit amet.") AURA NFT Power 200
            button.nft__all Watch all

          .qualification
            h4.qualification__title Qualification
            .qualification__info
              .qualification__info-first
                .first-title STATUS: 
                .first-info YES
              .qualification__info-second
                button(data-izimodal-open="#modal-error").turbo Buy Turbo

        .intro__top-right
          .top
            .field.field--wallet
              h4.field__title My wallet:
              button.field__main
                .field__inner
                  span 0x2598763 .. Dft157dfe589w
                .field__icon
                  img(src="img/cabinet/wallet-icon.svg", alt="Wallet icon")

            .field.field--invite
              h4.field__title Link for invitation:
              button.field__main
                .field__inner
                  span https://your-site.io/RefID
                .field__icon
                  img(src="img/cabinet/copy-icon.svg", alt="copy icon")

          .bottom
            .reward
              h4.reward__title Balance:
                span.reward__reward(title="0.425 BNB") 0.425 BNB
              h4.reward__title Reward:
                span.reward__reward(title="0.625 BNB") 0.625 BNB
              .reward__buttons
                +button(href="#" data-izimodal-open="#modal-error")
                  | Withdraw
            
            .invited
              .invited__left 
                span 16
                span Invited:
              
              ul.invited__right
                li(title="0x0 .. yt9yebfvm") 0x0 .. yt9yebfvm
                li(title="0x0 .. yt9yebfvm") 0x0 .. fde4pgnw
                li(title="0x0 .. yt9yebfvm") 0x0 .. 56427fjbf
                li(title="0x0 .. yt9yebfvm") 0x0 .. 468f8gobo
                li(title="0x0 .. yt9yebfvm") 0x0 .. 468f7nldd
                li(title="0x0 .. yt9yebfvm") 0x0 .. 56427fjbf
                li(title="0x0 .. yt9yebfvm") 0x0 .. 468f8gobo
                li(title="0x0 .. yt9yebfvm") 0x0 .. 468f7nldd

      .intro__middle
        .intro__middle-mint
          h4.mint-title Mint NFT

          .mint-blocks
            a.mint-block.mint-block--green(href="#")
              span(title="0.125") 0.125
              span BNB
            a.mint-block.mint-block--green(href="#")
              span(title="0.25") 0.25
              span BNB
            a.mint-block.mint-block--orange(href="#")
              span(title="0.5") 0.5
              span BNB
            a.mint-block(href="#")
              span(title="1") 1
              span BNB
            a.mint-block(href="#")
              span(title="2") 2
              span BNB
            a.mint-block(href="#")
              span(title="4") 4
              span BNB
            a.mint-block(href="#")
              span(title="8") 8
              span BNB
            a.mint-block(href="#")
              span(title="16") 16
              span BNB
            a.mint-block(href="#")
              span(title="32") 32
              span BNB
            a.mint-block(href="#")
              span(title="64") 64
              span BNB

        .intro__middle-slider
           +cabinet-blocks({
              list: [
                {
                  type: "big",
                  summ: "0.125",
                  currency: "BNB",
                  percent: "64%",
                  button: "Off"
                },
                {
                  type: "big",
                  summ: "0.25",
                  currency: "BNB",
                  percent: "64%",
                  button: "On"
                },
                {
                  type: "medium",
                  summ: "0.5",
                  currency: "BNB",
                  percent: "0%",
                  button: "Mint"
                },
                {
                  type: "medium",
                  summ: "0.5",
                  currency: "BNB",
                  percent: "0%",
                  button: "Mint"
                },
                {
                  type: "medium",
                  summ: "0.5",
                  currency: "BNB",
                  percent: "0%",
                  button: "Mint"
                },
                {
                  type: "medium",
                  summ: "0.5",
                  currency: "BNB",
                  percent: "0%",
                  button: "Mint"
                },
                {
                  type: "medium",
                  summ: "0.5",
                  currency: "BNB",
                  percent: "0%",
                  button: "Mint"
                },
              ]
            })
        
      .intro__bottom
        .intro__bottom-inner
          p.intro__bottom-text System powered by
          .intro__bottom-logo
            img(src="img/cabinet/Binance_logo.svg", alt="Binance smart chain logo")

  +modal-error()