extends ../includes/page

include ../includes/modules/price-blocks/index
include ../includes/modules/benefits-blocks/index
include ../includes/modules/roadmap/index
include ../includes/modules/accordion/index

block head
  - var title = "Aura Landing"
  - var headerButton = "landing"

block styles
  link(rel="stylesheet" href="css/libs.min.css")
  link(rel="stylesheet" href="css/landing.min.css")

block scripts 
  script(src="scripts/libs.min.js")
  script(src="scripts/main.js")
  script(src="scripts/landing.js" type="module")

block main
  section.intro
    .intro__inner.wow.fadeInLeft
      .intro__info
        h1.intro__title Aura Bank
        p.intro__message
          | It&nbsp;is&nbsp;a&nbsp;system that uses the SMART algorithm with NFT elements. The essence of&nbsp;the project is&nbsp;passive income by&nbsp;buying AURA-Pass and attracting referrals.

      .intro__illustration
        canvas#canvas
        +picture({
          lazy: false,
          path: "img/first/nft-viz.png",
          attr: { "alt": "NFT" },
          mainAttr: {
            "class": "wow fadeIn",
            "data-wow-duration": "2s",
            "data-wow-offset": "10",
            "data-wow-delay": ".1s"
            }
        })

  section.results
    .results__inner
      .results__container
        h3.results__title Our Results in Numbers
        .results__wrapper
          each val, key in {"Members": "22 880", "Turnover": "567 123", "Transactions": "36 789"}
            .results__block
              h5.results__block-title= key
              p.results__block-numbers= val

  section.pass
    .pass__inner
      .pass__info
        h2.pass__title.section-title AURA Pass
        p.pass__message
          | Sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab&nbsp;illo inventore veritatis et&nbsp;quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut&nbsp;labore et&nbsp;dolore magnam aliquam quaerat voluptatem. Ut&nbsp;enim ad&nbsp;minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut&nbsp;aliquid ex&nbsp;ea&nbsp;commodi consequatur? Quis autem vel eum iure reprehenderit qui in&nbsp;ea&nbsp;voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
        +button(href="#")
          | View on openSea

      .pass__img
        +picture({
          lazy: false,
          path: "img/third/pass-nft.png",
          attr: { "alt": "NFT image" },
          mainAttr: {
            "class": "wow fadeIn",
            "data-wow-duration": "2s",
            "data-wow-offset": "10",
            "data-wow-delay": ".1s"
            }
        })

  section.how-it-works
    .how-it-works__inner
      h2.how-it-works__title.section-title How it works
      p.how-it-works__message
        | The client buys NFTs of&nbsp;different levels. Each level has its own price.<br> After purchasing the NFT, the client must qualify (bring 2&nbsp;referrals) to&nbsp;join the queue. The queue can also be&nbsp;purchased for the customer level NFT cost. By&nbsp;bringing 2&nbsp;referrals, the client receives back 100% of&nbsp;the cost of&nbsp;NFT.

      .how-it-works__main.how-it-works__main--desktop
        .number__bank
          span Bank
        .number__single.first__single
          span 1
        .number__double
          .number__single 
            span 2
          .number__single 
            span 3
        .number__single 
          span 1
        .number__double
          .number__single 
            span 4
          .number__single 
            span 5

      p.how-it-works__message
        | In&nbsp;the queue, the client waits until 2&nbsp;people stand behind him, after which he&nbsp;will receive 200% of&nbsp;the cost of&nbsp;his level, but 100% will go&nbsp;back to&nbsp;the system in&nbsp;order to&nbsp;re-queue for payment.<br> Each client has the opportunity to&nbsp;move to&nbsp;a&nbsp;higher level by&nbsp;purchasing the necessary NFT, and repeat the process at&nbsp;a&nbsp;new level.

  section.levels
    .levels__inner
      h2.levels__title.section-title Levels
      p.levels__message
        | Each level can only be&nbsp;purchased after the previous one, by&nbsp;queue.

      +price-block({
        list: [
          {
            level: "1",
            price: "$50",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit"
          },
          {
            level: "2",
            price: "$100",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit"
          },
          {
            level: "3",
            price: "$200",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit"
          },
          {
            level: "4",
            price: "$300",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit"
          },
          {
            level: "5",
            price: "$400",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit"
          }
        ]
      })

  section.benefits
    .benefits__inner
      h2.benefits__title.section-title Benefits

      +benefits-block({
        list: [
          {
            iconSrc: "img/sixth/consulting.svg",
            title: "Business Consulting",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
          },
          {
            iconSrc: "img/sixth/desktop-mobile.svg",
            title: "Web and Mobile Apps",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
          },
          {
            iconSrc: "img/sixth/brain.svg",
            title: "Digital Branding",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
          },
          {
            iconSrc: "img/sixth/data-deploy.svg",
            title: "Data Deploy",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
          }
        ]
      })

  section.about
    .about__inner 
      .about__info
        h2.about__title.section-title About AURA
        p.about__message
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation ullamco laboris nisi ut&nbsp;aliquip ex&nbsp;ea&nbsp;commodo consequat. Duis aute irure dolor in&nbsp;reprehenderit in&nbsp;voluptate velit esse cillum dolore eu&nbsp;fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in&nbsp;culpa qui officia deserunt mollit anim id&nbsp;est laborum.

        p.about__message
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation ullamco laboris nisi ut&nbsp;aliquip ex&nbsp;ea&nbsp;commodo consequat.

    .about__img
      +picture({
        lazy: false,
        path: "img/seventh/about-img.png",
        attr: { "alt": "About image" },
        mainAttr: {
          "class": "wow fadeIn",
          "data-wow-duration": "2s",
          "data-wow-offset": "10",
          "data-wow-delay": ".1s"
          }
      })

  section.roadmap
    .roadmap__inner 
      h2.roadmap__title.section-title Roadmap
      +roadmap({
        list: [
          {
            animation: "fadeInRight",
            side: "left",
            title: "Prototyping",
            text: "When we’re done with the idea, we move towards to prototyping. At this step, we implement all your instructions and requirements to the product prototype. You’ll see in detail how everything will look like when the product is released.",
            number: "1"
          },
          {
            animation: "fadeInLeft",
            side: "right",
            title: "Discovery",
            text: "We understand that every business is unique, and so are its needs. The discovery stage is where your needs and requirements are articulated. Then our professional team begins the research process, deep site analysis.",
            number: "2"
          },
          {
            animation: "fadeInRight",
            side: "left",
            title: "Strategy",
            text: "We begin the design process with well-thought-out strategic planning. Our specialist will define your specific business objectives, organize the content so that to meet the needs of your potential clients, visitors, or buyers",
            number: "3"
          },
          {
            animation: "fadeInLeft",
            side: "right",
            title: "Launching",
            text: "This is the final stage of the website design process. Once you are satisfied with the approved design, we start testing it for possible bugs. We check your website on its features, test it internally and on various devices and browsers to make sure nothing’s been missed.",
            number: "4"
          },
          {
            animation: "fadeInRight",
            side: "left",
            title: "Production",
            text: "Our expert designers work with you to get the right picture of your new website and to consider all the wishes and requirements. This process includes diverse approvals, tests, reviews, and close communication.",
            number: "5"
          }
        ]
      })

  section.faq
    .faq__inner
      h2.faq__title.section-title FAQ

      +accordion()
        +accordion-item("<h3>How can I make the order?</h3>")
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua.
        +accordion-item("<h3>What if I don’t know what plan I need?</h3>")
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua.
        +accordion-item("<h3>What payment options do you provide for clients?</h3>")
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua.
        +accordion-item("<h3>Do you have a money back guarantee?</h3>")
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua.
        +accordion-item("<h3>How can I change my plan?</h3>")
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua.
        +accordion-item("<h3>Can I get video consultation with your specialist?</h3>")
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua.
      
      +button(href="#")
        | Learn more