extends ../includes/page

block head
  -
    title = "Aura"
    headerButton = "landing"

block styles
  link(rel="stylesheet", href="css/libs.min.css")
  link(rel="stylesheet", href="css/style.min.css")

block scripts 
  script(src="js/libs.min.js")
  script(src="js/main.js")

block main
  