extends ../includes/page

include ../includes/modules/price-blocks/index
include ../includes/modules/benefits-blocks/index
include ../includes/modules/accordion/index
include ../includes/modules/team-members/index

block head
  - var title = "Aura Landing"
  - var headerButton = "landing"

block styles
  link(rel="stylesheet" href="css/libs.min.css")
  link(rel="stylesheet" href="css/landing.min.css")

block scripts 
  script(src="scripts/libs.min.js")
  script(src="scripts/main.js")
  script(src="scripts/landing.js")

block main
  section.intro#intro
    .intro__inner
      .intro__info.wow.fadeInLeft(data-wow-delay=".2s")
        h1.intro__title World first NFT Bank is&nbsp;here!
        p.intro__message
          | Leave your idea of&nbsp;ordinary banks and NFT in&nbsp;the past, a&nbsp;new era has come

      .intro__illustration.wow.fadeInRight#parallax
        .intro__illustration-lines(data-depth="0.5")
        .intro__illustration-smokebot(data-depth="1.5")
        .intro__illustration-main(data-depth="-0.5")
        .intro__illustration-smoketop(data-depth="-1.5")

  section.results#results.wow.fadeInDown(data-wow-delay=".2s")
    .results__inner
      .results__container
        h3.results__title Our Results in Numbers
        .results__wrapper
          each val, key in {"Members": "22 880", "Turnover": "567 123", "Transactions": "36 789"}
            .results__block
              h5.results__block-title= key
              p.results__block-numbers= val

  section.pass#pass
    .pass__inner
      .pass__img
        +picture({
          lazy: false,
          path: "img/third/pass-nft.png",
          attr: { "alt": "NFT image" },
          mainAttr: {
            "class": "wow fadeInRight",
            "data-wow-duration": "2s",
            "data-wow-offset": "10",
            "data-wow-delay": ".2s"
            }
        })

      .pass__info.wow.fadeInLeft(data-wow-delay=".2s")
        h2.pass__title.section-title AURA Pass
        p.pass__message
          | Let's imagine a fresh, new tree that had just been planted, you are this tree, by buying an NFT pass you become a seed that begins to grow, starts to sprout new branches and buds, those sprouts are your referral partners
        +button(href="#" target="_blank")
          | View on openSea

  section.how-it-works#how-it-works.wow.fadeInDown(data-wow-delay=".2s")
    .how-it-works__inner
      h2.how-it-works__title.section-title.wow.fadeInDown(data-wow-delay=".4s") How it works
      p.how-it-works__message.wow.fadeInDown(data-wow-delay=".6s")
        | The key concept behind the idea of&nbsp;AURA is&nbsp;to&nbsp;build a&nbsp;hybrid system of&nbsp;NFTs and fintech thanks to&nbsp;a&nbsp;community of&nbsp;crypto-enthusiasts and to&nbsp;allow the project participants to&nbsp;earn money during its development. It&nbsp;is&nbsp;a&nbsp;simple investing process, but with a&nbsp;fast cashback for its investors from the very first days of&nbsp;the project activity.
      p.how-it-works__message.wow.fadeInDown(data-wow-delay=".6s")
        | In&nbsp;order to&nbsp;begin you need to&nbsp;buy an&nbsp;NFT pass card to&nbsp;a&nbsp;level that will give you access to&nbsp;the passive income generation algorithm. 
      p.how-it-works__message.wow.fadeInDown(data-wow-delay=".6s")
        | The higher the level of&nbsp;your NFT pass card&nbsp;&mdash; the more potential you gain in&nbsp;the system in&nbsp;order to&nbsp;get stable cashbacks. 
      p.how-it-works__message.wow.fadeInDown(data-wow-delay=".6s")
        | Then, it&rsquo;s time to&nbsp;qualify and activate the smart contract algorithm. You need to&nbsp;get two referrals to&nbsp;accomplish this step.This will allow you to&nbsp;join the queue of&nbsp;cashback and get 100% of&nbsp;the value of&nbsp;your purchased NFT back. 
      p.how-it-works__message.wow.fadeInDown(data-wow-delay=".6s")
        | Don&rsquo;t want to&nbsp;share the secret of&nbsp;income with anyone? Telling people to&nbsp;invest sometimes can be&nbsp;a&nbsp;tough deal to&nbsp;accomplish, thus, we&nbsp;offer the option to&nbsp;buy positions in&nbsp;the queue for faster qualification. Not a&nbsp;problem! You can qualify by&nbsp;purchasing the position in&nbsp;the queue.

      .how-it-works__main
        .how-it-works__arrows
          .how-it-works__arrow#gray-arrow 
            span#percent1
          .how-it-works__arrow#green-arrow
            span#percent2
          .how-it-works__arrow#yellow-arrow1
            span#percent3
          .how-it-works__arrow#yellow-arrow2
            span#percent4

        .number__bank.wow.fadeInLeft(data-wow-delay=".8s")
          span Bank
        .number__single.first__single.wow.fadeInDown(data-wow-delay="1s")
          span 1
        .number__double.wow.fadeInDown(data-wow-delay="1.2s")
          .number__single.wow.fadeInUp(data-wow-delay="1.4s")
            span 2
          .number__single.wow.fadeInDown(data-wow-delay="1.6s")
            span 3
        .number__single.wow.fadeInUp(data-wow-delay="1.8s")
          span 1
        .number__double.wow.fadeInUp(data-wow-delay="2s")
          .number__single.wow.fadeInDown(data-wow-delay="2.2s")
            span 4
          .number__single.wow.fadeInUp(data-wow-delay="2.4s")
            span 5

      p.how-it-works__message.wow.fadeInDown(data-wow-delay="2.6s")
        | After two or more participants get in a queue behind you, the user will get a cashback of 200% of the cost of the level. However, half of those funds will go back to re-enter the queue in order to continue making passive income from further participants. In this case, 100% of the qualification cost is returned as a cashback. Each level can only be purchased after the previous one had been purchased, by a queue.
      p.how-it-works__message.wow.fadeInDown(data-wow-delay="2.6s")
        | The bank's algorithm is transparent and guaranteed by a sophisticated and verified smart contract that can be inspected carefully on our website or on the official verified smart contract page.

      .how-it-works__button.wow.fadeInDown(data-wow-delay="2.8s")
        +button(href="#")
          | View Presentation

  section.levels#levels.wow.fadeInUp(data-wow-delay=".2s")
    .levels__inner
      h2.levels__title.section-title Levels
      p.levels__message
        | Each level can only be&nbsp;purchased after the previous one, by&nbsp;queue.

      +price-block({
        list: [
          {
            animation: "fadeInUp",
            level: "1",
            price: "$50",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit"
          },
          {
            animation: "fadeInDown",
            level: "2",
            price: "$100",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit"
          },
          {
            animation: "fadeInUp",
            level: "3",
            price: "$200",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit"
          },
          {
            animation: "fadeInDown",
            level: "4",
            price: "$300",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit"
          },
          {
            animation: "fadeInUp",
            level: "5",
            price: "$400",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit"
          },
          {
            animation: "fadeInDown",
            level: "6",
            price: "$500",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit"
          },
          {
            animation: "fadeInUp",
            level: "7",
            price: "$600",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit"
          },
          {
            animation: "fadeInDown",
            level: "8",
            price: "$700",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit"
          }
        ]
      })

  section.benefits#benefits.wow.fadeInDown(data-wow-delay=".2s")
    .benefits__inner
      h2.benefits__title.section-title Benefits

      +benefits-block({
        list: [
          {
            iconSrc: "img/sixth/blockchain.svg",
            title: "The system is built on the blockchain:",
            text: "Binance Smart Chain guarantees very low user fees and transparency of the system, allowing each user to view all activities and transactions without the risk of fraud."
          },
          {
            iconSrc: "img/sixth/profitability.svg",
            title: "High profitability:",
            text: "Earn up to 100 percent of the cost of the purchased level per cycle without any risks and efforts in the process!"
          },
          {
            iconSrc: "img/sixth/referals.svg",
            title: "Low requirements for attracting referrals:",
            text: "To obtain the referrals you only need to send your unique link to your relative, friend, or just a random person on social media. After they join the platform, the only thing left for them is to purchase their unique NFT and then you will receive an instant profit, which will be in your wallet and available for withdrawal."
          },
          {
            iconSrc: "img/sixth/brain.svg",
            title: "The system works without our intervention:",
            text: "The algorithm is based on the Blockchain which guarantees the safe exchange of assets with no risk. It does not require any additional actions for intervention and allows you to generate profits without giving access to other users' assets which gives security for all users of the platform."
          }
        ]
      })

  section.about#about
    .about__inner.wow.fadeInLeft(data-wow-delay=".2s")
      .about__info
        h2.about__title.section-title About AURA
        p.about__message
          | It is a global blockchain ecosystem that brings together several innovative platforms, such as NFT and fintech. As you know, non-fungible tokens are a new phase of the crypto industry with limitless possibilities for development.

        p.about__message
          | Therefore, we are bringing together two huge ecosystems, fintech, and NFT finance, to evolve into a new kind of blockchain bank system.

        p.about__message
          | The AURA Bank concept is built on a sophisticated blockchain algorithm that uses profits from the sale of NFT collectors to generate earnings for ecosystem referrals and fund the further development of the world's first NFT bank. For this purpose, our ecosystem includes NFT storage and NFT exchange, which makes it much easier to use with a user-friendly interface.

        p.about__message
          | Become a member of AURA Bank, and get access to opportunities for the generation of passive income, our NFT ecosystem is the next big step towards your financial freedom

    .about__img.wow.fadeInRight(data-wow-delay=".2s")
      +picture({
        lazy: false,
        path: "img/seventh/about-img.png",
        attr: { "alt": "About image" },
        mainAttr: {
          "class": "wow fadeIn",
          "data-wow-duration": "2s",
          "data-wow-offset": "10",
          "data-wow-delay": ".1s"
          }
      })

  section.roadmap#roadmap
    .roadmap__inner 
      h2.roadmap__title.section-title Roadmap
      .swiper#roadmapSlider
        .swiper-wrapper
          .swiper-slide
            .roadmap__wrapper
              .roadmap__double
                .roadmap__item
                  .roadmap__item-number
                    span 1
                  .roadmap__item-info 
                    time.roadmap__item-date February 2022
                    h3.roadmap__item-title Mockup Design
                    p.roadmap__item-message
                      | The harsh process of the generation of our NFT pass took us some time, this was done to ensure the best quality of design.
                .roadmap__item
                  .roadmap__item-number
                    span 2
                  .roadmap__item-info 
                    time.roadmap__item-date February 2022
                    h3.roadmap__item-title Mockup Design
                    p.roadmap__item-message
                      | The harsh process of the generation of our NFT pass took us some time, this was done to ensure the best quality of design.

              .roadmap__double
                .roadmap__item.roadmap__item--reversed
                  .roadmap__item-number
                    span 3
                  .roadmap__item-info 
                    time.roadmap__item-date February 2022
                    h3.roadmap__item-title Mockup Design
                    p.roadmap__item-message
                      | The harsh process of the generation of our NFT pass took us some time, this was done to ensure the best quality of design.
                .roadmap__item.roadmap__item--reversed
                  .roadmap__item-number
                    span 4
                  .roadmap__item-info 
                    time.roadmap__item-date February 2022
                    h3.roadmap__item-title Mockup Design
                    p.roadmap__item-message
                      | The harsh process of the generation of our NFT pass took us some time, this was done to ensure the best quality of design.

            .roadmap__wrapper.roadmap__wrapper--reversed
              .roadmap__double
                .roadmap__item
                  .roadmap__item-number
                    span 5
                  .roadmap__item-info 
                    time.roadmap__item-date February 2022
                    h3.roadmap__item-title Mockup Design
                    p.roadmap__item-message
                      | The harsh process of the generation of our NFT pass took us some time, this was done to ensure the best quality of design.
                .roadmap__item
                  .roadmap__item-number.item-number--shadow
                    span 6
                  .roadmap__item-info 
                    time.roadmap__item-date February 2022
                    h3.roadmap__item-title Mockup Design
                    p.roadmap__item-message
                      | The harsh process of the generation of our NFT pass took us some time, this was done to ensure the best quality of design.

              .roadmap__double
                .roadmap__item.roadmap__item--reversed
                  .roadmap__item-number
                    span 7
                  .roadmap__item-info 
                    time.roadmap__item-date February 2022
                    h3.roadmap__item-title Mockup Design
                    p.roadmap__item-message
                      | The harsh process of the generation of our NFT pass took us some time, this was done to ensure the best quality of design.
                .roadmap__item.roadmap__item--reversed
                  .roadmap__item-number
                    span 8
                  .roadmap__item-info 
                    time.roadmap__item-date February 2022
                    h3.roadmap__item-title Mockup Design
                    p.roadmap__item-message
                      | The harsh process of the generation of our NFT pass took us some time, this was done to ensure the best quality of design.

            .roadmap__wrapper
              .roadmap__double
                .roadmap__item
                  .roadmap__item-number
                    span 9
                  .roadmap__item-info 
                    time.roadmap__item-date February 2022
                    h3.roadmap__item-title Mockup Design
                    p.roadmap__item-message
                      | The harsh process of the generation of our NFT pass took us some time, this was done to ensure the best quality of design.
                .roadmap__item
                  .roadmap__item-number
                    span 10
                  .roadmap__item-info 
                    time.roadmap__item-date February 2022
                    h3.roadmap__item-title Mockup Design
                    p.roadmap__item-message
                      | The harsh process of the generation of our NFT pass took us some time, this was done to ensure the best quality of design.

              .roadmap__double
                .roadmap__item.roadmap__item--reversed
                  .roadmap__item-number
                    span 11
                  .roadmap__item-info 
                    time.roadmap__item-date February 2022
                    h3.roadmap__item-title Mockup Design
                    p.roadmap__item-message
                      | The harsh process of the generation of our NFT pass took us some time, this was done to ensure the best quality of design.
                .roadmap__item.roadmap__item--reversed
                  .roadmap__item-number
                    span 12
                  .roadmap__item-info 
                    time.roadmap__item-date February 2022
                    h3.roadmap__item-title Mockup Design
                    p.roadmap__item-message
                      | The harsh process of the generation of our NFT pass took us some time, this was done to ensure the best quality of design.

  section.faq#faq.wow.fadeInDown(data-wow-delay=".2s")
    .faq__inner
      h2.faq__title.section-title FAQ

      +accordion()
        +accordion-item("<h3>How much will a member get for referring new members?</h3>")
          | For the first two referrals, the participant receives 100% from each, starting from the third, 50% for each new participant. The referral program only works to&nbsp;attract new members to&nbsp;the first level.
        +accordion-item("<h3>If I buy more NFTs in the same level, will another queue open?</h3>")
          | No. You will simply have more NFTs. One NFT is&nbsp;enough to&nbsp;participate in&nbsp;the program. You can buy NFT as&nbsp;a&nbsp;gift.
        +accordion-item("<h3>Can I buy the 5th level immediately without going through the other levels below?</h3>")
          | It&nbsp;will be&nbsp;possible to&nbsp;buy Level 5&nbsp;NFTs on&nbsp;the secondary market. You can mint NFT by&nbsp;levels strictly sequentially. In&nbsp;order to&nbsp;mint level 5&nbsp;NFTs, you must have NFTs of&nbsp;the first 4&nbsp;levels in&nbsp;your wallet.
        +accordion-item("<h3>If I buy an NFT from level 2 and give it as a gift, will the new owner be able to take part in level 2 right away with it?</h3>")
          | No. Ownership of&nbsp;NFT tokens of&nbsp;all previous levels will be&nbsp;checked. If&nbsp;the wallet of&nbsp;the new owner contains NFT level&nbsp;1, he&nbsp;will be&nbsp;able to&nbsp;activate the 2nd level and join the queue.
        +accordion-item("<h3>If I join the tier 2 queue and sell my only tier 2 NFT, will I still be in the queue?</h3>")
          | You will remain in&nbsp;line, but you will not receive the money. Your reward will go&nbsp;into the system.
        +accordion-item("<h3>Will my place in the queue be sold along with the NFT?</h3>")
          | No.

        .faq__hidden-blocks
          +accordion-item("<h3>Can I withdraw money from my balance while in the queue?</h3>")
            | You can withdraw all available funds on&nbsp;your balance at&nbsp;any time. Information about your balance and a&nbsp;button for withdrawing all money from it&nbsp;are available in&nbsp;your Personal Account.
          +accordion-item("<h3>Can I partially withdraw money?</h3>")
            | No. You can only withdraw the entire amount on&nbsp;your balance.
          +accordion-item("<h3>What do I need to do to get in line?</h3>")
            | In&nbsp;the first level, you need to&nbsp;buy a&nbsp;level 1&nbsp;NFT and earn a&nbsp;qualification. You will automatically be&nbsp;placed in&nbsp;a&nbsp;queue after qualifying.
          +accordion-item("<h3>How to get a qualification?</h3>")
            | You may get qualification by&nbsp;referring two new level 1&nbsp;NFT buyers or&nbsp;doing a&nbsp;turbo boost (buy without attracting buyers at&nbsp;double price of&nbsp;level&nbsp;1).
          +accordion-item("<h3>How to get into the queue of the next level?</h3>")
            | To&nbsp;get to&nbsp;the next level, you need to&nbsp;have passed the qualification in&nbsp;the first level and have the NFT of&nbsp;the previous levels.
      
      +button.faq__button-learn-more(type="button")
        | Learn more

  section.team#team.wow.fadeInLeft(data-wow-delay=".2s")
    .team__inner
      h2.team__title.section-title Our Team

      +team-members({
        list: [
          {
            imageSrc: "https://images.ctfassets.net/hrltx12pl8hq/31f9j3A3xKasyUMMsuIQO8/6a8708add4cb4505b65b1cee3f2e6996/9db2e04eb42b427f4968ab41009443b906e4eabf-people_men-min.jpg?fit=fill&w=368&h=207",
            name: "Andrew Shimmer",
            position: "CEO | 5 years of experience"
          },
          {
            imageSrc: "https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500",
            name: "Ann Maisner",
            position: "Marketing Director | 5 years of experience"
          },
          {
            imageSrc: "https://images.unsplash.com/photo-1548449112-96a38a643324?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVyc29uYXxlbnwwfHwwfHw%3D&w=1000&q=80",
            name: "Tomas Abbar",
            position: "Product Manager | 5 years of experience"
          }
        ]
      })

  +modal-connect()
    