extends ../includes/page

include ../includes/modules/price-blocks/index
include ../includes/modules/benefits-blocks/index
include ../includes/modules/roadmap/index
include ../includes/modules/accordion/index
include ../includes/modules/team-members/index

block head
  - var title = "Aura Landing"
  - var headerButton = "landing"

block styles
  link(rel="stylesheet" href="css/libs.min.css")
  link(rel="stylesheet" href="css/landing.min.css")

block scripts 
  script(src="scripts/libs.min.js")
  script(src="scripts/main.js")
  script(src="scripts/landing.js")

block main
  section.intro#intro
    .intro__inner
      .intro__info.wow.fadeInLeft(data-wow-delay=".2s")
        h1.intro__title Aura Bank
        p.intro__message
          | It&nbsp;is&nbsp;a&nbsp;system that uses the SMART algorithm with NFT elements. The essence of&nbsp;the project is&nbsp;passive income by&nbsp;buying AURA-Pass and attracting referrals.

      .intro__illustration.wow.fadeInRight#parallax
        .intro__illustration-lines(data-depth="0.7")
        .intro__illustration-smokebot(data-depth="3")
        .intro__illustration-main(data-depth="0.5")
        .intro__illustration-smoketop(data-depth="1.5")

  section.results#results.wow.fadeInDown(data-wow-delay=".2s")
    .results__inner
      .results__container
        h3.results__title Our Results in Numbers
        .results__wrapper
          each val, key in {"Members": "22 880", "Turnover": "567 123", "Transactions": "36 789"}
            .results__block
              h5.results__block-title= key
              p.results__block-numbers= val

  section.pass#pass
    .pass__inner
      .pass__info.wow.fadeInLeft(data-wow-delay=".2s")
        h2.pass__title.section-title AURA Pass
        p.pass__message
          | Sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab&nbsp;illo inventore veritatis et&nbsp;quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut&nbsp;labore et&nbsp;dolore magnam aliquam quaerat voluptatem. Ut&nbsp;enim ad&nbsp;minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut&nbsp;aliquid ex&nbsp;ea&nbsp;commodi consequatur? Quis autem vel eum iure reprehenderit qui in&nbsp;ea&nbsp;voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
        +button(href="#" target="_blank")
          | View on openSea

      .pass__img
        +picture({
          lazy: false,
          path: "img/third/pass-nft.png",
          attr: { "alt": "NFT image" },
          mainAttr: {
            "class": "wow fadeInRight",
            "data-wow-duration": "2s",
            "data-wow-offset": "10",
            "data-wow-delay": ".2s"
            }
        })

  section.how-it-works#how-it-works.wow.fadeInDown(data-wow-delay=".2s")
    .how-it-works__inner
      h2.how-it-works__title.section-title.wow.fadeInDown(data-wow-delay=".4s") How it works
      p.how-it-works__message.wow.fadeInDown(data-wow-delay=".6s")
        | The client buys NFTs of&nbsp;different levels. Each level has its own price.<br> After purchasing the NFT, the client must qualify (bring 2&nbsp;referrals) to&nbsp;join the queue. The queue can also be&nbsp;purchased for the customer level NFT cost. By&nbsp;bringing 2&nbsp;referrals, the client receives back 100% of&nbsp;the cost of&nbsp;NFT.

      .how-it-works__main
        .how-it-works__arrows
          .how-it-works__arrow#gray-arrow 
            span#percent1
          .how-it-works__arrow#green-arrow
            span#percent2
          .how-it-works__arrow#yellow-arrow1
            span#percent3
          .how-it-works__arrow#yellow-arrow2
            span#percent4

        .number__bank.wow.fadeInLeft(data-wow-delay=".8s")
          span Bank
        .number__single.first__single.wow.fadeInDown(data-wow-delay="1s")
          span 1
        .number__double.wow.fadeInDown(data-wow-delay="1.2s")
          .number__single.wow.fadeInUp(data-wow-delay="1.4s")
            span 2
          .number__single.wow.fadeInDown(data-wow-delay="1.6s")
            span 3
        .number__single.wow.fadeInUp(data-wow-delay="1.8s")
          span 1
        .number__double.wow.fadeInUp(data-wow-delay="2s")
          .number__single.wow.fadeInDown(data-wow-delay="2.2s")
            span 4
          .number__single.wow.fadeInUp(data-wow-delay="2.4s")
            span 5

      p.how-it-works__message.wow.fadeInDown(data-wow-delay="2.6s")
        | In&nbsp;the queue, the client waits until 2&nbsp;people stand behind him, after which he&nbsp;will receive 200% of&nbsp;the cost of&nbsp;his level, but 100% will go&nbsp;back to&nbsp;the system in&nbsp;order to&nbsp;re-queue for payment.<br> Each client has the opportunity to&nbsp;move to&nbsp;a&nbsp;higher level by&nbsp;purchasing the necessary NFT, and repeat the process at&nbsp;a&nbsp;new level.

      .how-it-works__button.wow.fadeInDown(data-wow-delay="2.8s")
        +button(href="#")
          | View Presentation

  section.levels#levels.wow.fadeInUp(data-wow-delay=".2s")
    .levels__inner
      h2.levels__title.section-title Levels
      p.levels__message
        | Each level can only be&nbsp;purchased after the previous one, by&nbsp;queue.

      +price-block({
        list: [
          {
            animation: "fadeInUp",
            level: "1",
            price: "$50",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit"
          },
          {
            animation: "fadeInDown",
            level: "2",
            price: "$100",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit"
          },
          {
            animation: "fadeInUp",
            level: "3",
            price: "$200",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit"
          },
          {
            animation: "fadeInDown",
            level: "4",
            price: "$300",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit"
          },
          {
            animation: "fadeInUp",
            level: "5",
            price: "$400",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit"
          },
          {
            animation: "fadeInDown",
            level: "6",
            price: "$500",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit"
          },
          {
            animation: "fadeInUp",
            level: "7",
            price: "$600",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit"
          },
          {
            animation: "fadeInDown",
            level: "8",
            price: "$700",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit"
          }
        ]
      })

  section.benefits#benefits.wow.fadeInDown(data-wow-delay=".2s")
    .benefits__inner
      h2.benefits__title.section-title Benefits

      +benefits-block({
        list: [
          {
            iconSrc: "img/sixth/consulting.svg",
            title: "Business Consulting",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
          },
          {
            iconSrc: "img/sixth/desktop-mobile.svg",
            title: "Web and Mobile Apps",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
          },
          {
            iconSrc: "img/sixth/brain.svg",
            title: "Digital Branding",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
          },
          {
            iconSrc: "img/sixth/data-deploy.svg",
            title: "Data Deploy",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
          }
        ]
      })

  section.about#about
    .about__inner.wow.fadeInLeft(data-wow-delay=".2s")
      .about__info
        h2.about__title.section-title About AURA
        p.about__message
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation ullamco laboris nisi ut&nbsp;aliquip ex&nbsp;ea&nbsp;commodo consequat. Duis aute irure dolor in&nbsp;reprehenderit in&nbsp;voluptate velit esse cillum dolore eu&nbsp;fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in&nbsp;culpa qui officia deserunt mollit anim id&nbsp;est laborum.

        p.about__message
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation ullamco laboris nisi ut&nbsp;aliquip ex&nbsp;ea&nbsp;commodo consequat.

    .about__img.wow.fadeInRight(data-wow-delay=".2s")
      +picture({
        lazy: false,
        path: "img/seventh/about-img.png",
        attr: { "alt": "About image" },
        mainAttr: {
          "class": "wow fadeIn",
          "data-wow-duration": "2s",
          "data-wow-offset": "10",
          "data-wow-delay": ".1s"
          }
      })

  section.roadmap#roadmap
    .roadmap__inner 
      h2.roadmap__title.section-title Roadmap
      +roadmap({
        list: [
          {
            animation: "fadeInRight",
            side: "left",
            title: "Launching  nft and algorithm.",
            number: "1"
          },
          {
            animation: "fadeInLeft",
            side: "right",
            title: "Creation of our own token.",
            number: "2"
          },
          {
            animation: "fadeInRight",
            side: "left",
            title: "Creation of DAO Community.",
            number: "3"
          },
          {
            animation: "fadeInLeft",
            side: "right",
            title: "Obtaining a license with major financial regulators as FCA, FIU, MSB.",
            number: "4"
          },
          {
            animation: "fadeInRight",
            side: "left",
            title: "The world's first Blockchain Bank prototype.",
            number: "5"
          },
          {
            animation: "fadeInLeft",
            side: "right",
            title: "Full-fledged Blockchain Bank with a selection of services built on smart contacts and blockchain.",
            number: "6"
          }
        ]
      })

  section.faq#faq.wow.fadeInDown(data-wow-delay=".2s")
    .faq__inner
      h2.faq__title.section-title FAQ

      +accordion()
        +accordion-item("<h3>How much will a member get for referring new members?</h3>")
          | For the first two referrals, the participant receives 100% from each, starting from the third, 50% for each new participant. The referral program only works to&nbsp;attract new members to&nbsp;the first level.
        +accordion-item("<h3>If I buy more NFTs in the same level, will another queue open?</h3>")
          | No. You will simply have more NFTs. One NFT is&nbsp;enough to&nbsp;participate in&nbsp;the program. You can buy NFT as&nbsp;a&nbsp;gift.
        +accordion-item("<h3>Can I buy the 5th level immediately without going through the other levels below?</h3>")
          | It&nbsp;will be&nbsp;possible to&nbsp;buy Level 5&nbsp;NFTs on&nbsp;the secondary market. You can mint NFT by&nbsp;levels strictly sequentially. In&nbsp;order to&nbsp;mint level 5&nbsp;NFTs, you must have NFTs of&nbsp;the first 4&nbsp;levels in&nbsp;your wallet.
        +accordion-item("<h3>If I buy an NFT from level 2 and give it as a gift, will the new owner be able to take part in level 2 right away with it?</h3>")
          | No. Ownership of&nbsp;NFT tokens of&nbsp;all previous levels will be&nbsp;checked. If&nbsp;the wallet of&nbsp;the new owner contains NFT level&nbsp;1, he&nbsp;will be&nbsp;able to&nbsp;activate the 2nd level and join the queue.
        +accordion-item("<h3>If I join the tier 2 queue and sell my only tier 2 NFT, will I still be in the queue?</h3>")
          | You will remain in&nbsp;line, but you will not receive the money. Your reward will go&nbsp;into the system.
        +accordion-item("<h3>Will my place in the queue be sold along with the NFT?</h3>")
          | No.

        .faq__hidden-blocks
          +accordion-item("<h3>Can I withdraw money from my balance while in the queue?</h3>")
            | You can withdraw all available funds on&nbsp;your balance at&nbsp;any time. Information about your balance and a&nbsp;button for withdrawing all money from it&nbsp;are available in&nbsp;your Personal Account.
          +accordion-item("<h3>Can I partially withdraw money?</h3>")
            | No. You can only withdraw the entire amount on&nbsp;your balance.
          +accordion-item("<h3>What do I need to do to get in line?</h3>")
            | In&nbsp;the first level, you need to&nbsp;buy a&nbsp;level 1&nbsp;NFT and earn a&nbsp;qualification. You will automatically be&nbsp;placed in&nbsp;a&nbsp;queue after qualifying.
          +accordion-item("<h3>How to get a qualification?</h3>")
            | You may get qualification by&nbsp;referring two new level 1&nbsp;NFT buyers or&nbsp;doing a&nbsp;turbo boost (buy without attracting buyers at&nbsp;double price of&nbsp;level&nbsp;1).
          +accordion-item("<h3>How to get into the queue of the next level?</h3>")
            | To&nbsp;get to&nbsp;the next level, you need to&nbsp;have passed the qualification in&nbsp;the first level and have the NFT of&nbsp;the previous levels.
      
      +button.faq__button-learn-more(type="button")
        | Learn more

  section.team#team.wow.fadeInLeft(data-wow-delay=".2s")
    .team__inner
      h2.team__title.section-title Our Team

      +team-members({
        list: [
          {
            imageSrc: "https://images.ctfassets.net/hrltx12pl8hq/31f9j3A3xKasyUMMsuIQO8/6a8708add4cb4505b65b1cee3f2e6996/9db2e04eb42b427f4968ab41009443b906e4eabf-people_men-min.jpg?fit=fill&w=368&h=207",
            name: "Andrew Shimmer",
            position: "CEO | 5 years of experience"
          },
          {
            imageSrc: "https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500",
            name: "Ann Maisner",
            position: "Marketing Director | 5 years of experience"
          },
          {
            imageSrc: "https://images.unsplash.com/photo-1548449112-96a38a643324?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVyc29uYXxlbnwwfHwwfHw%3D&w=1000&q=80",
            name: "Tomas Abbar",
            position: "Product Manager | 5 years of experience"
          }
        ]
      })

  +modal-connect()
    