
@media (max-width 768px)
  .buy-crypto__verification-inner
    background-color transparent
    max-width 100%
    text-align center

  .buy-crypto__verification-button
    .button
      padding 10px 12px

  .buy-crypto__wrapper
    max-width 100%