@media (max-width 1024px)
  .review__inner
    gap 50px

  .review .review__slider .slick-prev
    right -30%

  .review .review__slider .slick-next
    right -55%

  .review .review__slider .slick-dots
    right -62%
    bottom 32%
    max-width 200px

  .review .review__slider .slick-arrow
    top 45%

  .review .review__slider .slick-arrow
    bottom 30%

  .review__title
    font-size 40px
    line-height 40px
    width 100%
    margin-top 40px

  .review .review-wrapper
    gap 10px

  .review .review-item
    width 200px

  .review .review__slider
    width 420px

@media (max-width 1000px)
  .main
    padding-top 150px

  .header > .header__container .dark-mode
    right 70px
    top 16px

  .hub__images--small
    width 10%

  .hub__inner
    gap 40px

@media (max-width 768px)
  .contact__button
    display none

  .intro__inner
    max-width 100%

  .intro__title
    font-size 40px
    font-weight 500
    line-height 40px
    text-transform uppercase

  .intro__subtitle
    font-size 12px
    font-weight 400
    line-height 16px

  .intro .container::before
    top 0
    left 15%
    width 423.593px
    height 423.593px
    opacity 0.3

  .hub
    padding-top 150px

  .hub__inner
    flex-direction column-reverse
    align-items flex-start

  .hub__images--small
    width 20%

    img
      height 300px

  .hub__images--big
    img
      height 300px

  .hub__images
    gap 0

  .hub__info-title
    font-size 40px
    line-height 40px
    margin-bottom 15px

  .hub__info-subtitle
    font-size 12px
    line-height 14px

  .hub__info
    max-width 100%

  .media
    margin-bottom 100px
    padding-top 130px

  .media__cards
    flex-direction column

  .media__info
    flex-direction column
    gap 25px
    margin-bottom 20px

  .media__info-title
    font-size 40px
    line-height 40px

  .media__info-subtitles-item
    font-size 12px
    line-height 14px

  .media__cards-item
    height 120px

  .review
    margin-bottom 100px

  .review__inner
    flex-direction column-reverse

  .review .review-item
    width 48%

  .review .review__slider
    width 100%

  .review .review__slider .slick-dots
    position static
    margin 50px auto 0

  .review .review__slider .slick-prev
    left 0
    right auto

  .review .review__slider .slick-arrow
    display none !important

  .faq
    margin-bottom 170px

  .faq__title
    font-size 40px
    line-height 40px

  .try__inner::before
    background-size cover

  .try__title
    font-size 26px
    line-height 27.929px

  .try
    height 53px

  .try__inner::before
    width 408.932px
    height 408.932px
    right auto
    left 30px
    top -130px

  .footer__ul
    margin-bottom 20px

    &:last-child
      margin-bottom 0

@media (max-width 550px)
  .hub__images--small
    width 10%