@media (max-width 768px)
  .support
    flex-wrap wrap

  .cabinet__faq
    max-width 100%
    min-height auto

  .cabinet__user-verification
    max-width 100%
    min-height auto

  .cabinet__tabs-content
    min-height auto

  .cabinet__support-form-button
    padding 10px 45px