@media (max-width 1024px)
  .transaction
    flex-wrap wrap

@media (max-width 768px)
  .cabinet__transaction-payment
    max-width 100%
    min-height auto

  .cabinet__transaction-history
    max-width 100%
    min-height auto

  .form-cabinet-item
    width 100%

  .form-cabinet-buttons
    .button
      padding 10px 23px