@media (max-width 1175px)
  .dashboard
    flex-wrap wrap
    justify-content center

@media (max-width 768px)
  .dashboard__user-history
    max-width 100%

  .dashboard__user-verification
    max-width 100%

  .dashboard__user-history-titles
    max-width 100%
    padding-right 15px

  .dashboard__user-news
    max-width 100%
    width 100%