@media (max-width 878px)
  .profile
    flex-wrap wrap
    justify-content center

@media (max-width 768px)
  .profile__user-personal-info
    max-width 100%
    min-height auto

  .profile__user-reset
    max-width 100%
    min-height auto
