@media (max-width 1024px)
  .main__slide
    &--main
      .stages__title
        max-width 100%

      .stages__wrapper
        flex-direction column

      .stages__preview
        &-wrapper
          max-width 100%

          .stages__slide
            img
              width 994px

      .contact__download
        .contact__buttons
          .button
            padding 12px 25px
            font-size 20px
            line-height 1.5

      .contact__main
        .contact__main-socials
          flex-direction column
          align-items start

        .item
          &__icon
            width 32px
            font-size 26px

@media (max-width 768px)
  .main__wrapper
    overflow-x auto
    flex-direction column

  .section-title
    font-size 55px
    line-height 0.90909

  .section-title--black
    font-size 55px
    line-height 0.90909

    span
      font-size 32px
      line-height 0.9375

  .main__slide
    &--intro
      .section-title
        font-size 55px
        line-height 0.90909
        max-width 375px

        span
          font-size 32px
          line-height 0.9375

      .intro__slider-control
        flex-direction column-reverse
        gap 25px
        bottom 80px

        .intro__slider-nav
          margin 0
          order 1

    &--main
      overflow visible

      .stages
        overflow-x hidden
        padding-top 0

      .section-title--black
        margin-bottom 5px

      .section-subtitle
        font-size 18px

      .stages__preview
        &-wrapper
          .stages__slide
            img
              height 50vw

      .stages__wrapper
        padding-top 70px
        margin-top 0margin 120px 0 75px

      .stages__steps
        .thumbs__item-status
          font-size 20px

        .thumbs__item-number
          font-size 16px

        .thumbs__item-title
          font-size 14px

        .thumbs__item-description
          font-size 12px

        .thumbs__item-more
          font-size 10px

      .contact__download
        .contact__buttons
          flex-direction column

          .button
            padding 5px 15px
            font-size 20px
            line-height 1.5

        .section-title
          font-size 30px
          line-height 1

          span
            font-size 20px

      .contact__main
        .form__wrapper
          flex-direction column

          .form-control
            width 95%

        .item
          &__link
            font-size 24px

        .form__title
          font-size 16px

@media (max-width 500px)
  .main__slide--main
    .stages__preview
      .stages__slider-autoplay-text
        font-size 12px
        width 65px

      .stages__inner-pagination
        font-size 16px

      .stages__button-next,
      .stages__button-prev
        width 45px

    .contact__main
      .form__wrapper
        .form-control
          width 90%

      .item
        &__link
          font-size 20px

@media (max-width 420px)
  .section-title
    font-size 42px

  .section-title--black
    font-size 42px

    span
      font-size 28px

  .main__slide
    &--intro
      .section-title
        font-size 42px
        max-width 275px

        span
          font-size 28px

    &--main
      .contact__download
        .contact__buttons
          flex-direction column

          .button
            padding 5px 10px
            font-size 16px
            line-height 1.2
            min-width 100px

        .section-title
          font-size 26px

          span
            font-size 18px