extends ../../includes/page-cabinet

block head
  - var title = "Support | Empresex"
  - var emptyHeader = true

block styles
  link(rel="stylesheet" href="../css/libs.min.css")
  link(rel="stylesheet" href="../css/balances.min.css")

block scripts
  script(src="../scripts/libs.min.js")
  script(src="../scripts/cabinet.js")

block main
  .balances
    .balances__cards
      .balances__cards-item.balances__cards--green
        .balances__cards-info
          .balances__cards-info-value
            svg(width='19' height='28' viewBox='0 0 19 28' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M8.14734 27.5625V0H11.2117V27.5625H8.14734ZM9.25051 24.3957C7.53447 24.3957 5.88993 24.1807 4.31689 23.7507C2.74386 23.3011 1.47726 22.7244 0.51709 22.0207L2.20249 18.4434C3.12179 19.069 4.20453 19.587 5.45071 19.9975C6.71731 20.3884 7.99412 20.5839 9.28115 20.5839C10.2617 20.5839 11.0483 20.4959 11.6407 20.32C12.2536 20.1245 12.703 19.8606 12.989 19.5283C13.275 19.196 13.418 18.8148 13.418 18.3848C13.418 17.8374 13.1933 17.4074 12.7439 17.0946C12.2944 16.7623 11.702 16.4984 10.9665 16.3029C10.2311 16.0879 9.41394 15.8924 8.51506 15.7165C7.63661 15.521 6.74795 15.2864 5.84907 15.0128C4.97062 14.7391 4.16368 14.3872 3.42823 13.9572C2.69278 13.5271 2.09013 12.9602 1.62026 12.2565C1.17082 11.5528 0.9461 10.6536 0.9461 9.55891C0.9461 8.38604 1.27296 7.32068 1.92669 6.36283C2.60085 5.38544 3.60188 4.6133 4.92977 4.04641C6.27808 3.45997 7.96348 3.16676 9.98596 3.16676C11.3343 3.16676 12.6622 3.32314 13.9696 3.63591C15.2771 3.92912 16.4313 4.37872 17.4323 4.98471L15.9002 8.59129C14.8991 8.04395 13.8981 7.64322 12.8971 7.3891C11.8961 7.11543 10.9155 6.97859 9.95531 6.97859C8.99515 6.97859 8.20863 7.0861 7.59576 7.30113C6.98288 7.51616 6.54366 7.7996 6.27808 8.15146C6.01251 8.48378 5.87972 8.87473 5.87972 9.32434C5.87972 9.85213 6.10444 10.2822 6.55387 10.6145C7.00331 10.9273 7.59576 11.1814 8.3312 11.3769C9.06665 11.5723 9.8736 11.7678 10.752 11.9633C11.6509 12.1588 12.5396 12.3836 13.418 12.6377C14.3169 12.8918 15.1341 13.2339 15.8695 13.664C16.605 14.094 17.1974 14.6609 17.6469 15.3646C18.1167 16.0684 18.3517 16.9578 18.3517 18.0329C18.3517 19.1862 18.0146 20.2418 17.3404 21.1997C16.6663 22.1575 15.655 22.9297 14.3067 23.5161C12.9788 24.1025 11.2934 24.3957 9.25051 24.3957Z' fill='#272727')
            span USD

          .balances__cards-info-number 700
            span .43

        button(type="button").balances__cards-info-button Show wallet

      .balances__cards-item.balances__cards--red
        .balances__cards-info
          .balances__cards-info-value
            svg(width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M0 15.6796V12.895H17.6374V15.6796H0ZM0 11.105V8.32044H17.6374V11.105H0ZM15.5759 24C13.7871 24 12.1291 23.7127 10.6021 23.1381C9.09686 22.5414 7.78796 21.7017 6.67539 20.6188C5.56283 19.5359 4.70113 18.2652 4.09031 16.8066C3.47949 15.3481 3.17408 13.7459 3.17408 12C3.17408 10.2541 3.47949 8.65193 4.09031 7.19337C4.70113 5.73481 5.56283 4.46409 6.67539 3.38122C7.78796 2.29834 9.09686 1.46961 10.6021 0.895026C12.1291 0.298342 13.7871 0 15.5759 0C17.5611 0 19.3608 0.353592 20.9751 1.06077C22.5894 1.74586 23.9311 2.76243 25 4.1105L21.6296 7.29282C20.8442 6.38674 19.9716 5.71271 19.0118 5.27072C18.0519 4.80663 16.9939 4.57459 15.8377 4.57459C14.7688 4.57459 13.7871 4.75138 12.8927 5.10497C11.9983 5.45856 11.2238 5.96685 10.5694 6.62983C9.91492 7.29282 9.40227 8.07735 9.03141 8.98343C8.68237 9.8895 8.50785 10.895 8.50785 12C8.50785 13.105 8.68237 14.1105 9.03141 15.0166C9.40227 15.9227 9.91492 16.7072 10.5694 17.3702C11.2238 18.0331 11.9983 18.5414 12.8927 18.895C13.7871 19.2486 14.7688 19.4254 15.8377 19.4254C16.9939 19.4254 18.0519 19.2044 19.0118 18.7624C19.9716 18.2983 20.8442 17.6022 21.6296 16.674L25 19.8564C23.9311 21.2044 22.5894 22.232 20.9751 22.9392C19.3608 23.6464 17.5611 24 15.5759 24Z' fill='#272727')
            span EUR

          .balances__cards-info-number 1 899
            span .35

        button(type="button").balances__cards-info-button Show wallet

      .balances__cards-item.balances__cards--yellow
        .balances__cards-info
          .balances__cards-info-value
            svg(width='22' height='27' viewBox='0 0 22 27' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M7.92 0H3.96V2.21311H0V6.19672H3.08V19.918H0V23.9016H3.96V27H7.92V23.9016H10.56V26.5574H14.52V23.9013C15.8507 23.8917 17.0762 23.6779 18.196 23.2601C19.3647 22.8325 20.2911 22.2114 20.9748 21.3968C21.6584 20.5618 22 19.5334 22 18.3115C22 16.9063 21.603 15.7252 20.8093 14.768C20.0376 13.8109 18.9789 13.149 17.6339 12.7824C18.7365 12.3344 19.5744 11.642 20.1476 10.7052C20.7208 9.76846 21.0079 8.78077 21.0079 7.74216C21.0079 6.82575 20.787 5.95006 20.3461 5.1151C19.9272 4.25978 19.3097 3.56737 18.4937 3.03789C17.7001 2.48804 16.7518 2.21311 15.6492 2.21311H14.52V0H10.56V2.21311H7.92V0ZM7.92 11.2856V5.81769H13.9292C14.4143 5.81769 14.8444 5.92969 15.2191 6.15371C15.6161 6.37772 15.9251 6.69337 16.1455 7.10067C16.3879 7.50797 16.509 7.98654 16.509 8.53639C16.509 9.1066 16.3771 9.59536 16.1124 10.0027C15.8696 10.41 15.5388 10.7256 15.1198 10.9496C14.7009 11.1736 14.2381 11.2856 13.7307 11.2856H7.92ZM7.92 20.3276V14.6153H14.6571C15.186 14.6153 15.6492 14.7477 16.0462 15.0124C16.4652 15.2568 16.7961 15.603 17.0384 16.051C17.2812 16.4787 17.4023 16.9674 17.4023 17.5173C17.4023 18.0264 17.27 18.4948 17.0053 18.9224C16.7406 19.3501 16.3771 19.6963 15.9139 19.961C15.4726 20.2054 14.9768 20.3276 14.4255 20.3276H7.92Z' fill='#272727')
            span BTC

          .balances__cards-info-number 22 700
            span .35

        button(type="button").balances__cards-info-button Show wallet

  +dark-mode()

  .button__buy--mobile
    .button__buy
      a(href="#").button__buy-main Buy crypto