extends ../includes/page

include ../includes/sections/contact/index

block head
  -
    title = "Impressario | Why Us"
    const headerMobileRegisterButton = true;

block styles
  link(rel="stylesheet" href="css/libs.min.css")
  link(rel="stylesheet" href="css/why-us.min.css")

block scripts 
  script(src="scripts/libs.min.js")
  script(src="scripts/why-us.js")

block main
  section.intro#intro
    .container
      .intro__info
        h3.section-title.title--gradient
          span
            | Why Us

        p.section-subtitle
          | The Impressario Casino motto is “Impressive Wins”. And guess what – this applies to our Affiliates, too. In fact, it starts with them, because when the Affiliate wins, everybody wins. See below 10 reasons to join us.

        .section-cards
          .card
            .card__img
              img(src="img/why-us-blog-1.webp" alt="Blog card")

            .card__info
              .card__info-number
                | #01.
              .card__info-title
                | Outstanding Commissions
              .card__info-description
                | We may not have the highest commission percentage on the market, but we have the highest-quality product for today’s players. So, in the long run, our commissions easily outperform the competition. They also, happen to be absolutely real!

          .card
            .card__img
              img(src="img/why-us-blog-2.webp" alt="Blog card")

            .card__info
              .card__info-number
                | #02.
              .card__info-title
                | Special deals
              .card__info-description
                | If you really cannot live without a 50% commission, we’ll find a way to do it. And if you warn us that you will fall into a coma until we give you the FTD bonus you asked for, we’ll find a cure. It’s called “special deals” and Impressario Partners knows how to make them special.

          .card
            .card__img
              img(src="img/why-us-blog-3.webp" alt="Blog card")

            .card__info
              .card__info-number
                | #03.
              .card__info-title
                | Superb content
              .card__info-description
                | You may have noticed the unique Impressario content and writing style, permuting every nook and cranny of our site, as well as our mails, press releases, and even  cookies and T&Cs. Well, our content kingdom is yours. Just ask us for content and we’ll oblige you. This includes reviews, written by our crafted writers.

          .card
            .card__img
              img(src="img/why-us-blog-4.webp" alt="Blog card")

            .card__info
              .card__info-number
                | #04.
              .card__info-title
                | 24/7 support
              .card__info-description
                | Our Impressario, shouts from the top of his lungs “From Ontario to Perth, it’s the Greatest Show on Earth”! Well, from Ontario to Perth is also 13 time zones apart. But worry not, because the Impressario agents never sleep. Wherever you are, on planet Earth, we are always a Skype call away.

          .card
            .card__img
              img(src="img/why-us-blog-5.webp" alt="Blog card")

            .card__info
              .card__info-number
                | #05.
              .card__info-title
                | Best player conversion on the market
              .card__info-description
                | Impressario Casino means “love at first sight”, “love at first mail” and “love at first promo”. We do things so differently from the rest of the market, that we convert much more. And, of course, because we convert more, you earn more.

          .card
            .card__img
              img(src="img/why-us-blog-6.webp" alt="Blog card")

            .card__info
              .card__info-number
                | #06.
              .card__info-title
                | Best player retention on the market
              .card__info-description
                | What good would it be to bring your players to us, only for us to lose them in a few days? At Impressario, we, literally, bring something new to players every day. This is why the churn rate we have is among the lowest on the market. We retain more, you earn more.

          .card
            .card__img
              img(src="img/why-us-blog-7.webp" alt="Blog card")

            .card__info
              .card__info-number
                | #07.
              .card__info-title
                | Punctual payouts
              .card__info-description
                | We process affiliate payments within the first 15 days of each month, and we hate to miss deadlines as much as you do. You can count on our punctuality and maybe even set your watch by it.

          .card
            .card__img 
              img(src="img/why-us-blog-8.webp" alt="Blog card")

            .card__info
              .card__info-number
                | #08.
              .card__info-title
                | First Time Deposit Bonus in hard cash
              .card__info-description
                | You never have a second chance to make a first deposit. So, when players trust us with their hard-earned cash to make their first deposit, we return some of this hard-earned cash to you. Just ask us about your FTD bonus.

          .card
            .card__img
              img(src="img/why-us-blog-9.webp" alt="Blog card")

            .card__info
              .card__info-number
                | #09.
              .card__info-title
                | Live Contact
              .card__info-description
                | We actively participate in all the industry shows. You’ll see us in Malta, and you’ll see us in Berlin. We’ll discuss with you during Barcelona iGB or Barcelona SBC. We are real people and real people are the ones who make the real deals.

          .card
            .card__img
              img(src="img/why-us-blog-10.webp" alt="Blog card")

            .card__info
              .card__info-number
                | #10.
              .card__info-title
                | No negative carryover
              .card__info-description
                | One of Impressario Partners’ biggest positives is our no negative carryover. Start fresh each month with a balance of zero, regardless of what happened in the previous month.

        .section-button
          +button(href="https://login.impressario.partners/signup.php")
            | Register

  +contact(false)