mixin footer()
  footer.footer
    .container
      .footer__inner
        a.footer__logo(href="index.html")
          img(src="img/icons/logo-footer.svg" alt="Logo footer")
        .footer__info #{new Date().getFullYear()} • All rights reserved