include ../includes/header/index
include ../includes/footer/index
include ../includes/modules/button/index

doctype html
html(lang="en")
  head
    -
      let title
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="icon" href="favicon.svg" type="image/svg+xml")

    block head

    title= title

    block styles

  body
    +header()

    main.main#main-content
      block main

    +footer()

    block scripts