// main colors
$white = #fff
$black = #414141
$bg = #1C1924
$text = #CCCEEB
$link = #45688f
$grey = #808080
$green = #00DA4A
$red = #FF2727
$blue = #0047FF

// hover
$linkHover = #6683A3
$greenHover = #01be40
$redHover = #e72121
$blueHover = #003cd4
$buttonHover = #42454d