@media (max-width 1024px)
  .intro__title
    font-size 60px

    span
      font-size 40px

  .intro__message
    font-size 16px

  .intro__button
    .button
      padding 20px 45px

  .benefits__item
    display block
    text-align center

@media (max-width 768px)
  .intro
    padding-top 100px

  .intro__inner
    flex-direction column-reverse

  .intro__info,
  .intro__image
    width 100%
    text-align center

  .benefits
    display none

  .about
    background-position -90px 20px

  .about__inner
    margin-bottom 100px

  .about__title
    font-size 42px
    line-height 1.5

    .title-span
      font-size 42px
      line-height 1.5

  .about__message
    font-size 16px

  .about__items
    display block

  .about__item
    width 100%
    padding 30px 20px
    margin-bottom 20px

    &:last-child
      margin-bottom 0

  .partner
    margin-bottom 130px

  .partner__inner
    flex-wrap wrap
    margin-bottom 25px

  .partner__item
    width 40%

  .partner__title
    font-size 20px
    line-height 30px

  .partner__title::after
    display none

  .partner__message
    display none

  .partner__button
    .button
      padding 20px 45px

  .why
    margin-bottom 100px
    background-image none

  .why__wrapper
    display block
    background-image none

  .why__title
    font-size 42px
    line-height 1.5

    span
      font-size 42px
      line-height 1.5

  .why__items
    display none

  .why__slider
    display block
    margin-bottom 100px 

  #whySlider
    overflow hidden
  
  .why__item
    text-align center
    width 100%

  h4.why__title::after
    left 50%  
    transform translateX(-50%)

  .why__info
    width 100%

  .why__button
    .button
      padding 20px 45px

  .brand
    margin-bottom 150px

  .brand__title
    font-size 42px
    line-height 1.5
    margin-bottom 50px

    .title-span
      font-size 42px
      line-height 1.5

  .brand__wrapper
    display block

  .brand__img
    display none

  .brand__info
    width 100%

  .brand__info-title
    img
      width 40%
  
  .brand__button
    .button
      padding 20px 45px

  .review__inner
    background-image none

  .review__title
    font-size 42px
    line-height 1.5
    margin-bottom 50px

    .title-span
      font-size 42px
      line-height 1.5

  .faq
    margin-bottom 100px

  .faq__title
    font-size 42px
    line-height 1.5
    margin-bottom 30px

    .title-span
      font-size 42px
      line-height 1.5

  .accordion__body
    font-size 16px
    padding 10px

  .contact__title
    font-size 42px
    line-height 1.5
    margin-bottom 50px

    .title-span,
    span
      font-size 42px
      line-height 1.5

  .contact
    margin-bottom 100px

@media (max-width 650px)
  .partner__inner
    background-image url("../img/partner/Spades.png")
    background-position 80% 10%

@media (max-width 580px)
  .review__slide-bg
    max-width 100%

    &::before
      width 112%

@media (max-width 425px)
  .about
    background-position -90px 100px
