.footer
  background-color $bg
  flex-shrink 0

.footer__inner
  display flex
  align-items flex-start
  justify-content space-between
  max-width 1036px
  margin 0 auto
  padding 7.5rem 15px 9rem

.footer__left
  max-width 250px
  margin-right 10rem

.footer__logo
  margin-bottom 2rem

.footer__logo img
  max-width 100%
  width 190px

.footer__info
  font-weight 300
  font-size 1.6rem
  line-height 1.9rem
  margin-bottom 3.2rem

.footer__icons
  &-item
    transition all .3s

    &:not(:first-child)
      margin-left 1.5rem

    &:hover
      transform scale(1.2)

.footer__right
  max-width 615px
  width 100%

.footer__menu
  display flex
  align-items flex-start
  justify-content space-between

  &-ul
    width 22%

  &-title
    h5
      font-weight 700
      font-size 1.6rem
      line-height 1.9rem
      margin-bottom 2rem

  &-li
    margin-bottom 0.5rem
  
  &-link
    font-weight 300
    font-size 1.4rem
    line-height 2
    color $white
    transition color .3s

    &:hover
      color $green

@media(max-width: 768px)
  .footer__logo img
    width 160px
  
  .footer__menu
    &-title
      h5
        font-size 16px

    &-link
      font-size 14px
  
  .footer__info
    font-size 14px
    line-height 1.5

@media(max-width: 650px)
  .footer__inner
    flex-direction column

  .footer__left
    order 2
    margin-right 0

  .footer__right
    margin-bottom 50px

  .footer__logo img
    width 120px

@media(max-width: 425px)
  .footer__menu
    flex-wrap wrap
    &-ul
      width 50%

      &:nth-child(-n+2)
        margin-bottom 40px