mixin team-members(data)
  -
    const members = data.list || [];

  .team__members
    each member in members
      .team__members-wrapper
        .team__members-image
          .members-image-wrapper
          img(src=`${member.imageSrc}`, alt=`${member.imageSrc}`)
        h4.team__members-name= member.name
        p.team__members-position= member.position

  +button(type="button").team__members-button
    | Show more