@import "base/_global"
@import "../includes/sections/contact/index.styl"

.intro
  position relative
  background-image url('../img/about-us-intro-bg.webp')
  background-repeat no-repeat
  background-position center
  background-size cover
  min-height 710px
  margin-bottom -120px

  &__info
    padding-top 300px
    margin-left 150px
    max-width 773px
    color white

  .section-title
    position relative
    font-weight 800
    font-size 36px
    line-height 1.2
    text-transform uppercase
    color white
    font-style italic
    text-shadow 2px 2px 0 rgba(0, 0, 0, 0.5)
    margin-bottom 60px

    &::after
      content ''
      position absolute
      bottom -50px
      left 50%
      transform translateX(-50%)
      border-radius 11px
      height 10px
      box-shadow 2px 2px 0 0 rgba(0, 0, 0, 0.25)
      background #fff
      animation animateWidth 1s 1.3s forwards

      @keyframes animateWidth
        0%
          width 0

        100%
          width 260px

.about
  position relative
  z-index 2
  
  .section-title
    margin-bottom 40px

    span
      &::before
        left -50%

      &::after
        right -130%

  &__info
    max-width 1080px
    margin 0 auto 100px

    &-text
      text-align center
      font-weight 400
      font-size 22px
      line-height 1.5
      text-align center
      color #4f4f4f
      margin-bottom 20px

      &:last-child
        margin-bottom 0

  &__button
    text-align center
    margin-bottom 190px

.contact
  margin-bottom 50px
  
  &::before
    display none
        
@import "media/_media-about.styl"