.circles
  position absolute
  left 0
  right 0
  margin 0 auto
  max-width 1200px
  width 100%
  height 500px

.circle
  position absolute
  width 70rem
  height 70rem
  background radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.2) 0%, rgba(0, 169, 156, 0) 100%)
  z-index 3

  &--green
    background radial-gradient(50% 50% at 50% 50%, rgba(0, 169, 156, 0.2) 0%, rgba(0, 169, 156, 0) 100%)

  &--orange
    background radial-gradient(50% 50% at 50% 50%, rgba(231, 155, 55, 0.2) 0%, rgba(231, 155, 55, 0) 100%)

  &--blue
    background radial-gradient(50% 50% at 50% 50%, rgba(119, 102, 246, 0.2) 0%, rgba(119, 102, 246, 0) 100%)
  
  &--one
    top -200px
    left -200px

  &--two
    top -320px
    right -210px

  &--three
    top 1050px
    left 50%
    transform translateX(-50%)
    z-index -1

  &--four
    top 29%
    right -40%
    z-index -1
  
  &--five
    top 51%
    left -34%
    z-index -1

  &--six
    top 77%
    left 50%
    transform translateX(-50%)
    z-index -1
