mixin modal-login(data) 
  .modal.modal-connect#modal-login
    button.modal-close(data-izimodal-close="")
      img(src="img/modals/modal-close-icon.svg", alt="Close")
    .modal-login-inner
      +form
        h3.contact-form-title Log in
        +input-email("EMAIL")
        +input-password("PASSWORD")
        +input-code("Authentication code")
      +button(type="submit").button--modal
        | Log In
      .modal-login-links
        a(href="#") Reset you password 
        |  or 
        a(href="#") register

mixin modal-signup(data) 
  .modal.modal-connect#modal-signup
    button.modal-close(data-izimodal-close="")
      img(src="img/modals/modal-close-icon.svg", alt="Close")
    .modal-signup-inner
      +form
        h3.contact-form-title Sign up
        +input-email("EMAIL")
        +input-password("PASSWORD")
        +input-password-confirm("Password confirmation")
        +input-company("Company name")
        +input-nickname("Nickname")
        +input-full-name("Full name")
        +input-checkbox("Receive newsletters", {id: "news"})
        +input-checkbox("I accept the Affiliate Terms & Conditions", {id: "terms"})
      +button(type="submit").button--modal
        | Log In

mixin modal-thankyou(data) 
  .modal.modal-connect#modal-thankyou
    button.modal-close(data-izimodal-close="")
      img(src="img/modals/modal-close-icon.svg", alt="Close")
    .modal-thankyou-inner
      h3.contact-form-title Thank you!
      .modal-thankyou-button
        +button(type="button" data-izimodal-close="").button--modal
          | Done
