.iziModal
  background-color $red
  background-image url("../img/contact/form-bg.svg")
  background-repeat no-repeat
  background-size cover
  border-radius 24px 24px 96px 24px !important
  max-width 597px !important

  &::before
    position absolute
    left -20px
    top -20px
    content ""
    width 107%
    height 110%
    background rgba(235, 30, 30, 0.2)
    border-radius 24px

  .iziModal-wrap
    position relative
    display flex
    flex-direction column
    align-items center
    justify-content space-between

    .iziModal-content
      display flex
      flex-direction column
      align-items center
      justify-content space-between
      padding 50px 72px !important

html.iziModal-isAttached,
html.iziModal-isOverflow
  overflow visible

.modal
  &-close
    position absolute
    top 20px
    right 20px

    img
      height 24px
      width 24px

.button--modal
  border 2px solid #FBD4D4
  width 100%
  box-shadow none

.modal-login-links
  font-weight 400
  font-size 20px
  line-height 24px
  text-align center
  margin-top 35px

  & > a
    text-decoration underline

.modal-login-inner,
.modal-signup-inner
  width 100%

@media (max-width 768px)
  .button
    font-size 16px
    padding 20px 45px

@media (max-width 650px)
  .iziModal
    max-width 100% !important
    height 100% !important

    &::before
      display none

    .iziModal-wrap
      padding 0

      .iziModal-content
        justify-content center
        padding 50px 20px !important