@media (max-width 1500px), (max-height 1200px)
  .game__witch
    width 950px
    right -120px

@media (max-width 1256px), (max-height 1040px)
  .game__witch
    width 750px

@media (max-width 1024px), (max-height 800px)
  .game__witch
    width 550px
    right -80px

@media (max-height 750px)
  .game__witch
    width 300px
    right -30px

@media (max-width 835px)
  .game__logo
    &-link
      width 200px

  .game__main
    width 600px
    height 469px

    &-inner
      gap 10px
      width 440px
      height 400px

    &-button
      width 140px
      height 130px

  .game__witch
    width 430px
    right -80px

@media (max-width 630px)
  .game__main
    width 420px
    height 329px

    &-inner
      gap 0 20px
      width 310px
      height 270px

    &-button
      width 90px
      height 90px

  .game__partners
    &-link
      width 80px

    &-img
      width 100%

  .game__witch
    width 330px
    right -50px

@media (max-width 450px)
  .game__logo
    &-link
      width 150px

  .game__main
    width 290px
    height 245px

    &-inner
      gap 0 20px
      width 190px
      height 180px

    &-button
      width 50px
      height 50px

  .game__witch
    width 250px
    right -50px