@import "base/_global"
@import "../includes/modules/accordion/index.styl"
@import "../includes/modules/team-members/index.styl"

.intro
  position relative
  margin-bottom 5rem
  background radial-gradient(75% 54% at -13.43% 9.15%, #1FAEFF 0%, #1157A9 35.16%, rgba(35, 18, 86, 0.2) 88.56%, rgba(54, 65, 122, 0) 100%), radial-gradient(51.48% 90% at 84.71% -31.8%, #0057FF 0.09%, rgba(55, 48, 135, 0.8) 38.29%, rgba(31, 22, 53, 0.4) 71.54%, rgba(35, 23, 47, 0) 99.48%, rgba(30, 21, 48, 0) 99.49%)

.intro__inner
  position relative
  display flex
  align-items center
  justify-content space-between
  max-width 1076px
  padding 23rem 15px 0
  margin 0 auto 200px

.intro__illustration
  position relative
  width 50%
  margin-right 30px

  img
    width 100%

  &-circle
    position absolute
    border-radius 50%
    z-index -1
    width 100%
    height 100%

    &--top
      top -30px
      right 0
      max-width 380px
      max-height 380px
      background radial-gradient(75.59% 104.74% at 38.68% 60%, #1FAEFF 0%, rgba(17, 87, 169, 0.8) 33.33%, rgba(35, 18, 86, 0.2) 68.75%, rgba(54, 65, 122, 0) 100%)

    &--bottom
      bottom -70px
      left -40px
      max-width 230px
      max-height 230px
      background radial-gradient(66.74% 89.57% at 86.09% 5%, #1FAEFF 0%, rgba(17, 87, 169, 0.8) 33.33%, rgba(35, 18, 86, 0.2) 88.18%, rgba(54, 65, 122, 0) 100%)

.intro__info
  max-width 450px
  width 50%

.intro__title
  font-size 4.5rem
  line-height 5.6rem
  margin-bottom 18px

.intro__message
  font-size 16px
  line-height 20px
  margin-bottom 36px

.intro__social
  margin-top 45px

  &-item
    transition all 0.3s

    &:not(:first-child)
      margin-left 1.5rem

    &:hover
      transform scale(1.2)

.about
  margin-bottom 200px

.about__inner
  display flex
  align-items center
  justify-content space-between
  max-width 1076px
  margin 0 auto
  padding 0 15px

.about__info
  width 50%
  margin-right 15px

.about__illustration
  width 50%
  max-height 470px
  margin-top -100px

.about__title
  margin-bottom 20px

.about__message
  font-size 16px
  line-height 20px

.how-it-works
  background radial-gradient(94% 46.78% at -3.02% 38.56%, #0057FF 0.09%, rgba(55, 48, 135, 0.8) 38.29%, rgba(31, 22, 53, 0.4) 71.54%, rgba(35, 23, 47, 0) 99.48%, rgba(30, 21, 48, 0) 99.49%)
  margin-bottom 215px

.how-it-works__inner
  max-width 1076px
  margin 0 auto
  padding 0 15px

.how-it-works__title
  margin-bottom 10px

.how-it-works__message
  font-size 16px
  line-height 20px
  margin-bottom 50px

.how-it-works__wrapper
  display flex
  align-items center
  justify-content space-between
  margin-bottom 60px

.how-it-works__illustration
  width 50%
  margin-right 30px

  #cardsAnimation
    transform scale(1.35)

.how-it-works__info
  width 50%

.how-it-works__li
  font-size 16px
  line-height 20px
  margin-bottom 17px

  span
    color #4C9FFF
    font-family $fontBlack

  &:last-child
    margin-bottom 0

.how-it-works__scheme
  display none
  text-align center
  margin-bottom 150px

  .scheme--desktop,
  .scheme--mobile
    width 100%

    img
      max-width 100%

  .scheme--mobile
    display none

.how-it-works__button
  text-align center

.benefits
  margin-bottom 250px

.benefits__inner
  display flex
  align-items flex-start
  justify-content space-between
  max-width 748px
  margin 0 auto
  padding 0 15px

.benefits__item
  width 21%

  &-info
    font-size 30px
    line-height 37px
    white-space nowrap

.numbers
  background radial-gradient(74.28% 100% at 46.6% 100%, #0057FF 0.09%, rgba(55, 48, 135, 0.8) 38.29%, rgba(31, 22, 53, 0.4) 71.54%, rgba(35, 23, 47, 0) 99.48%, rgba(30, 21, 48, 0) 99.49%)
  padding-bottom 142px
  margin-bottom 100px

.numbers__inner
  max-width 1076px
  margin 0 auto
  padding 0 15px

.numbers__items
  display flex
  align-items flex-start
  justify-content space-between

.numbers__title
  text-align center
  margin-bottom 45px

.numbers__item
  width 230px

  &-title
    font-size 25px
    line-height 31px
    color $white
    margin-bottom 30px

  &-nums
    text-align center
    font-size 60px
    line-height 75px
    padding 15px 41px 13px 46px
    background-image url("../img/numbers/numbers-top.svg"), url("../img/numbers/numbers-bottom.svg")
    background-position top left, bottom right
    background-repeat no-repeat

.advantages
  margin-bottom 100px

.advantages__inner
  max-width 1076px
  margin 0 auto
  padding 0 15px

.advantages__title
  text-align center
  margin-bottom 80px

.advantages__items
  display flex
  align-items flex-start
  justify-content space-between
  column-gap 35px

.advantages__item
  width 25%

  &-img
    margin 0 auto
    width 150px

  &-title
    font-size 20px
    line-height 22px
    font-family $fontBold
    margin-bottom 15px
    min-height 65px

    span
      color #4C9FFF
      font-family $fontBold

  &-message
    font-size 16px
    line-height 20px

.roadmap
  background radial-gradient(100% 100% at 100% 0%, #0057FF 0.09%, rgba(55, 48, 135, 0.8) 38.29%, rgba(31, 22, 53, 0.4) 71.54%, rgba(35, 23, 47, 0) 99.48%, rgba(30, 21, 48, 0) 99.49%)
  padding-top 150px
  margin-bottom 200px

  #roadmapSlider
    overflow visible
    max-height 1050px

    .swiper-buttons
      max-width 1500px

    .swiper-wrapper
      .swiper-slide
        #linesAnimation,
        #linesAnimation2
          position absolute
          top -200px
          left 50%
          transform translateX(-50%)
          margin 0 auto
          width 1400px
          z-index -1

.roadmap__inner
  max-width 1076px
  margin 0 auto
  padding 0 15px

.roadmap__title
  text-align center
  margin-bottom 31px

.roadmap__message
  font-size 16px
  line-height 20px
  max-width 628px
  margin 0 auto 50px

.roadmap__items
  display flex
  align-items center
  justify-content space-between

  &:first-child
    margin-bottom 370px

.roadmap__item
  display flex
  position relative
  border-radius 50%

  &-main
    margin auto
    max-width 200px

    p
      font-size 16px
      line-height 20px

    ul
      li
        font-size 16px
        line-height 20px
        list-style-type disc

  &-info
    position absolute

  &-number
    display flex
    width 50px
    height 50px
    background-color $white
    border-radius 50%

    span
      margin auto
      font-size 30px
      line-height 37px
      color $red
      font-family $fontBold

  .number--red
    background radial-gradient(76% 76% at 41% 24%, #FF72AD 0%, #F1116F 73.44%, #5F093C 100%)

    span
      color $white

  &-time
    time
      display inline-block
      font-size 16px
      line-height 20px
      max-width 60px

  &--first
    width 243px
    height 243px
    background radial-gradient(85.67% 104.97% at 25.96% 87.82%, #FFE459 0%, #A02A95 50%, rgba(68, 18, 86, 0.3) 71.53%, rgba(120, 44, 112, 0) 100%)

    .roadmap__item-info
      bottom -75px

      .roadmap__item-number
        margin-bottom 11px

  &--second
    width 272px
    height 272px
    background radial-gradient(103.51% 84.48% at 9.21% 53.51%, #8459FF 0%, #482AA0 33.33%, rgba(35, 18, 86, 0.3) 71.53%, rgba(55, 54, 122, 0) 100%)
    top 250px

    .roadmap__item-info
      top -115px
      right 40px

      .roadmap__item-number
        margin-top 15px

  &--third
    width 277px
    height 277px
    background radial-gradient(79.52% 97.44% at 71.79% 94.71%, #59E1FF 0%, #2A6FA0 35.16%, rgba(35, 18, 86, 0.42) 84.94%, rgba(54, 65, 122, 0) 100%)
    top -30px
    right 40px

    .roadmap__item-info
      bottom -85px
      right 10px

      .roadmap__item-number
        margin-bottom 11px

  &--fourth
    width 270px
    height 270px
    background radial-gradient(77.56% 95.03% at 81.89% 7.85%, #C059FF 0%, #5E2AA0 40.3%, rgba(36, 18, 86, 0.3) 70.28%, rgba(64, 54, 122, 0) 96.3%)
    top -60px
    left 80px

    .roadmap__item-info
      top -95px
      right 10px

      .roadmap__item-number
        margin-top 11px

  &--fifth
    width 358px
    height 358px
    background radial-gradient(103.51% 84.48% at 9.21% 53.51%, #8459FF 0%, #482AA0 33.33%, rgba(35, 18, 86, 0.3) 71.53%, rgba(55, 54, 122, 0) 100%)
    top 150px
    left 110px

    .roadmap__item-info
      top 110px
      left -70px

      .roadmap__item-number
        margin-bottom 11px

  &--sixth
    width 376px
    height 375px
    background radial-gradient(74.2% 90.92% at 77.65% 94.41%, #FFC759 0%, #A02A6A 40.18%, rgba(56, 18, 86, 0.3) 70.5%, rgba(49, 46, 109, 0) 100%)
    top -200px
    left 0

    .roadmap__item-info
      bottom -70px
      right 70px

      .roadmap__item-number
        margin-bottom 11px

  &--seventh
    width 365px
    height 365px
    background radial-gradient(103.51% 84.48% at 9.21% 53.51%, #8459FF 0%, #482AA0 33.33%, rgba(35, 18, 86, 0.3) 71.53%, rgba(55, 54, 122, 0) 100%)
    top 240px
    left 220px

    .roadmap__item-main
      max-width 250px

    .roadmap__item-info
      top -90px
      left 80px

      .roadmap__item-time
        margin-bottom 10px

  &--eighth
    width 314px
    height 314px
    background radial-gradient(76.02% 93.15% at 76.27% 90.13%, #FFC759 0%, #A02A6A 40.18%, rgba(56, 18, 86, 0.3) 70.5%, rgba(49, 46, 109, 0) 100%)
    top -60px
    left -120px

    .roadmap__item-main
      max-width 250px

    .roadmap__item-info
      bottom -20px
      right -40px

      .roadmap__item-time
        margin-bottom 10px

  &--nineth
    width 351px
    height 351px
    background radial-gradient(79.52% 97.44% at 71.79% 94.71%, #59E1FF 0%, #2A6FA0 35.16%, rgba(35, 18, 86, 0.42) 84.94%, rgba(54, 65, 122, 0) 100%)
    top -310px
    right 0

    .roadmap__item-main
      max-width 250px

    .roadmap__item-info
      top -60px
      left -40px

      .roadmap__item-time
        margin-bottom 10px

  &--tenth
    width 287px
    height 287px
    background radial-gradient(77.56% 95.03% at 81.89% 7.85%, #C059FF 0%, #5E2AA0 40.3%, rgba(36, 18, 86, 0.3) 70.28%, rgba(64, 54, 122, 0) 96.3%)
    top -85px
    left 100px

    .roadmap__item-main
      max-width 250px

    .roadmap__item-info
      top -60px
      left -20px

      .roadmap__item-time
        margin-bottom 10px

.roadmap__mobile
  display none

.faq
  margin-bottom 7rem
  padding-top 10rem

.faq__inner
  text-align center
  max-width 1076px
  margin 0 auto
  padding 0 15px

.faq__title
  max-width 90px
  margin 0 auto 5rem

.faq__hidden-blocks
  display none

  &.is-active
    display flex
    flex-wrap wrap
    align-items center

.team
  position relative
  padding-bottom 15rem
  overflow hidden
  padding-top 10rem
  background radial-gradient(108.76% 100% at 50.69% 100%, #0057FF 0.09%, rgba(55, 48, 135, 0.8) 38.29%, rgba(31, 22, 53, 0.4) 71.54%, rgba(35, 23, 47, 0) 99.48%, rgba(30, 21, 48, 0) 99.49%)

.team__inner
  text-align center
  max-width 1076px
  padding 0 15px
  margin 0 auto

.team__title
  max-width 245px
  margin 0 auto 8rem

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled
  opacity 0

.swiper-button-next,
.swiper-button-prev
  top 42% !important
  width 39px !important
  transition all 0.5s

  &::after
    content ""
    width 39px
    height 63px
    background-repeat no-repeat

.swiper-button-next
  right 10% !important

  &::after
    background-image url("../img/icons/arrow-next.svg")

.swiper-button-prev
  left 15% !important

  &::after
    background-image url("../img/icons/arrow-prev.svg")

@import "media/_media-landing.styl"