@import "base/_global"
@import "../includes/modules/accordion/index.styl"
@import "../includes/modules/team-members/index.styl"

.intro
  position relative
  margin-bottom 5rem
  background radial-gradient(75% 54% at -13.43% 9.15%, #1FAEFF 0%, #1157A9 35.16%, rgba(35, 18, 86, 0.2) 88.56%, rgba(54, 65, 122, 0) 100%), radial-gradient(51.48% 90% at 84.71% -31.8%, #0057FF 0.09%, rgba(55, 48, 135, 0.8) 38.29%, rgba(31, 22, 53, 0.4) 71.54%, rgba(35, 23, 47, 0) 99.48%, rgba(30, 21, 48, 0) 99.49%)

.intro__inner
  position relative
  display flex
  align-items center
  justify-content space-between
  max-width 1076px
  padding 23rem 15px 0
  margin 0 auto 200px

.intro__illustration
  position relative
  width 50%
  margin-right 30px

  img
    width 100%

  &-circle
    position absolute
    border-radius 50%
    z-index -1
    width 100%
    height 100%

    &--top
      top -30px
      right 0
      max-width 380px
      max-height 380px
      background radial-gradient(75.59% 104.74% at 38.68% 60%, #1FAEFF 0%, rgba(17, 87, 169, 0.8) 33.33%, rgba(35, 18, 86, 0.2) 68.75%, rgba(54, 65, 122, 0) 100%)

    &--bottom
      bottom -70px
      left -40px
      max-width 230px
      max-height 230px
      background radial-gradient(66.74% 89.57% at 86.09% 5%, #1FAEFF 0%, rgba(17, 87, 169, 0.8) 33.33%, rgba(35, 18, 86, 0.2) 88.18%, rgba(54, 65, 122, 0) 100%)

.intro__info
  max-width 450px
  width 50%

.intro__title
  font-size 4.5rem
  line-height 5.6rem
  margin-bottom 18px

.intro__message
  font-size 1.6rem
  line-height 2rem
  margin-bottom 36px

.intro__social
  margin-top 45px

  &-item
    transition all 0.3s

    &:not(:first-child)
      margin-left 1.5rem

    &:hover
      transform scale(1.2)

.about
  margin-bottom 200px

.about__inner
  display flex
  align-items center
  justify-content space-between
  max-width 1076px
  margin 0 auto
  padding 0 15px

.about__info
  width 50%
  margin-right 15px

.about__illustration
  width 50%
  max-height 470px
  margin-top -150px

.about__title
  margin-bottom 20px

.about__message
  font-size 16px
  line-height 20px

.how-it-works
  background radial-gradient(94% 46.78% at -3.02% 38.56%, #0057FF 0.09%, rgba(55, 48, 135, 0.8) 38.29%, rgba(31, 22, 53, 0.4) 71.54%, rgba(35, 23, 47, 0) 99.48%, rgba(30, 21, 48, 0) 99.49%)
  margin-bottom 215px

.how-it-works__inner
  max-width 1076px
  margin 0 auto
  padding 0 15px

.how-it-works__title
  margin-bottom 10px

.how-it-works__message
  font-size 16px
  line-height 20px
  margin-bottom 50px

.how-it-works__wrapper
  display flex
  align-items center
  justify-content space-between
  margin-bottom 60px

.how-it-works__illustration
  width 50%
  margin-right 30px

  #cardsAnimation
    transform scale(1.5)

.how-it-works__info
  width 50%

.how-it-works__li
  font-size 16px
  line-height 20px
  margin-bottom 17px

  span
    color #4C9FFF
    font-family $fontBlack

  &:last-child
    margin-bottom 0

.how-it-works__button
  text-align center

.benefits
  margin-bottom 250px

.benefits__inner
  display flex
  align-items flex-start
  justify-content space-between
  max-width 748px
  margin 0 auto
  padding 0 15px

.benefits__item
  width 21%

  &-icon
    width 120px
    height 120px
    margin-bottom 36px

    img
      width 100%
      height 100%

  &-info
    font-size 30px
    line-height 37px

.numbers
  background radial-gradient(74.28% 100% at 46.6% 100%, #0057FF 0.09%, rgba(55, 48, 135, 0.8) 38.29%, rgba(31, 22, 53, 0.4) 71.54%, rgba(35, 23, 47, 0) 99.48%, rgba(30, 21, 48, 0) 99.49%)
  padding-bottom 142px
  margin-bottom 100px

.numbers__inner
  max-width 1076px
  margin 0 auto
  padding 0 15px

.numbers__items
  display flex
  align-items flex-start
  justify-content space-between

.numbers__title
  text-align center
  margin-bottom 45px

.numbers__item
  width 230px

  &-title
    font-size 25px
    line-height 31px
    color $white
    margin-bottom 30px

  &-nums
    text-align center
    font-size 60px
    line-height 75px
    padding 15px 41px 13px 46px
    background-image url("../img/numbers/numbers-top.svg"), url("../img/numbers/numbers-bottom.svg")
    background-position top left, bottom right
    background-repeat no-repeat

.advantages
  margin-bottom 100px

.advantages__inner
  max-width 1076px
  margin 0 auto
  padding 0 15px

.advantages__title
  text-align center
  margin-bottom 80px

.advantages__items
  display flex
  align-items flex-start
  justify-content space-between
  column-gap 35px

.advantages__item
  width 25%

  &-img
    height 100px
    text-align center
    margin-bottom 43px

    img
      height 100%

  &-title
    font-size 20px
    line-height 22px
    font-family $fontBold
    margin-bottom 15px
    min-height 65px

    span
      color #4C9FFF
      font-family $fontBold

  &-message
    font-size 16px
    line-height 20px

.roadmap
  #roadmapSlider
    overflow visible

.roadmap__inner
  max-width 1076px
  margin 0 auto
  padding 0 15px

.roadmap__title
  text-align center
  margin-bottom 31px

.roadmap__message
  font-size 16px
  line-height 20px
  max-width 628px
  margin 0 auto 50px

.faq
  position relative
  margin-bottom 7rem
  padding-top 10rem

  &::before
    position absolute
    content ""
    top -80px
    left 50%
    transform translateX(-50%)
    max-width 1120px
    height 1292px
    background-image url("../img/nineth/faq-lines.svg")
    width 100%
    background-repeat no-repeat
    background-position center top
    background-size contain
    z-index -1

.faq__inner
  text-align center
  max-width 722px
  padding 0 15px
  margin 0 auto

.faq__title
  max-width 90px
  margin 0 auto 5rem

.faq__hidden-blocks
  display none

.team
  position relative
  padding-bottom 15rem
  overflow hidden
  padding-top 10rem
  background radial-gradient(80.54% 59.53% at 51.46% 80.48%, #139077 0%, rgba(17, 77, 65, 0.8) 51.56%, rgba(11, 39, 34, 0) 100%)
  background-image url("../img/tenth/team-lines-bg.svg")
  background-repeat no-repeat
  background-position center
  background-size cover

.team__inner
  text-align center
  max-width 943px
  padding 0 15px
  margin 0 auto

.team__title
  max-width 213px
  margin 0 auto 8rem

@import "media/_media-landing.styl"