@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');

@font-face
  font-family "Avengeance"
  src url("../../fonts/avengeance.woff2") format("woff2"), url("../../fonts/avengeance.woff") format("woff")
  font-weight normal
  font-style normal
  font-display swap

$font = "Montserrat", sans-serif
$fontTitle = "Avengeance", sans-serif

@import "../includes/header/index.styl"
@import "../includes/footer/index.styl"
@import "../includes/modules/pictures/index.styl"
@import "_animations.styl"

html,
body
  position relative
  height 100%

html
  box-sizing border-box
  scroll-behavior smooth
  
*,
*::before,
*::after
  box-sizing inherit
  padding 0
  margin 0

body
  position relative
  display flex
  flex-direction column
  font-family $font
  font-weight 400
  background-color pink
  color white
  overflow-x hidden
  background-image url('/img/bg.png')
  background-repeat no-repeat
  background-position center
  background-size cover
  background-attachment fixed

main
  flex 1 0 auto
  user-select none

a
  display inline-block
  text-decoration none
  outline none

  &:focus-visible
    outline solid

p,
span,
ul,
ol,
li,
input,
textarea
  font-family $font
  color black

ul,
li,
ol
  list-style none
  padding 0
  margin 0

h1,
h2,
h3,
h4
  font-family $fontTitle
  font-weight 500
  margin 0
  padding 0
  color $title

h1
  font-size 50px
  line-height 60px
  font-weight 700

h2
  font-size 40px
  line-height 48px

h3
  font-size 20px

h4
  font-size 16px

button
  border none
  outline none
  cursor pointer
  background-color transparent
  color white
  transition all 0.1s

  &:focus-visible
    outline solid

.container
  max-width 810px
  padding 0 15px
  margin 0 auto
  width 100%

  &--lg
    max-width 1150px  
    padding 0 15px
    margin 0 auto
    width 100%

.scroll-block
  overflow hidden

@media (max-width 768px)
  .container
    padding 0 8px