mixin benefits-block(data)
  -
    const blocks = data.list || [];

  .benefits__blocks
    each block in blocks
      .benefits__blocks-wrapper
        .benefits__blocks-img
          img(src=`${block.iconSrc}`, alt=`${block.iconSrc}`)

        .benefits__blocks-info
          h3.benefits__blocks-title= block.title
          p.benefits__blocks-text= block.text