@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap")
@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap")

$font = "Montserrat", sans-serif
$fontTitle = "Oooh Baby", cursive

@import "_vars"
@import "../includes/header/index.styl"
@import "../includes/footer/index.styl"
@import "../includes/modules/form/index.styl"
@import "../includes/modules/button/index.styl"
@import "../includes/modules/pictures/index.styl"
@import "../includes/modules/tabs/index.styl"

html,
body
  position relative
  height 100%

html
  box-sizing border-box
  scroll-behavior smooth
  font-size 62.5% // 1rem =10px; 10px/16px = 62.5%

  @media (max-width 1024px)
    font-size 50% // 1rem =8px; 8px/16px = 50%

  @media (max-width 768px)
    font-size 40% // 1rem = 6.4; 6.4px/16px = 40%

*,
*::before,
*::after
  box-sizing inherit
  padding 0
  margin 0

body
  display flex
  flex-direction column
  font-family $font
  font-weight 400
  background-color $white
  color $text
  overflow-x hidden

main
  flex 1 0 auto

a
  display inline-block
  text-decoration none
  color $link
  outline none

  &:focus-visible
    outline solid

p,
span,
ul,
ol,
li,
input,
textarea
  font-family $font
  color $text

ul,
li,
ol
  list-style none
  padding 0
  margin 0

h1,
h2,
h3,
h4
  font-family $fontTitle
  font-weight 500
  margin 0
  padding 0
  color $title

h1
  font-size 50px
  line-height 60px
  font-weight 700

h2
  font-size 40px
  line-height 48px

h3
  font-size 20px

h4
  font-size 16px

button
  border none
  outline none
  cursor pointer
  background-color transparent
  color $white
  transition all 0.1s

  &:focus-visible
    outline solid

#mainSlider,
.main__wrapper-slide,
#introSlider,
.intro__wrapper-slide
  width 100vw
  height 100vh

.main__slide
  position relative

.main
  overflow hidden

.scroll-block
  overflow hidden

.container
  max-width 1270px
  padding 0 15px
  margin 0 auto

.link-underline
  position relative

  &::after
    position absolute
    content ""
    bottom -2px
    right 0
    height 2px
    width 0
    border-radius 5px
    background linear-gradient(90deg, rgba(235, 30, 30, 0) 0%, rgba(235, 30, 30, 0.4962359943977591) 50%, rgba(235, 30, 30, 1) 100%)
    transition width 0.3s

  &:hover
    &::after
      width 100%
      left 0

.section-title
  font-size 80px
  line-height 0.875
  font-weight 700
  font-family $font
  text-transform uppercase
  color $white

  span
    display block
    font-family $fontTitle
    font-weight 400
    font-size 50px
    line-height 0.98447
    color $orange
    text-transform none

.section-title--black
  font-size 80px
  line-height 0.875
  font-weight 700
  color $text
  font-family $font
  line-height 0.88889
  text-transform uppercase

  span
    font-size 50px
    line-height 0.98447
    font-weight 400
    display block
    font-family $fontTitle
    color $orange
    text-transform none

.section-subtitle
  font-size 25px
  line-height 1.2
  font-weight 300
  color $black
  opacity 0.8

@media (max-width 768px)
  body
    background-size auto

  .header__button
    .button
      font-size 17px !important
      padding 15px 25px !important
