include ../includes/modules/header/index
include ../includes/modules/button/index
include ../includes/modules/pictures/index

doctype html
html(lang="en")
  head
    - var title
          headerButton

    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    block head
    
    title= title

    block styles

  body
    +header()

    main.main(role="main" id="main-content")
      block main

    block scripts