.accordion
  text-align left
  margin-bottom 4rem

.accordion__title
  font-size 16px
  line-height 24px
  letter-spacing 0.01em
  color $white
  opacity 0.7
  display block
  padding 25px 42px
  position relative
  background rgba(255, 255, 255, 0.05)
  border 2px solid rgba(255, 255, 255, 0.1)
  backdrop-filter blur(40px)
  border-radius 24px

  &:hover
    text-decoration none

  .accordion__title-decoration
    display none

  &::after,
  &::before
    content ""
    position absolute
    top 50%
    background-color $white
    transition transform 0.17s ease-in-out
    will-change transform

  &::after
    margin-top -8px
    right 50px
    width 2px
    height 14px

  &::before
    margin-top -2px
    right 44px
    width 14px
    height 2px

  &[aria-selected="true"]
    opacity 1

    &::before
      transform rotate(180deg)

    &::after
      transform rotate(90deg)

.accordion__title h3
  position relative
  display block
  font-weight 400
  font-size 2rem
  line-height 3rem

.accordion__item
  margin-bottom 10px
  background-image none
  transition margin 0.2s

  &:last-child
    margin-bottom 0

  &.is-active
    .accordion__title
      background-image url("../img/faq/active-bg.svg")
      background-repeat no-repeat
      background-size cover
      background-position top center
      border-color transparent

    &:last-child
      margin-bottom 0

.accordion-list
  margin 10px 0 10px 15px

.accordion__body
  display none
  font-weight 300
  font-size 1.4rem
  line-height 1.5
  padding 30px
  max-width 1038px
  margin 0 auto

  p:last-child
    margin-bottom 0

  ol
    padding-left 15px
    margin-top 12px
    margin-bottom 12px

@media (max-width 768px)
  .accordion__title
    h3
      font-size 16px

  .accordion__body
    font-size 12px