@font-face {
  font-family: FranklinGothicBook;
  src: url(../fonts/FranklinGothicBook.ttf);
}
@font-face {
  font-family: Guanine;
  src: url(../fonts/Guanine.ttf);
}
@font-face {
  font-family: PentaBold;
  src: url(../fonts/PentaBold.ttf);
}