extends ../includes/page

include ../includes/modules/form/index

block head
  - var title = "PEGEIA | Lux Residences"

block styles
  link(rel="stylesheet" href="css/libs.min.css")
  link(rel="stylesheet" href="css/landing.min.css")

block scripts 
  script(src="scripts/libs.min.js")
  script(src="scripts/main.js")

block main
  main.intro#mainSlider
    .main__wrapper.swiper-wrapper
      .main__slide.main__slide--intro.swiper-slide(data-hash="home")
        +header()
        .intro__wrapper
          h1.section-title
            span A place where 
            | Affluence Becomes Home
          .intro__date #{new Date().getFullYear()}
          .intro__slider-nav
            .intro__button-prev
            .intro__button-next
          .intro__pagination
        #introSlider
          .swiper-wrapper
            .intro__slide.swiper-slide
              +picture({
                lazy: true,
                path: "./img/intro/intro-img1.png",
                mainAttr: {"class": "intro__slide-img"}
              })
              .swiper-lazy-preloader.swiper-lazy-preloader-white
            .intro__slide.swiper-slide
              +picture({
                lazy: true,
                path: "./img/intro/intro-img2.png",
                mainAttr: {"class": "intro__slide-img"}
              })
              .swiper-lazy-preloader.swiper-lazy-preloader-white
            .intro__slide.swiper-slide
              +picture({
                lazy: true,
                path: "./img/intro/intro-img3.png",
                mainAttr: {"class": "intro__slide-img"}
              })
              .swiper-lazy-preloader.swiper-lazy-preloader-white
            .intro__slide.swiper-slide
              +picture({
                lazy: true,
                path: "./img/intro/intro-img4.png",
                mainAttr: {"class": "intro__slide-img"}
              })
              .swiper-lazy-preloader.swiper-lazy-preloader-white
            .intro__slide.swiper-slide
              +picture({
                lazy: true,
                path: "./img/intro/intro-img5.png",
                mainAttr: {"class": "intro__slide-img"}
              })
              .swiper-lazy-preloader.swiper-lazy-preloader-white

      .main__slide.main__slide--stages.swiper-slide(data-hash="stages")
        .container
          .stages__wrapper
            .stages__title
              h3.section-title--black
                span What are the
                | WORK STAGES?

              p.section-subtitle
                | Here you can check the real time status for every step of building.

            .stages__preview
              .stages__preview-wrapper
                #stagesSlider
                  .swiper-wrapper
                    .stages__slide.swiper-slide
                      #stageInnerSlider1
                        .swiper-wrapper
                          .stages__inner-slide.swiper-slide
                            +picture({
                              lazy: true,
                              path: "./img/stages/stages-preview.png"
                            })
                          .stages__inner-slide.swiper-slide
                            +picture({
                              lazy: true,
                              path: "https://www.shutterstock.com/shutterstock/photos/159086927/display_1500/stock-photo-black-rowan-berries-on-branches-with-red-leaves-on-an-abstract-background-of-autumn-159086927.jpg"
                            })
                          .stages__inner-slide.swiper-slide
                            +picture({
                              lazy: true,
                              path: "https://i.pinimg.com/236x/24/15/21/24152197af38deb718eb730992d441d0.jpg"
                            })


                    .stages__slide.swiper-slide
                      #stageInnerSlider2
                        .swiper-wrapper
                          .stages__inner-slide.swiper-slide
                            +picture({
                              lazy: true,
                              path: "./img/stages/stages-preview.png"
                            })
                          .stages__inner-slide.swiper-slide
                            +picture({
                              lazy: true,
                              path: "https://www.shutterstock.com/shutterstock/photos/159086927/display_1500/stock-photo-black-rowan-berries-on-branches-with-red-leaves-on-an-abstract-background-of-autumn-159086927.jpg"
                            })
                    .stages__slide.swiper-slide
                      #stageInnerSlider3
                        .swiper-wrapper
                          .stages__inner-slide.swiper-slide
                            +picture({
                              lazy: true,
                              path: "./img/stages/stages-preview.png"
                            })
                          .stages__inner-slide.swiper-slide
                            +picture({
                              lazy: true,
                              path: "https://www.shutterstock.com/shutterstock/photos/159086927/display_1500/stock-photo-black-rowan-berries-on-branches-with-red-leaves-on-an-abstract-background-of-autumn-159086927.jpg"
                            })
                    .stages__slide.swiper-slide
                      #stageInnerSlider4
                        .swiper-wrapper
                          .stages__inner-slide.swiper-slide
                            +picture({
                              lazy: true,
                              path: "./img/stages/stages-preview.png"
                            })
                          .stages__inner-slide.swiper-slide
                            +picture({
                              lazy: true,
                              path: "https://www.shutterstock.com/shutterstock/photos/159086927/display_1500/stock-photo-black-rowan-berries-on-branches-with-red-leaves-on-an-abstract-background-of-autumn-159086927.jpg"
                            })
                    .stages__slide.swiper-slide
                      #stageInnerSlider5
                        .swiper-wrapper
                          .stages__inner-slide.swiper-slide
                            +picture({
                              lazy: true,
                              path: "./img/stages/stages-preview.png"
                            })
                          .stages__inner-slide.swiper-slide
                            +picture({
                              lazy: true,
                              path: "https://www.shutterstock.com/shutterstock/photos/159086927/display_1500/stock-photo-black-rowan-berries-on-branches-with-red-leaves-on-an-abstract-background-of-autumn-159086927.jpg"
                            })
                    .stages__slide.swiper-slide
                      #stageInnerSlider6
                        .swiper-wrapper
                          .stages__inner-slide.swiper-slide
                            +picture({
                              lazy: true,
                              path: "./img/stages/stages-preview.png"
                            })
                          .stages__inner-slide.swiper-slide
                            +picture({
                              lazy: true,
                              path: "https://www.shutterstock.com/shutterstock/photos/159086927/display_1500/stock-photo-black-rowan-berries-on-branches-with-red-leaves-on-an-abstract-background-of-autumn-159086927.jpg"
                            })
                    .stages__slide.swiper-slide
                      #stageInnerSlider7
                        .swiper-wrapper
                          .stages__inner-slide.swiper-slide
                            +picture({
                              lazy: true,
                              path: "./img/stages/stages-preview.png"
                            })
                          .stages__inner-slide.swiper-slide
                            +picture({
                              lazy: true,
                              path: "https://www.shutterstock.com/shutterstock/photos/159086927/display_1500/stock-photo-black-rowan-berries-on-branches-with-red-leaves-on-an-abstract-background-of-autumn-159086927.jpg"
                            })
                    .stages__slide.swiper-slide
                      #stageInnerSlider8
                        .swiper-wrapper
                          .stages__inner-slide.swiper-slide
                            +picture({
                              lazy: true,
                              path: "./img/stages/stages-preview.png"
                            })
                          .stages__inner-slide.swiper-slide
                            +picture({
                              lazy: true,
                              path: "https://www.shutterstock.com/shutterstock/photos/159086927/display_1500/stock-photo-black-rowan-berries-on-branches-with-red-leaves-on-an-abstract-background-of-autumn-159086927.jpg"
                            })
                    .stages__slide.swiper-slide
                      #stageInnerSlider9
                        .swiper-wrapper
                          .stages__inner-slide.swiper-slide
                            +picture({
                              lazy: true,
                              path: "./img/stages/stages-preview.png"
                            })
                          .stages__inner-slide.swiper-slide
                            +picture({
                              lazy: true,
                              path: "https://www.shutterstock.com/shutterstock/photos/159086927/display_1500/stock-photo-black-rowan-berries-on-branches-with-red-leaves-on-an-abstract-background-of-autumn-159086927.jpg"
                            })

              .stages__slider-nav
                .stages__button-prev
                .stages__button-next

          .stages__steps
            #stagesSliderThumbs(thumbsSlider)
              .swiper-wrapper
                .stages__slide-thumbs.swiper-slide
                  .thumbs__item.done
                    .thumbs__item-status
                      | Done!
                    .thumbs__item-wrapper
                      .thumbs__item-number
                        | 1

                      .thumbs__item-title
                        | Development of concept, exterior, and interior.

                      .thumbs__item-description
                        | Defining the concept of building houses in collaboration with an architect-designer.

                      span.thumbs__item-more
                        | Learn more

                .stages__slide-thumbs.swiper-slide
                  .thumbs__item.done
                    .thumbs__item-status
                      | Done!
                    .thumbs__item-wrapper
                      .thumbs__item-number
                        | 2

                      .thumbs__item-title
                        | Project development and coordination with government agencies.

                      .thumbs__item-description
                        | Defining the concept of building houses in collaboration with an architect-designer.

                      span.thumbs__item-more
                        | Learn more

                .stages__slide-thumbs.swiper-slide
                  .thumbs__item.done
                    .thumbs__item-status
                      | Done!
                    .thumbs__item-wrapper
                      .thumbs__item-number
                        | 3

                      .thumbs__item-title
                        | Preparation of the construction site.

                      .thumbs__item-description
                        | Defining the concept of building houses in collaboration with an architect-designer.

                      span.thumbs__item-more
                        | Learn more

                .stages__slide-thumbs.swiper-slide
                  .thumbs__item.done
                    .thumbs__item-status
                      | Done!
                    .thumbs__item-wrapper
                      .thumbs__item-number
                        | 4

                      .thumbs__item-title
                        | Installation of monolithic reinforced concrete frames for houses and filling openings with bricks, windows, and doors.

                      .thumbs__item-description
                        | Defining the concept of building houses in collaboration with an architect-designer.

                      span.thumbs__item-more
                        | Learn more

                .stages__slide-thumbs.swiper-slide
                  .thumbs__item
                    .thumbs__item-status
                      | Done!
                    .thumbs__item-wrapper
                      .thumbs__item-number
                        | 5

                      .thumbs__item-title
                        | Laying engineering networks to the house and within rooms involves the following tasks:

                      .thumbs__item-description
                        | Defining the concept of building houses in collaboration with an architect-designer.

                      span.thumbs__item-more
                        | Learn more

                .stages__slide-thumbs.swiper-slide
                  .thumbs__item
                    .thumbs__item-status
                      | Done!
                    .thumbs__item-wrapper
                      .thumbs__item-number
                        | 6

                      .thumbs__item-title
                        | Interior finishing works inside houses according to the interior design involve:

                      .thumbs__item-description
                        | Defining the concept of building houses in collaboration with an architect-designer.

                      span.thumbs__item-more
                        | Learn more

                .stages__slide-thumbs.swiper-slide
                  .thumbs__item
                    .thumbs__item-status
                      | Done!
                    .thumbs__item-wrapper
                      .thumbs__item-number
                        | 7

                      .thumbs__item-title
                        | Exterior finishing of houses in accordance with the exterior design includes...

                      .thumbs__item-description
                        | Defining the concept of building houses in collaboration with an architect-designer.

                      span.thumbs__item-more
                        | Learn more

                .stages__slide-thumbs.swiper-slide
                  .thumbs__item
                    .thumbs__item-status
                      | Done!
                    .thumbs__item-wrapper
                      .thumbs__item-number
                        | 8

                      .thumbs__item-title
                        | Improvement works around the house premises in accordance with the exterior design involve...

                      .thumbs__item-description
                        | Defining the concept of building houses in collaboration with an architect-designer.

                      span.thumbs__item-more
                        | Learn more

                .stages__slide-thumbs.swiper-slide
                  .thumbs__item
                    .thumbs__item-status
                      | Done!
                    .thumbs__item-wrapper
                      .thumbs__item-number
                        | 9

                      .thumbs__item-title
                        | Commissioning of equipment and engineering systems in the house involves...

                      .thumbs__item-description
                        | Defining the concept of building houses in collaboration with an architect-designer.

                      span.thumbs__item-more
                        | Learn more

      .main__slide.main__slide--contact.swiper-slide(data-hash="contact")
        .contact__wrapper
          .contact__download
            .container
              h3.section-title
                span Download the
                | Full designe’s

              .contact__buttons
                button(type="download").button
                  | CLIP.MP4

                button(type="download").button
                  | PDF.EXE

          .contact__main
            .container
              h2.section-title--black
                span Have questions?
                | OUR CONTACTS

              .contact__main-socials
                .item
                  img.item__icon(src="img/icons/phone.svg" alt="Phone")
                  a.item__link(href="tel:+35799742586") +357 99 74 25 86

                .item
                  img.item__icon(src="img/icons/mail.svg" alt="Mail")
                  a.item__link(href="mailto:pegeia@gmail.com") pegeia@gmail.com

                .item
                  img.item__icon(src="img/icons/telegram.svg" alt="Telegram")
                  a.item__link(href="https://t.me/pegeiaresidence" target="blank") @pegeiaresidence

              .contact__main-form
                h3.form__title Leave us your details and we will contact you!
                +form()
                  .form__wrapper
                    +input-name("Name")
                    +input-last-name("Surname")
                    +input-phone("Phone")
                    +input-email("Email")

                  +button(type="submit") Contact me!

          +footer()
