mixin testimonials()
  section.testimonials#testimonials
    .container
      .testimonials__inner
        .section-title.title--gradient
          span
            | Testimonials

        #testimonialsSlider
          .swiper-wrapper
            .swiper-slide
              .testimonials__slider-title
                | MyCasinoApps.net

              .testimonials__slider-description
                | We at MyCasinoApps.net are very happy to be working with Impressario Partners! They have a fantastic and reliable team with a great professional attitude. Thanks to their brilliant new casino and sports betting brand, we're excited for a bright future together!

              a(href="https://www.mycasinoapps.net/" target="_blank").testimonials__slider-link
                | MyCasinoApps.net

            .swiper-slide
              .testimonials__slider-title
                | Creshino

              .testimonials__slider-description
                | BonusManiac recommends Impressario Partners thanks to our positive experience and outstanding results. The friendly support from their managers has significantly strengthened our trust in the platform. This is an excellent choice for those who are looking for a reliable partnership. We highly recommend it!

              a(href="https://bonusmaniac.com/" target="_blank").testimonials__slider-link
                | bonusmaniac.com

            .swiper-slide
              .testimonials__slider-title
                | AskGamblers

              .testimonials__slider-description
                | Would it be cliché to say that working with Impressario Partners has been impressive? We don't care, we'll just say it! All jokes aside, our collaboration with Impressario Partners has been nothing short of exceptional. Regardless of what your needs are, a team of experts will hear you out and go above and beyond for you. Keep up the excellent work!

              a(href="https://www.askgamblers.com/" target="_blank").testimonials__slider-link
                | askgamblers.com

            .swiper-slide
              .testimonials__slider-title
                | Norgecasinohub

              .testimonials__slider-description
                | Impressario Partners has been instrumental in expanding our reach. Their detailed approach to affiliate management and market insights helped us optimize campaigns and boost ROI. Their team is proactive, ensuring our goals are always met.

              a(href="https://norgecasinohub.com/" target="_blank").testimonials__slider-link
                | norgecasinohub.com

            .swiper-slide
              .testimonials__slider-title
                | Mines Game

              .testimonials__slider-description
                | Collaborating with Impressario Partners has exceeded our expectations. Their performance-driven strategies significantly improved traffic quality and engagement on our site. Their expertise and quick support make them a standout partner.

              a(href="https://mines-game.com/" target="_blank").testimonials__slider-link
                | mines-game.com

          .swiper-button-next
          .swiper-button-prev
