mixin testimonials()
  section.testimonials#testimonials
    .container
      .testimonials__inner
        .section-title.title--gradient
          span
            | Testimonials

        #testimonialsSlider
          .swiper-wrapper
            .swiper-slide
              .testimonials__slider-title
                | Paidcasino

              .testimonials__slider-description
                | Certainly. You have the flexibility to refer players to us through various online channels, including social media. During the registration process, kindly specify the method through which you plan to promote Impressario Casino so that we can provide you with optimal support and assistance.

              a(href="#" target="_blank").testimonials__slider-link
                | impressariocasinotrend.com

            .swiper-slide
              .testimonials__slider-title
                | Paidcasino

              .testimonials__slider-description
                | Certainly. You have the flexibility to refer players to us through various online channels, including social media. During the registration process, kindly specify the method through which you plan to promote Impressario Casino so that we can provide you with optimal support and assistance.

              a(href="#" target="_blank").testimonials__slider-link
                | impressariocasinotrend.com

            .swiper-slide
              .testimonials__slider-title
                | Paidcasino

              .testimonials__slider-description
                | Certainly. You have the flexibility to refer players to us through various online channels, including social media. During the registration process, kindly specify the method through which you plan to promote Impressario Casino so that we can provide you with optimal support and assistance.

              a(href="#" target="_blank").testimonials__slider-link
                | impressariocasinotrend.com

            .swiper-slide
              .testimonials__slider-title
                | Paidcasino

              .testimonials__slider-description
                | Certainly. You have the flexibility to refer players to us through various online channels, including social media. During the registration process, kindly specify the method through which you plan to promote Impressario Casino so that we can provide you with optimal support and assistance.

              a(href="#" target="_blank").testimonials__slider-link
                | impressariocasinotrend.com

          .swiper-button-next
          .swiper-button-prev
