@media (max-width 1024px)
  .intro__inner
    padding-top 200px

    .top
      .field
        max-width 350px

    .bottom
      flex-direction column-reverse

      .invited
        max-width 100%
        margin-bottom 40px
        max-height 200px

        &__item
          max-width 33%
          padding-right 35px

          li
            max-width 100%

@media (max-width 768px)
  .intro__inner
    padding-top 150px

    .top
      display flex
      flex-direction column

      .field
        max-width 100%

        &--wallet
          margin-bottom 40px

@media (max-width 650px)
  .intro__inner
    .bottom
      .invited__item
        padding-right 10px

      .purchase__top
        .button
          width 100%
          margin-bottom 10px

      .purchase__bottom
        display flex
        flex-direction column

        .number
          margin-right 0
          width 100%
          margin-bottom 20px

        .button
          width 100%

  .spreadsheet__inner
    padding 0

  .table__wrapper
    overflow auto

  .poweredby-inner
    flex-direction column

  .poweredby-text
    margin-right 0
    margin-bottom 10px