@media (max-width 850px)
  .intro__top
    align-items flex-start

    &-right
      .top
        align-items flex-start
        flex-direction column

        .field
          max-width 100%
          width 100%

          .field__title
            margin-bottom 5px

          &--wallet
            margin-right 0
            margin-bottom 20px

          &__main
            .field__inner
              max-width 100%
              width 100%

              span
                max-width 470px
                width 100%

@media (max-width 768px)
  .intro__inner
    padding-bottom 120px

  .intro__top
    &-right
      .bottom
        flex-direction column

        .reward
          margin-right 0
          order 2

        .invited
          margin-bottom 20px

          &__right
            max-width 359px

            li
              max-width 310px

  .intro__middle
    flex-direction column
    align-items center

    .mint-title
      text-align center

    .mint-blocks
      justify-content center

    &-mint
      margin-right 0

      .mint-blocks
        margin 0 0 50px 0
        width 100%

        .mint-block
          width 43%

    &-slider
      max-width 100%

      .swiper
        overflow visible !important

  .cabinet__blocks-wrapper-fill
    clip-path polygon(50% 0px, 125px 40px, 125px 255px, 50% 294px, 0px 259px, 0px 36px)

@media (max-width 650px)
  .intro__inner
    padding-top 150px

  .intro__top
    flex-direction column
    align-items center

    &-left
      display flex
      align-items center
      margin-right 0
      margin-bottom 50px

      .nft
        margin-bottom 0
        margin-right 30px

  .intro__middle
    flex-direction column
    align-items center

  .spreadsheet__inner
    padding 0

  .table__wrapper
    overflow auto

  .poweredby-inner
    flex-direction column

  .poweredby-text
    margin-right 0
    margin-bottom 10px

@media (max-width 425px)
  .intro__top
    &-left
      flex-direction column

      .nft
        margin-bottom 30px
        margin-right 0

      .qualification__info-first
        width 100%
        margin-bottom 20px

      .qualification__info-second
        justify-content center

        .tooltip
          right 0