@media (max-width 1024px)
  .intro__inner
    padding-top 200px

    .top
      .field
        max-width 350px

    .bottom
      flex-direction column

      .purchase
        margin-bottom 70px

      .invited
        max-width 100%

        &__item
          max-width 33%
          width 100%
          padding-right 5px
          margin-right 10px

        &__list
          max-width 100%
          padding-right 0

          li
            max-width 100%

@media (max-width 768px)
  .intro__inner
    padding-top 150px

    .top
      display flex
      flex-direction column

      .field
        max-width 100%

        &--wallet
          margin-bottom 40px

@media (max-width 650px)
  .intro__inner
    .bottom
      .invited__item
        padding-right 10px

      .purchase__top
        &-inner
          margin-right 0
          margin-bottom 10px

        .button
          width 100%
          margin-bottom 10px

      .purchase__middle 
        .number
          margin-right 0
          width 100%
          margin-bottom 20px

          &__buttons
            max-width 100%
            margin-bottom 50px

            .number__level
              width 35px
              height 35px

          &__progress
            max-width 100%
            margin-bottom 0

      .purchase__bottom
        &-inner
          margin-bottom 10px

      .purchase__top,
      .number,
      .purchase__bottom
        display flex
        flex-direction column

        .button
          width 100%

  .spreadsheet__inner
    padding 0

  .table__wrapper
    overflow auto

  .poweredby-inner
    flex-direction column

  .poweredby-text
    margin-right 0
    margin-bottom 10px