// @media (max-width 1024px)

@media (max-width 768px)
  .intro__inner
    flex-direction column
    padding-top 15rem

    picture,
    img
      width 75%
      text-align center

  .intro__illustration
    width 100%
    margin-right 0
    text-align center

  .intro__info
    text-align center
    width 100%
    max-width 100%

@media (max-width 650px)
  .intro__illustration
    &-circle
      &--top
        max-width 240px
        max-height 240px

      &--bottom
        max-width 150px
        max-height 150px

  .intro__social
    display none

@media (max-width 425px)
  .intro__inner
    picture,
    img
      width 80%

  .intro__illustration
    &-circle
      &--top
        max-width 170px
        max-height 170px

      &--bottom
        max-width 100px
        max-height 100px
  