mixin footer()
  footer.footer
    .container
      .footer__inner
        .footer__left 
          a.footer__logo(href="index.html")
            img(src="img/icons/logo.svg", alt="Logo footer")
          p.footer__desription
            | We offer outstanding gambling experience and turn it into the best deal for every player, full of winning opportunities and fair outcomes. It will help you achieve the desired results in a short time.
          p.footer__desription
            | © 2021 Spades partners All rights reserved

        .footer__menu
          nav.footer__nav
            ul.footer__menu-ul
              li.footer__menu-li.footer__menu-li--title Home
              li.footer__menu-li
                a.footer__menu-link(href="index.html#pass") Comissions
              li.footer__menu-li
                a.footer__menu-link(href="index.html#pass") Brands
              li.footer__menu-li
                a.footer__menu-link(href="index.html#pass") Testimonials
              li.footer__menu-li
                a.footer__menu-link(href="index.html#pass") Why us
              li.footer__menu-li
                a.footer__menu-link(href="index.html#pass") FAQ
            
            .footer__menu-right
              ul.footer__menu-ul
                li.footer__menu-li.footer__menu-li--title Information
                li.footer__menu-li
                  a.footer__menu-link(href="index.html#pass") Terms and Conditions
                li.footer__menu-li
                  a.footer__menu-link(href="index.html#pass") Privacy Policy
                li.footer__menu-li
                  a.footer__menu-link(href="index.html#pass") About us

              ul.footer__menu-ul
                li.footer__menu-li.footer__menu-li--title Contacts
                li.footer__menu-li
                  a.footer__menu-link(href="index.html#pass") Contact Us
                li.footer__menu-li
                  a.footer__menu-link(href="mailto:cooperation@spadespartners.com") cooperation@spadespartners.com

      .footer__socials
        .footer__icons
          each key, value in {'img/icons/Facebook.svg': 'Facebook', 'img/icons/Instagram.svg': 'Instagram', 'img/icons/Linkedin.svg': 'Linkedin', 'img/icons/Twitter.svg': 'Twitter', 'img/icons/Youtube.svg': 'Youtube'}
            a.footer__icons-item(href="#" target="_blank")
              img(src=value, alt=key)