@import 'vars';
@import 'global';

.logo{
  text-align: center;
  margin-top: 4.8rem;
  margin-bottom: 6rem;
}
.wrapper{
  padding: 0 1rem;
  &__inner{
    background-color: $white;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 552px;
    margin: 0 auto 3rem;
    padding: 4.8rem;
  }
  &__title{
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-bottom: 2rem;
  }
  .form{
    .input{
      position: relative;
      &__title{
        display: block;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 2.4rem;
        margin-bottom: .4rem;
      }
      &__input{
        border: 1px solid #AAAAAA;
        border-radius: 4px;
        background-color: $white;
        padding: .45rem .8rem;
        font-size: 1.4rem;
        line-height: 2.1rem;
        margin-bottom: 2rem;
        width: 100%;
        outline: none;
        &::placeholder{
          color: $placeholder;
        }
        &:hover{
          border: 1px solid $grey;
          color: $placeholder;
        }
        &:focus{
          border: 1px solid $grey;
        }
        &.error{
          border: 1px solid $red;
        }
      }
      #email-error,
      #password-error{
        position: absolute;
        // display: none;
        left: .9rem;
        bottom: .3rem;
        color: $red;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.6rem;
      }
    }
    &__rules{
      font-size: 1.2rem;
      line-height: 1.6rem;
      color: #565656;
      max-width: 410px;
      margin-bottom: 1.2rem;
    }
    &__link{
      font-weight: 600;
      font-size: 1.2rem;
      line-height: 1.6rem;
      text-decoration: underline;
      &:hover{
        color: $linkHover;
      }
    }
    .button{
      padding: 1.2rem;
      width: 100%;
      font-weight: 600;
      font-size: 1.4rem;
    }
  }
  .social{
    &__continue{
      position: relative;
      text-align: center;
      margin: 2.4rem 0;
      &::before{
        position: absolute;
        content: '';
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: 1px;
        background-color: #D4D4D4;
      }
      span{
        position: relative;
        color: $grey;
        background-color: $white;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 2.4rem;
        padding: 0 1.2rem;
      }
    }
    &__buttons{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__button{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33.333%;
      border: 1px solid #aaa;
      border-radius: 4px;
      padding: .7rem .8rem;
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 2.4rem;
      &:hover{
        border: 1px solid $black;
      }
      &:not(:first-child){
        margin-left: 1.2rem;
      }
      img{
        height: 2rem;
        width: 2rem;
      }
      span{
        margin-left: .8rem;
      }
    }
  }
}
.weather{
  padding: 0 1rem;
  &__inner{
    background-color: $white;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 552px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  &__city,
  &__temp,
  &__humidity,
  &__wind{
    font-size: 2rem;
    margin-bottom: 1rem;
    span{
      font-weight: 700;
    }
  }
}

@import 'media';