.header
  text-align center
  padding-top 36px
  user-select none

.header__logo
  position relative
  z-index 20

  img
    width 260px

@media (max-width 768px)
  .header
    padding-top 26px

  .header__logo
    img
      width 200px