@import "base/_global"
@import "../includes/modules/price-blocks/index.styl"
@import "../includes/modules/benefits-blocks/index.styl"
@import "../includes/modules/roadmap/index.styl"
@import "../includes/modules/accordion/index.styl"
@import "../includes/modules/team-members/index.styl"

.intro
  position relative
  margin-bottom 50px

  &::before
    position absolute
    content ""
    top 0
    left 0
    width 100%
    height 100%
    background-image url("../img/first/main-bg.webp")
    background-repeat no-repeat
    background-position center
    background-size cover
    z-index -1
    opacity 0.6

.intro__inner
  position relative
  display flex
  align-items center
  justify-content space-between
  max-width 1250px
  min-height 600px
  padding 14rem 15px 15rem
  margin 0 auto

  &::before,
  &::after
    position absolute
    content ""
    background-repeat no-repeat
    background-size contain
    z-index -1

  &::before
    top -50px
    left -15%
    width 100%
    max-width 650px
    height 100%
    background-image url("../img/first/elements-left.svg")
    background-position left
    opacity 0.4

  &::after
    bottom -30px
    left 50%
    width 22px
    height 110px
    transform translate(-50%, 0)
    background-image url("../img/first/scroll.svg")
    background-position center
    opacity 0.5

.intro__info
  max-width 526px
  width 50%

.intro__title
  margin-bottom 5px

.intro__message
  font-weight 300
  font-size 2.4rem
  line-height 2.9rem

.intro__illustration
  display flex
  align-items center
  justify-content space-between
  position relative
  width 50%
  min-width 460px
  height 380px
  background-image url("../img/first/polygon-right.svg")
  background-repeat no-repeat
  background-position 88px 57%
  background-size 330px

  &::after
    position absolute
    top 50%
    right 10px
    content ""
    transform translateY(-50%)
    width 100%
    max-width 5px
    height 100%
    background-image url("../img/first/lines-right.svg")
    background-repeat no-repeat
    background-position center
    background-size contain
    z-index -1

  &-inner
    transform scale(0.75) translateX(25%)
    width 390px

  &-smokebot,
  &-main,
  &-smoketop
    position absolute
    transform translate(-50%, -50%)
    max-width 100%

    img
      max-width 100%

  &-smokebot
    z-index 10

  &-main
    z-index 11
    width 100%

  &-smoketop
    z-index 12
    top -100px !important
    left -100px !important

    img
      max-width 150% !important
      width 150% !important

.results
  background-image url("../img/second/results-bg.svg")
  background-size auto
  background-position center
  background-repeat no-repeat
  margin-bottom 70px

.results__inner
  position relative
  max-width 888px
  margin 0 auto
  padding 50px 27px
  background-image url("../img/second/polygon-center.svg")
  background-size auto
  background-position center
  background-repeat no-repeat

.results__container
  padding 12px 47px 35px
  text-align center
  background linear-gradient(2.29deg, rgba(0, 200, 160, 0.2) 6.98%, rgba(70, 181, 152, 0.0860465) 53.32%, rgba(33, 67, 60, 0) 97.76%)
  clip-path polygon(9% 0, 90% 0, 100% 22%, 100% 77%, 90% 100%, 9% 100%, 0 80%, 0 20%)

.results__title
  font-weight 300
  font-size 3rem
  line-height 3.6rem
  opacity 0.8
  margin-bottom 2.6rem

.results__wrapper
  display flex
  align-items center
  justify-content space-between

.results__block
  padding 2.2rem 1.7rem 3.1rem
  clip-path polygon(20% 0, 80% 0, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0 80%, 0 20%)
  background linear-gradient(0.77deg, rgba(0, 200, 160, 0.7) 1.41%, rgba(70, 181, 152, 0.301163) 51.39%, rgba(35, 57, 53, 0.231) 99.33%)
  max-width 218px
  width 100%

  &:not(:first-child)
    margin-left 4.3rem

  &-title
    font-size 2rem
    line-height 2.4rem
    font-weight 300
    margin-bottom 4px
    color #91B6AE

  &-numbers
    font-weight 700
    font-size 4.5rem
    line-height 5.4rem
    text-shadow 0px 2px 4px rgba(42, 249, 174, 0.69)

.pass
  position relative
  margin-bottom 50px
  padding-top 100px

  &::before,
  &::after
    position absolute
    content ""
    width 100%
    background-repeat no-repeat
    background-size contain
    z-index -1

  &::before
    top 50%
    right 0
    transform translate(0, -50%)
    max-width 1388px
    height 3018px
    background-image url("../img/third/green-light.webp")

  &::after
    bottom -50px
    left 50%
    transform translate(-50%, 0)
    max-width 178px
    height 5px
    background-image url("../img/third/dots.svg")

.pass__inner
  display flex
  align-items center
  justify-content space-between
  max-width 1095px
  padding 0 15px
  margin 0 auto

.pass__info
  position relative
  max-width 500px
  text-align center
  margin-right 25px
  width 50%

  &::before
    position absolute
    top -100px
    left -80px
    content ""
    width 100%
    max-width 569px
    height 644px
    background-image url("../img/third/polygon-left.svg")
    background-repeat no-repeat
    background-size contain
    z-index -1

.pass__title
  max-width 266px
  margin 0 auto 20px

.pass__message
  font-weight 300
  font-size 1.6rem
  line-height 1.9rem
  margin-bottom 32px
  text-align left

.pass__img
  position relative
  width 50%
  background-image url("../img/third/polygon-right.svg")
  background-position 112px 0
  background-repeat no-repeat
  background-size contain

  picture
    width 100%

  img
    max-width 100%

.how-it-works
  position relative
  margin-bottom 6rem
  background-image url("../img/fourth/how-it-works-lines.svg")
  background-repeat no-repeat
  background-position center
  background-size contain
  padding-top 10rem

  &::before
    position absolute
    top -940px
    left 0
    content ""
    width 100%
    max-width 1089px
    height 3018px
    background-image url("../img/fourth/green-light.webp")
    background-repeat no-repeat
    background-position center
    background-size cover
    z-index -1

.how-it-works__inner
  position relative
  max-width 938px
  padding 0 15px
  margin 0 auto

.how-it-works__title
  max-width 234px
  margin 0 auto 60px
  text-align center

.how-it-works__message
  font-weight 300
  font-size 1.6rem
  line-height 2.1rem
  max-width 662px
  margin 0 auto 100px

  &:last-of-type
    margin-bottom 4rem

.how-it-works__button
  text-align center

.how-it-works__main
  position relative
  display flex
  align-items center
  justify-content space-between
  margin-bottom 100px
  transform translateX(-30px)

  .how-it-works__arrows
    .how-it-works__arrow
      position absolute
      display flex
      align-items center
      justify-content space-between
      flex-direction column

      span
        position relative
        width 70px

    #gray-arrow
      top -50px
      left 111px
      width 260px
      height 110px

      #percent1
        top 10px

    #green-arrow
      top -25px
      left 290px
      width 325px
      height 80px

    #yellow-arrow1
      bottom -3px
      left 287px
      width 205px
      height 60px

      span
        position absolute
        bottom -25px

    #yellow-arrow2
      bottom -6px
      right 30px
      width 500px
      height 60px

      span
        position absolute
        bottom -35px

  .number__bank
    display flex
    align-items center
    justify-content center
    font-weight 400
    font-size 3rem
    line-height 3.6rem
    width 150px
    height 190px
    text-shadow 0px 0px 4px #2FE8B0
    background-image url("../img/fourth/bank.svg")
    background-repeat no-repeat
    background-position center
    background-size cover

  .number__single
    position relative
    display flex
    align-items center
    justify-content center
    font-weight 400
    font-size 3.5rem
    line-height 4.2rem
    width 77px
    height 86px
    background-image url("../img/fourth/single.svg")
    background-repeat no-repeat
    background-position center
    background-size cover

    &::before
      position absolute
      top 2px
      left 0
      transform scale(1.2)
      content ""
      width 100%
      max-width 89px
      height 98px
      background-image url("../img/fourth/single-bg.svg")
      background-repeat no-repeat
      background-size contain
      z-index -1

    span
      &::before,
      &::after
        position absolute
        top 50%
        transform translate(-50%, 0)
        content ""
        width 100%
        max-width 16px
        height 1px
        background-color #1C8970
        z-index -1

      &::before
        left -21px

      &::after
        right -37px

  .first__single
    span
      &::before
        left -31px

  .number__double
    position relative
    display flex
    align-items center
    justify-content space-between
    max-width 195px
    width 100%

    &::before,
    &::after
      position absolute
      left 0
      max-width 209px
      height 102px
      content ""
      width 100%
      background-repeat no-repeat
      background-size contain
      z-index -1

    &::before
      top -4px
      transform scale(1.1)
      background-image url("../img/fourth/double-green.svg")

    &::after
      top -8px
      transform scale(1.2)
      background-image url("../img/fourth/double-lines.svg")

    .number__single
      width 77px
      height 86px

      &::before
        content none

      span
        &::before,
        &::after
          content none

.levels
  margin-bottom 3rem
  padding-top 10rem

.levels__inner
  max-width 1112px
  margin 0 auto
  padding 0 15px
  text-align center

.levels__title
  max-width 110px
  margin 0 auto 2.5rem

.levels__message
  font-weight 300
  font-size 2.4rem
  line-height 2.9rem
  opacity 0.8
  margin-bottom 7rem
  text-align center

.benefits
  padding-bottom 17rem
  padding-top 15rem
  background-image url("../img/sixth/benefits-lines.svg")
  background-repeat no-repeat
  background-size cover
  background-position center

.benefits__inner
  position relative
  max-width 1073px
  margin 0 auto
  padding 0 15px
  text-align center

.benefits__title
  max-width 207px
  margin 0 auto
  margin-bottom 6rem

.about
  position relative
  padding-top 20vw
  padding-bottom 10vw
  background-image url("../img/seventh/about-bg.webp")
  background-repeat no-repeat
  background-position center
  background-size cover

.about__inner
  position relative
  max-width 1095px
  padding 0 15px
  margin 0 auto

  &::before
    position absolute
    bottom -230px
    left 50%
    transform translate(-50%, 0)
    content ""
    width 100%
    max-width 42px
    height 178px
    background-image url("../img/seventh/elements-center.svg")
    background-repeat no-repeat
    background-size contain
    z-index -1

.about__info
  position relative
  max-width 546px
  text-align center

  &::before
    position absolute
    top -120px
    left -220px
    content ""
    width 100%
    max-width 567px
    height 574px
    background-image url("../img/seventh/about-lines.svg")
    background-repeat no-repeat
    background-size contain
    z-index -1

.about__title
  max-width 227px
  margin 0 auto 20px

.about__message
  font-weight 300
  font-size 2rem
  line-height 2.4rem
  margin-bottom 32px
  text-align left

.about__img
  position absolute
  top -4px
  right 0
  height 100%
  z-index -1

  img
    max-width 100%

.roadmap
  margin-bottom 12rem
  padding-top 10rem

.roadmap__inner
  max-width 1000px
  padding 0 15px
  margin 0 auto

.roadmap__title
  text-align center
  max-width 220px
  margin 0 auto 6.5rem

.faq
  position relative
  margin-bottom 7rem
  padding-top 10rem

  &::before,
  &::after
    position absolute
    content ""
    width 100%
    background-repeat no-repeat
    background-position center top
    background-size contain
    z-index -1

  &::before
    top -80px
    left 50%
    transform translateX(-50%)
    max-width 1120px
    height 1292px
    background-image url("../img/nineth/faq-lines.svg")

  &::after
    top -2300px
    left 0
    max-width 1154px
    height 3018px
    background-image url("../img/nineth/faq-green.webp")

.faq__inner
  text-align center
  max-width 722px
  padding 0 15px
  margin 0 auto

.faq__title
  max-width 90px
  margin 0 auto 5rem

.faq__hidden-blocks
  display none

.team
  position relative
  padding-bottom 15rem
  overflow hidden
  background-image url("../img/tenth/team-bg.webp")
  background-repeat no-repeat
  background-size cover
  background-position right bottom
  padding-top 10rem

  &::before
    position absolute
    content ""
    width 100%
    bottom -240px
    left 50%
    transform translateX(-50%)
    max-width 1312px
    height 1327px
    background-image url("../img/tenth/team-lines-bg.svg")
    background-repeat no-repeat
    background-size contain
    opacity 0.5
    z-index -1

.team__inner
  text-align center
  max-width 943px
  padding 0 15px
  margin 0 auto

.team__title
  max-width 213px
  margin 0 auto 8rem

@import "media/_media-landing.styl"