mixin footer()
  footer.footer
    .container
      .footer__inner
        .footer__logo
          a.footer__logo-img(href="index.html")
            img(src= "./img/global/logo.svg" alt="Logo")

        nav.footer__menu
          ul.footer__menu-ul
            li.footer__menu-li 
              a(href="#") About us
            li.footer__menu-li 
              a(href="#") Terms & Conditions
            li.footer__menu-li 
              a(href="#") Review
            li.footer__menu-li 
              a(href="#") Media
        
        nav.footer__menu
          ul.footer__menu-ul
            li.footer__menu-li 
              a(href="#") Refund & Cancalation
            li.footer__menu-li 
              a(href="#") Contact Us
            li.footer__menu-li 
              a(href="#") API
            li.footer__menu-li 
              a(href="#") FAQ