.footer
  flex-shrink 0
  padding 80px 0

.footer__inner
  display flex
  align-items center
  justify-content space-between

.footer__menu-li a
  font-size 20px
  line-height 50px
  color $text

  &:hover
    text-decoration underline

@media (max-width 768px)
  .footer__inner
    display block

  .footer__logo
    text-align center
    margin-bottom 80px

  .footer__menu
    padding-left 100px

@media (max-width 768px)
  .footer__menu
    padding-left 0