.levels__blocks
  display flex
  align-items flex-start
  justify-content space-between

.levels__blocks-wrapper
  max-width 198px
  width 100%
  min-height 408px
  padding 4.6rem 2.6rem 6.9rem 2.9rem
  background-size contain
  background-repeat no-repeat

  &:nth-child(1)
    background-image url("../img/fifth/bg-1.svg")

    .levels__blocks-level
      background-size contain
      background-repeat no-repeat
      background-image url("../img/fifth/level-1.svg")
  
  &:nth-child(2)
    background-image url("../img/fifth/bg-2.svg")
    
    .levels__blocks-level
      background-size contain
      background-repeat no-repeat
      background-image url("../img/fifth/level-2.svg")
  
  &:nth-child(3)
    background-image url("../img/fifth/bg-3.svg")
    padding-top 3.5rem
    
    .levels__blocks-level
      background-size contain
      background-repeat no-repeat
      background-image url("../img/fifth/level-3.svg")
      width 72px
      height 84px
      padding 1.3rem 1.7rem 1.9rem 1.8rem
  
  &:nth-child(4)
    background-image url("../img/fifth/bg-4.svg")
    padding-top 3.5rem
    
    .levels__blocks-level
      background-size contain
      background-repeat no-repeat
      background-image url("../img/fifth/level-4.svg")
      width 72px
      height 84px
      padding 1.3rem 1.7rem 1.9rem 1.8rem

  &:nth-child(5)
    background-image url("../img/fifth/bg-5.svg")
    filter drop-shadow(0px 0px 130px #1CCFA3)
    padding-top 2.9rem
    
    .levels__blocks-level
      background-size contain
      background-repeat no-repeat
      background-image url("../img/fifth/level-5.svg")
      width 78px
      height 90px
      padding 1.6rem 1.3rem 2.2rem 1.2rem

.levels__blocks-level
  text-align center
  padding 0.7rem 0.5rem 1.35rem 0.4rem
  width 62px
  height 73px
  margin 0 auto 2.25rem

  span
    display block

    &:first-child
      font-weight 500
      font-size 3rem
      line-height 3.6rem

    &:nth-child(2)
      font-weight 300
      font-size 1.4rem
      line-height 1.7rem

.levels__blocks-price
  font-weight 700
  font-size 3.5rem
  line-height 4.2rem
  text-shadow 0px 2px 2px #0B8C72
  margin-bottom 3rem

.levels__blocks-text
  font-weight 300
  font-size 1.6rem
  line-height 1.9rem
  text-align left
  margin-bottom 4rem