doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title airSlate
    link(rel="stylesheet", href="css/libs.min.css")
    link(rel="stylesheet", href="css/style.min.css")

  body
    header.logo
      a(href="#").logo__img
        img(src="img/logo.svg", alt="logo")
    main.wrapper
      .wrapper__inner
        h2.wrapper__title Log in to airSlate
        form#form.form(action="#")
          .input
            label(for="email").input__title Email address
            input#email.input__input(type="email", name="email", placeholder="name@email.com" required)
          .input
            label(for="password").input__title Password
            input#password.input__input(type="password", name="password", placeholder="Enter password" required)
          p.form__rules.
            By clicking Log in, you agree to the #[a(href="#").form__link Terms of Services] and #[a(href="#").form__link  Privacy Policy], including receipt of emails from of us about our service.
          button(type="submit")#btnSend.button Log in
        .social
          div.social__continue
            span or continue with your social accounts
          .social__buttons
            each key, value in {'img/facebook.svg': 'Facebook', 'img/google.svg': 'Google', 'img/apple.svg': 'Apple'}
              button.social__button
                img(src=value, alt=key)
                span= key
    section.weather
      .weather__inner
        h2.weather__city Weather in: 
          span#city
        p.weather__temp Temperature: 
          span#temp °C
        p.weather__humidity Humidity: 
          span#humidity
        p.weather__wind Wind: 
          span#wind km/h


    script(src="js/libs.min.js")
    script(src="js/main.js")