// main colors
$white = #fff
$black = #414141
$bg = #0E0F10
$grey = #808080
$placeholder = #959595
$blue = #2E3DBE
$red = #E15554
$orange = #ff9000
$link = #45688f
$text = rgba(255, 255, 255, 0.5)
$greenBtn = #00A99C

// hover
$greenBtnHover = #059185
$linkHover = #6683A3