.intro__middle-slider
  max-width 660px
  width 100%

  .swiper
    .swiper-scrollbar-drag
      background-color #276259 !important

    .swiper-slide
      display block
      width 140px

.carousel-cabinet-blocks
  display flex
  align-items flex-start

.cabinet__blocks-wrapper
  position relative
  width 110px
  height 262px
  padding 3.4rem 1.7rem 3.4rem 1.6rem
  clip-path polygon(50% 0%, 100% 12.5%, 100% 87.5%, 50% 100%, 0 87.5%, 0 12.5%)
  background-color rgba(58, 255, 216, 0.3)

.cabinet__blocks-wrapper-inner
  position absolute
  display flex
  align-items center
  flex-direction column
  justify-content space-around
  top 1px
  left 1px
  padding 3.4rem 1.7rem 3.4rem 1.6rem
  width 108px
  height 260px
  clip-path polygon(50% 0%, 100% 12.5%, 100% 87.5%, 50% 100%, 0 87.5%, 0 12.5%)
  background-color #1D2126
  background-size 85%
  background-repeat no-repeat
  background-position center 13px

.cabinet__blocks-wrapper-fill
  position absolute
  top 5px
  bottom 5px
  left 5px
  right 5px
  clip-path polygon(50% 0,135px 41px,135px 278px,50% 318px,0 280px,0 39px)
  z-index -2

  .blocks-fill
    position absolute
    content ''
    bottom 0
    left 0
    right 0
    height 100%
    width 100%
    background-image linear-gradient(0deg, rgba(0, 214, 175, 0.5) 10%, rgba(0, 214, 175, 0.5) 30%, rgba(44, 163, 147, 0.5) 50%, rgba(44, 163, 147, 0.5) 70%, rgba(44, 163, 147, 0.02) 100%)

.cabinet__blocks-text
  & span
    display block
    text-align center

    &:first-child
      font-weight 700
      font-size 16px
      line-height 19px
      letter-spacing 0.035em
      margin-bottom 10px

    &:nth-child(2)
      font-weight 300
      font-size 12px
      line-height 14px
      letter-spacing 0.035em

.cabinet__blocks-percentage
  & span
    font-weight 300
    font-size 14px
    line-height 17px
    letter-spacing 0.035em

.swiper-wrapper
  margin-bottom 20px !important

@media (max-width 1024px)
  .cabinet__blocks-wrapper-fill
    clip-path polygon(50% 0,130px 40px,125px 268px,50% 304px,0 268px,0 37px)
